Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

Fix snapshot creation with incomplete query scores
  app/assets/javascripts/services/docCacheSvc.js
  app/assets/javascripts/services/querySnapshotSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/snapshot_api.js
  app/javascript/utils/snapshot_hydration.js
  docs/manual-testing/tracking.yml
  spec/javascripts/angular/services/querySnapshotSvc_spec.js
  test/javascript/utils/snapshot_hydration.test.js
Due: eslint, prettier

Remove Angular compilation island from query results
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/search_results_template.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
Due: eslint, prettier

Move diff state out of Angular
  app/assets/javascripts/services/queryViewSvc.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/quepid_store.js
  app/javascript/stores/diff_state_store.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/stores/diff_state_store.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Remove Angular snapshot searcher adapters
  app/assets/javascripts/services/qscore_service.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/querySnapshotSvc.js
  app/assets/javascripts/services/snapshotSearcherSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/snapshot_searcher.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/snapshotSearcherSvc_spec.js
  test/javascript/utils/snapshot_searcher.test.js
Due: eslint, prettier

refactor(core): remove query delete Angular bridge and fix clone try selection
  app/assets/javascripts/services/queriesSvc.js
  app/controllers/api/v1/clone/cases_controller.rb
  app/javascript/controllers/queries_list_controller.js
  docs/manual-testing/tracking.yml
  test/controllers/api/v1/clone/cases_controller_test.rb
  test/javascript/controllers/queries_list_controller.test.js
Due: rubocop, eslint, prettier

refactor(core): remove query delete Angular bridge and fix clone try selection
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/stores/query_collection_store.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/search_results_controller.test.js
  test/javascript/stores/query_collection_store.test.js
Due: eslint, prettier

refactor(core): move query command routing out of Angular
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/query_command_bridge_controller.js
  app/javascript/core_stimulus.js
  app/views/layouts/core.html.erb
  docs/manual-testing/tracking.yml
  test/javascript/controllers/query_command_bridge_controller.test.js
Due: eslint, prettier

refactor(core): extract live search orchestration from Angular
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_service.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/query_service.test.js
Due: eslint, prettier

refactor(core): move query collection read model behind store
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/stores/query_collection_store.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/stores/query_collection_store.test.js
Due: eslint, prettier

refactor(core): extract query model from Angular service
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_model.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/query_model.test.js
  vitest.config.js
Due: eslint, prettier

fix(core): preserve rejected snapshot search failures
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_model.js
  app/javascript/utils/query_runtime.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/query_runtime.test.js
  vitest.config.js
Due: eslint, prettier

refactor(core): delegate snapshot searches to query runtime
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/utils/query_runtime.js
  docs/manual-testing/tracking.yml
Due: eslint, prettier

refactor(core): extract query searcher construction from Angular
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_service.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/query_service.test.js
Due: eslint, prettier

refactor(core): extract rated-document runtime from Angular
  app/assets/javascripts/directives/countUp.js
  app/assets/javascripts/directives/quepidCollapse.js
  app/assets/javascripts/directives/quepidSortable.js
  app/assets/javascripts/filters/caseType.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/angular_app.js
  app/javascript/utils/bs_tooltip.js
  app/javascript/utils/query_runtime.js
  app/javascript/utils/query_service.js
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/directives/countUp_spec.js
  spec/javascripts/angular/directives/quepidCollapse_spec.js
  spec/javascripts/angular/directives/quepidSortable_spec.js
  spec/javascripts/mock/mockHelpers.js
  test/javascript/utils/query_runtime.test.js
Due: eslint, prettier

refactor(core): move snapshot diff hydration behind framework-free registry
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_runtime.js
  app/javascript/utils/snapshot_searcher.js
  config/importmap.rb
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/snapshot_bridge_controller.test.js
Due: rubocop, eslint, prettier

refactor(core): extract case scoring runtime from Angular
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_scoring.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/query_scoring.test.js
Due: eslint, prettier

bit of hardening
  app/services/llm_judge_adapters/jev.rb
  test/services/llm_judge_adapters/jev_test.rb
Due: rubocop

refactor(core): extract case scoring runtime from Angular
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/move_query_core_controller.js
  app/javascript/controllers/query_command_bridge_controller.js
  app/javascript/controllers/query_delete_controller.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/controllers/query_command_bridge_controller.test.js
Due: eslint, prettier

refactor(core): extract framework-free case runtime from Angular bundle
  DEVELOPER_GUIDE.md
  Procfile.dev
  app/javascript/angular_app.js
  app/javascript/case_runtime.js
  app/views/layouts/core.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  package.json
Due: eslint

refactor(core): centralize Angular service compatibility seam
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/utils/core_angular_adapter.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/utils/core_angular_adapter.test.js
Due: eslint, prettier

refactor(core): route case diff resets through shared store
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/utils/core_angular_adapter.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
Due: eslint, prettier

refactor(core): remove injector lookups from case controllers
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/utils/core_angular_adapter.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/utils/core_angular_adapter.test.js
Due: eslint, prettier

refactor(core): replace Angular event relays with native events
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/settingsSvc.js
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/services/caseSvc_spec.js
Due: eslint, prettier

refactor(core): replace Angular event relays with native events
  app/assets/javascripts/factories/broadcastSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/ratingsStoreSvc.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/services/ratingsStoreSvc_spec.js
  test/javascript/stores/diff_state_store.test.js
Due: eslint, prettier

chore(core): remove unused Angular case services
  app/assets/javascripts/services/clipboardSvc.js
  app/assets/javascripts/services/quepidModalSvc.js
  app/assets/javascripts/services/rateScaleSvc.js
  app/assets/stylesheets/bootstrap5-compat.css
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/quepidModalSvc_spec.js
  spec/javascripts/angular/services/rateScaleSvc_spec.js
Due: eslint, prettier

chore(core): remove dead Angular snapshot and bootstrap services
  app/assets/javascripts/factories/snapshotFactory.js
  app/assets/javascripts/services/bootstrapSvc.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/utils/case_csv.js
  app/javascript/utils/core_angular_adapter.js
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/factories/snapshotFactory_spec.js
  spec/karma/config/unit.js
  test/javascript/controllers/core_bootstrap_controller.test.js
Due: eslint, prettier

refactor(core): remove unused Angular services
  app/assets/javascripts/mode-json.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/queryViewSvc.js
  app/assets/javascripts/services/searchErrorTranslatorSvc.js
  app/javascript/quepid_app.js
  app/javascript/quepid_search.js
  app/javascript/utils/search_error.js
  config/javascript_lint_scope.mjs
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/searchErrorTranslatorSvc_spec.js
  test/javascript/utils/search_error.test.js
  vitest.config.js
Due: eslint, prettier

chore(core): remove unused Angular services and extract framework-free utilities
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/bookSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/varExtractorSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/book_sync.js
  app/javascript/utils/curator_vars.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/varExtractorSvc_spec.js
  test/javascript/utils/book_sync.test.js
  test/javascript/utils/curator_vars.test.js
  vitest.config.js
Due: eslint, prettier

refactor(core): extract query and book sync runtimes from Angular
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/book_sync.js
  app/javascript/utils/query_runtime.js
  app/views/shared/_judgements_core_modal.html.erb
  config/importmap.rb
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/utils/book_sync.test.js
  test/javascript/utils/query_runtime.test.js
  test/javascript/utils/targeted_search.test.js
Due: rubocop, eslint, prettier

Deangularize pane layout and remove ratings store service
  app/assets/javascripts/services/paneSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/ratingsStoreSvc.js
  app/assets/javascripts/values/eastPaneWidth.js
  app/javascript/controllers/case_toolbar_controller.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/pane_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/core_angular_adapter.js
  app/views/core/index.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/services/ratingsStoreSvc_spec.js
  test/javascript/controllers/case_toolbar_controller.test.js
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/pane_controller.test.js
  test/playwright/case_header_rename.spec.ts
Due: eslint, prettier

refactor: extract snapshot cache, import, and payload runtimes
  app/assets/javascripts/services/docCacheSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/querySnapshotSvc.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/quepid_search.js
  app/javascript/splainer_search_adapter.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/doc_cache.js
  app/javascript/utils/snapshot_import.js
  app/javascript/utils/snapshot_payload.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/docCacheSvc_spec.js
  spec/javascripts/angular/services/querySnapshotSvc_spec.js
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/utils/core_angular_adapter.test.js
  test/javascript/utils/doc_cache.test.js
  test/javascript/utils/snapshot_import.test.js
  test/javascript/utils/snapshot_payload.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

refactor(core): move snapshot lifecycle to Stimulus bridge
  app/assets/javascripts/services/querySnapshotSvc.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/controllers/take_snapshot_core_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/core_angular_adapter.js
  app/views/shared/_take_snapshot_core_modal.html.erb
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/querySnapshotSvc_spec.js
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/playwright/snapshots_and_annotations.spec.ts
Due: eslint, prettier

refactor(core): expand query collection store read model
  app/javascript/controllers/queries_list_controller.js
  app/javascript/stores/query_collection_store.js
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/stores/query_collection_store.test.js
Due: eslint, prettier

refactor(core): move query list rendering onto collection read model
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_command_bridge_controller.js
  app/javascript/quepid_search.js
  app/javascript/stores/query_collection_store.js
  app/javascript/utils/query_documents.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/query_command_bridge_controller.test.js
  test/javascript/stores/query_collection_store.test.js
  test/javascript/utils/query_documents.test.js
  vitest.config.js
Due: eslint, prettier

refactor(core): move query controllers behind explicit capabilities
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_command_bridge_controller.js
  app/javascript/quepid_search.js
  docs/manual-testing/tracking.yml
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/query_command_bridge_controller.test.js
Due: eslint, prettier

refactor(core): remove obsolete queryState capability aliases
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/quepid_search.js
  docs/manual-testing/tracking.yml
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
Due: eslint, prettier

refactor(core): extract live query search runtime
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_search.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/live_query_search.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

refactor(core): isolate live query model adapters
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_model.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  test/javascript/utils/live_query_model.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

refactor(core): isolate live query lifecycle orchestration
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_lifecycle.js
  app/javascript/utils/live_query_runtime.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  test/javascript/utils/live_query_lifecycle.test.js
  test/javascript/utils/live_query_runtime.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
