Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Consolidate core JavaScript runtime and migration documentation
  DEVELOPER_GUIDE.md
  Procfile.dev
  app/assets/javascripts/footer.js
  app/assets/stylesheets/qscore.css
  app/javascript/ace_config.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/qscore_query_controller.js
  app/javascript/core_vendor.js
  app/javascript/footer.js
  app/javascript/jquery_bundle.js
  app/javascript/tour.js
  app/javascript/utils/scoring.js
  app/views/core/index.html.erb
  app/views/layouts/core.html.erb
  bin/legacy-eslint-staged
  bin/legacy-prettier-staged
  config/javascript_lint_scope.mjs
  docs/README.md
  docs/js_tooling.md
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/QUEPID_FEATURES.md
  docs/todo/angularjs_removal_inventory.md
  docs/todo/deangularization_execution_plan.md
  docs/todo/dry_opportunities.md
  docs/todo/event_bus_inventory.md
  docs/todo/todo.md
  eslint.config.mjs
  lib/tasks/quepid.rake
  package.json
  renovate.json
  test/javascript/controllers/case_toolbar_controller.test.js
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/qscore_query_controller.test.js
  test/javascript/controllers/query_unrated_badge_controller.test.js
  test/javascript/stores/case_score_store.test.js
  test/playwright/case_shell_navigation.spec.ts
  yarn.lock
Due: eslint, prettier

refactor(js): share search-engine capability checks
  AGENTS.md
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/take_snapshot_core_controller.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/query_runtime.js
  app/javascript/utils/query_service.js
  app/javascript/utils/rated_docs.js
  app/javascript/utils/search_endpoint_runtime.js
  app/javascript/utils/search_engine_name.js
  app/javascript/utils/search_engines.js
  app/javascript/utils/settings_catalog_runtime.js
  config/importmap.rb
  test/javascript/utils/search_engine_name.test.js
  test/javascript/utils/search_engines.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

test: cover admin, scorer, and core controller authorization flows
  app/constraints/admin_constraint.rb
  app/controllers/core_controller.rb
  test/constraints/admin_constraint_test.rb
  test/controllers/core_controller_test.rb
  test/controllers/scorers_controller_test.rb
  test/playwright/tsconfig.json
Due: rubocop

Fix client scorer max helper and score capping
  app/javascript/utils/scorer_runtime.js
  docs/complete_application_specification.md
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/QUEPID_FEATURES.md
  test/javascript/utils/scorer_runtime.test.js
Due: eslint, prettier

Harden Stimulus wizard and refresh core UI coverage
  app/javascript/controllers/wizard_controller.js
  app/javascript/tour.js
  app/javascript/utils/core_capabilities_runtime.js
  app/javascript/utils/scorer_runtime.js
  app/views/core/_tune_relevance.html.erb
  app/views/shared/_wizard_modal.html.erb
  docs/manual-testing/03-case-management.md
  docs/manual-testing/07-search-endpoints-and-mapper-wizard.md
  docs/test_suite_review_2026-09-29.md
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/QUEPID_FEATURES.md
  docs/todo/todo.md
  test/javascript/controllers/wizard_controller.test.js
  test/javascript/utils/scorer_runtime.test.js
  test/playwright/angular_case_helpers.ts
  test/playwright/angular_pages.spec.ts
  test/playwright/angular_pages_narrow_viewport.spec.ts
  test/playwright/baselines/angular_pages.spec.ts/wizard-04-endpoint-accordion.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-04-endpoint-step.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-06-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-07-share-case-modal.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-08-query-filter-focused.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-01-wizard-endpoint-accordion.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-01-wizard-endpoint-step.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-02-case-loaded.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-03-relevancy-dropdown.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-04-share-case-modal.png
  test/playwright/wizard_completion.spec.ts
Due: eslint, prettier

polish up the UI a bit based on feedback
  app/assets/stylesheets/judgements.css
  app/controllers/books_controller.rb
  app/helpers/avatar_helper.rb
  app/models/book.rb
  app/models/concerns/profile.rb
  app/views/books/_judge_activity_row.html.erb
  app/views/books/_linked_cases_list.html.erb
  app/views/books/judge_overview.html.erb
  app/views/books/show.html.erb
  app/views/home/case_prophet.html.erb
Due: rubocop

polish up the UI a bit based on feedback (#1805)
  app/assets/stylesheets/judgements.css
  app/controllers/books_controller.rb
  app/helpers/avatar_helper.rb
  app/models/book.rb
  app/models/concerns/profile.rb
  app/views/books/_judge_activity_row.html.erb
  app/views/books/_linked_cases_list.html.erb
  app/views/books/judge_overview.html.erb
  app/views/books/show.html.erb
  app/views/home/case_prophet.html.erb
Due: rubocop

Tighten core UI accessibility, import redirect, and rating/score edge cases
  app/controllers/api/v1/import/cases_controller.rb
  app/controllers/api/v1/queries/ratings_controller.rb
  app/controllers/scores_controller.rb
  app/javascript/controllers/bulk_judgement_controller.js
  app/javascript/controllers/diff_core_controller.js
  app/javascript/controllers/import_case_controller.js
  app/javascript/controllers/search_results_template.js
  app/javascript/utils/detailed_document_modal.js
  app/services/case_score_manager.rb
  app/views/api/v1/import/cases/create.json.jbuilder
  app/views/bulk_judge/new.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/api/v1/import/cases_controller_test.rb
  test/controllers/api/v1/queries/ratings_controller_test.rb
  test/controllers/cases_controller_test.rb
  test/javascript/controllers/bulk_judgement_controller.test.js
  test/javascript/controllers/import_case_controller.test.js
  test/javascript/controllers/search_results_template.test.js
  test/javascript/controllers/tune_relevance_controller.test.js
  test/javascript/utils/detailed_document_modal.test.js
  test/javascript/utils/json_explorer.test.js
  test/playwright/stimulus_pages.spec.ts
  test/services/case_score_manager_test.rb
Due: rubocop, eslint, prettier

Add qdrant search engine (#1789)
  app/models/mapper_based_search_engine.rb
  db/mapper_based_search_engines/qdrant.js
  docs/endpoints_qdrant.md
  public/images/qdrant-icon.png
  public/images/qdrant.png
  test/controllers/api/v1/mapper_based_search_engines_controller_test.rb
  test/lib/qdrant_mapper_test.rb
  test/models/mapper_based_search_engine_test.rb
Due: rubocop, eslint

AI Judges: judges are handed a scale, not a book
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/jobs/run_judge_judy_job.rb
  app/models/judge_scale.rb
  app/models/llm_provider.rb
  app/services/judgement_finalizer.rb
  app/services/llm_judge_adapters/base.rb
  app/services/llm_judge_adapters/jev.rb
  app/services/llm_service.rb
  app/views/ai_judges/_form.html.erb
  docs/adr/0001-llm-judge-provider-architecture.md
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  docs/todo/jev_llm_judge.md
  lib/tasks/sample_data.thor
  test/controllers/ai_judges/wizard_controller_test.rb
  test/controllers/ai_judges_controller_test.rb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
  test/jobs/run_judge_judy_job_test.rb
  test/models/judge_scale_test.rb
  test/models/llm_provider_test.rb
  test/services/judgement_finalizer_test.rb
  test/services/llm_judge_adapters/jev_test.rb
  test/services/llm_judge_adapters_test.rb
  test/services/llm_service_test.rb
Due: rubocop, eslint, prettier

Order scorers by id when picking the book scale dropdown's representative
  app/helpers/books_helper.rb
Due: rubocop

Order scorers by id when picking the book scale dropdown's representative (#1806)
  app/helpers/books_helper.rb
Due: rubocop

Enforce ESLint/Prettier on classic core scripts; fix json_explorer, add core registration test
  .circleci/config.yml
  .githooks/pre-commit
  .pre-commit-config.yaml
  DEVELOPER_GUIDE.md
  app/javascript/ace_config.js
  app/javascript/footer.js
  app/javascript/tour.js
  app/javascript/utils/json_explorer.js
  bin/legacy-eslint-staged
  bin/legacy-prettier-staged
  config/javascript_lint_scope.mjs
  docs/js_tooling.md
  docs/todo/todo.md
  eslint.config.mjs
  package.json
  scripts/filter_javascript_prettier_paths.mjs
  test/javascript/core_stimulus_registration.test.js
  test/javascript/utils/json_explorer.test.js
Due: eslint, prettier

Centralize HTML escaping; stop hand-escaping markup in core JS
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/match_explain_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/scorer_scale_controller.js
  app/javascript/controllers/search_results_template.js
  app/javascript/quepid_dom.js
  app/javascript/utils/html.js
  app/javascript/utils/json_explorer.js
  docs/todo/todo.md
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/scorer_scale_controller.test.js
  test/javascript/controllers/search_results_template.test.js
  test/javascript/utils/html.test.js
  test/javascript/utils/json_explorer.test.js
  vitest.config.js
Due: eslint, prettier

Move showAlert/clearAlert into ModalTriggerControllerBase
  app/javascript/controllers/clone_case_core_controller.js
  app/javascript/controllers/core_modal_trigger_controller_base.js
  app/javascript/controllers/pick_scorer_core_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/controllers/take_snapshot_core_controller.js
  docs/todo/todo.md
  test/javascript/controllers/core_modal_trigger_controller_base.test.js
Due: eslint, prettier

Surface HTTP failures via HttpError/postJson; remove dead core CSS
  Dockerfile.prod
  app/assets/stylesheets/animation.css
  app/assets/stylesheets/cases.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/core.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/settings.css
  app/javascript/api/http_error.js
  app/javascript/api/json.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/search_result_controller.js
  app/javascript/utils/core_capabilities_runtime.js
  app/views/shared/_import_ratings_core_modal.html.erb
  audit_css.js
  build_css.js
  config/importmap.rb
  docs/js_tooling.md
  docs/todo/todo.md
  stryker.config.mjs
  test/javascript/api/json.test.js
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/controllers/mapper_wizard_controller.test.js
  test/javascript/utils/core_capabilities_runtime.test.js
  test/playwright/core_smoke.spec.ts
  vitest.config.js
Due: rubocop, eslint, prettier

Catch the Ruby version bumps Renovate's grouping was missing
  .circleci/config.yml
  Dockerfile.prod
  renovate.json
Due: none

Expand frontend regression coverage and remove unused code
  app/helpers/application_helper.rb
  app/helpers/home_helper.rb
  app/javascript/utils/book_sync.js
  app/javascript/utils/browse_query.js
  app/javascript/utils/diff_results.js
  app/javascript/utils/live_query_collection.js
  app/javascript/utils/tune_relevance.js
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/helpers/home_helper_test.rb
  test/javascript/controllers/query_notes_controller.test.js
  test/javascript/controllers/query_options_core_controller.test.js
  test/javascript/controllers/wizard_launcher_controller.test.js
  test/javascript/stores/diff_state_store.test.js
  test/javascript/stores/query_collection_store.test.js
  test/javascript/stores/query_documents_store.test.js
  test/javascript/utils/book_sync.test.js
  test/javascript/utils/browse_query.test.js
  test/javascript/utils/curator_vars.test.js
  test/javascript/utils/detailed_document_modal.test.js
  test/javascript/utils/diff_results.test.js
  test/javascript/utils/live_query_collection.test.js
  test/javascript/utils/live_query_lifecycle.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/query_runtime.test.js
  test/javascript/utils/query_service.test.js
  test/javascript/utils/scorer_runtime.test.js
  test/javascript/utils/search_error.test.js
  test/javascript/utils/targeted_search.test.js
  test/javascript/utils/tune_relevance.test.js
Due: rubocop, eslint, prettier

Expand controller regression tests and remove unused mapper helper
  app/models/mapper_wizard_state.rb
  docs/todo/todo.md
  test/controllers/mapper_wizards_controller_test.rb
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/frog_report_controller.test.js
  test/javascript/controllers/import_case_controller.test.js
  test/javascript/controllers/query_delete_controller.test.js
  test/models/mapper_wizard_state_test.rb
Due: rubocop, eslint

Fix snapshot CSV import dropping rows with commas
  CHANGELOG.md
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/utils/csv.js
  app/javascript/utils/live_query_runtime_owner.js
  docs/js_tooling.md
  docs/manual-testing/03-case-management.md
  docs/manual-testing/tracking.yml
  stryker.config.mjs
  test/javascript/controllers/diff_core_controller.test.js
  test/javascript/controllers/import_snapshot_controller.test.js
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/controllers/mapper_wizard_controller.test.js
  test/javascript/utils/csv.test.js
  vitest.config.js
Due: eslint, prettier

AI Judges: rename needs_book? to needs_scale?, gate on an empty scale
  test/controllers/ai_judges/wizard_controller_test.rb
Due: rubocop

Tighten LLM-judge comments: why not what, no incident narration
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/ai_judges_controller.rb
  app/controllers/concerns/book_scorer_assignment.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/models/ai_judge.rb
  app/models/llm_provider.rb
  app/services/judgement_finalizer.rb
  app/services/llm_judge_adapters/base.rb
  test/controllers/ai_judges/wizard_controller_test.rb
  test/models/llm_provider_test.rb
  test/services/llm_judge_adapters_test.rb
Due: rubocop, eslint, prettier

Bump dev postgres container to PostgreSQL 18
  docker-compose.yml
  docs/running_with_postgresql.md
Due: none

Judge Activity: scope broadcasts to one row, skip no-op polls
  app/assets/javascripts/services/bookSvc.js
  app/javascript/controllers/judge_activity_poll_controller.js
  app/jobs/broadcast_judge_activity_job.rb
  test/javascript/controllers/judge_activity_poll_controller.test.js
  test/jobs/broadcast_judge_activity_job_test.rb
Due: rubocop, eslint, prettier

Bump dev postgres container to PostgreSQL 18 (#1819)
  docker-compose.yml
  docs/running_with_postgresql.md
Due: none

better default case
  lib/tasks/sample_data.thor
Due: none

Harden ratings imports and query bootstrap errors; expand frontend tests
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/utils/live_query_collection.js
  docs/js_tooling.md
  test/javascript/controllers/import_ratings_core_controller.test.js
  test/javascript/controllers/share_entity_controller_base.test.js
  test/javascript/controllers/team_member_autocomplete_controller.test.js
  test/javascript/utils/csv.test.js
  test/javascript/utils/live_query_collection.test.js
Due: eslint, prettier

Refactor core UI to use Stimulus targets and actions
  .github/workflows/test.yml
  DEVELOPER_GUIDE.md
  app/javascript/controllers/diff_core_controller.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/move_query_core_controller.js
  app/javascript/controllers/pane_controller.js
  app/javascript/controllers/pick_scorer_core_controller.js
  app/javascript/controllers/qgraph_controller.js
  app/javascript/controllers/query_options_core_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/views/core/_tune_relevance.html.erb
  app/views/core/index.html.erb
  app/views/shared/_export_case_core_modal.html.erb
  app/views/shared/_import_ratings_core_modal.html.erb
  config/stimulus_conventions_baseline.json
  eslint.config.mjs
  scripts/eslint/stimulus_conventions.mjs
  test/javascript/controllers/diff_core_controller.test.js
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/controllers/import_ratings_core_controller.test.js
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/controllers/pane_controller.test.js
  test/javascript/controllers/pick_scorer_core_controller.test.js
  test/javascript/controllers/qgraph_controller.test.js
  test/javascript/controllers/query_options_core_controller.test.js
  test/javascript/controllers/tune_relevance_controller.test.js
  test/javascript/tooling/stimulus_conventions.test.js
Due: eslint, prettier

Align the judgement escalation docs with the code on main
  docs/todo/escalating_judges.md
  docs/todo/judgements-escalation.md
Due: none

Plan: a sleeping judge only ever judges through escalation
  docs/todo/escalating_judges.md
  docs/todo/judgements-escalation.md
Due: none

Polish Judge Activity: real-time incremental charts, overview page parity
  app/assets/stylesheets/application.css
  app/controllers/books_controller.rb
  app/javascript/controllers/judge_activity_poll_controller.js
  app/javascript/controllers/judge_activity_stats_controller.js
  app/javascript/controllers/judge_sparkline_controller.js
  app/jobs/application_job.rb
  app/jobs/broadcast_judge_activity_job.rb
  app/jobs/judgement_from_rating_job.rb
  app/jobs/update_case_ratings_job.rb
  app/models/book.rb
  app/views/books/_judge_activity_row.html.erb
  app/views/books/_judge_count_cell.html.erb
  app/views/books/_judge_last_cell.html.erb
  app/views/books/_judge_status_cell.html.erb
  app/views/books/judgement_stats.html.erb
  app/views/books/show.html.erb
  app/views/layouts/_header.html.erb
  test/controllers/books_controller_test.rb
  test/javascript/controllers/judge_activity_poll_controller.test.js
  test/javascript/controllers/judge_activity_stats_controller.test.js
  test/javascript/controllers/judge_sparkline_controller.test.js
  test/jobs/application_job_test.rb
  test/jobs/broadcast_judge_activity_job_test.rb
  test/jobs/judgement_from_rating_job_test.rb
  test/jobs/update_case_ratings_job_test.rb
  test/models/book_test.rb
  test/playwright/admin.spec.ts
  test/playwright/book_import_export.spec.ts
  test/playwright/home_and_profile.spec.ts
  test/playwright/scorers_and_search_endpoints.spec.ts
  test/playwright/teams.spec.ts
Due: rubocop, eslint, prettier

Plan: the escalated judge is held to the run's scale
  docs/todo/escalating_judges.md
  docs/todo/judgements-escalation.md
Due: none

Merge the escalation plan and its risk register into one doc
  docs/README.md
  docs/todo/escalating_judges.md
  docs/todo/inter_judge_agreement.md
  docs/todo/judge_calibration_research.md
  docs/todo/judgements-escalation.md
Due: none
