Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

bump remaining js stuff.
  package.json
  spec/karma/config/unit.js
  yarn.lock
Due: eslint

bump to latest heroku stack
  app.json
Due: none

small bump
  Gemfile.lock
Due: none

Bulk update for dependencies. (#1727)
  .circleci/config.yml
  .rubocop.yml
  .ruby-version
  Dockerfile.dev
  Dockerfile.prod
  Gemfile
  Gemfile.lock
  app.json
  app/controllers/admin/announcements_controller.rb
  app/controllers/admin/users/locks_controller.rb
  app/controllers/admin/users/pulses_controller.rb
  app/controllers/admin/users_controller.rb
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/ai_judges_controller.rb
  app/controllers/api/v1/bulk/queries_controller.rb
  app/controllers/api/v1/query_doc_pairs_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/api_keys_controller.rb
  app/controllers/books_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/controllers/judgements_controller.rb
  app/controllers/mapper_wizards_controller.rb
  app/controllers/query_doc_pairs_controller.rb
  app/controllers/scorers_controller.rb
  app/controllers/scores_controller.rb
  app/controllers/teams_controller.rb
  package.json
  spec/karma/config/unit.js
  yarn.lock
Due: rubocop, eslint

store up some small fixes
  Dockerfile.prod
  Gemfile
  package.json
Due: none

restore yarn
  Dockerfile.prod
Due: none

add requries for not run at boot time.
  Gemfile
Due: none

WIP: Remove TLS warning UI elements
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/wizardModal.html
Due: none

Fix: Remove legacy TLS protocol redirect logic and UI warnings
  app/assets/javascripts/controllers/mainCtrl.js
  app/assets/javascripts/controllers/queryParams.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/wizardModal.html
  spec/javascripts/angular/controllers/queryParams_spec.js
Due: eslint, prettier

Fix UI issues and update query parameters
  app/assets/javascripts/controllers/mainCtrl.js
  app/assets/javascripts/controllers/queryParams.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/wizardModal.html
  spec/javascripts/angular/controllers/queryParams_spec.js
Due: eslint, prettier

slight better
  app/assets/templates/views/wizardModal.html
Due: none

Final work
  app/assets/javascripts/controllers/wizardModal.js
Due: eslint

Warnings updated for both scenarios
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/templates/views/wizardModal.html
Due: eslint

syntax fix
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/templates/views/devQueryParams.html
Due: eslint

Save the progress...
  .circleci/config.yml
  .devcontainer/devcontainer.json
  .dockerignore
  .gitattributes
  CLAUDE.md
  DEVELOPER_GUIDE.md
  Dockerfile.dev
  Dockerfile.prod
  bin/pre-commit-jshint
  bin/setup
  bin/setup_docker
  docker-compose.override.yml.example
  package-lock.json
  yarn.lock
Due: none

Bump common dependencies
  Gemfile.lock
  yarn.lock
Due: none

bump ruby version
  .ruby-version
  Dockerfile.dev
  Dockerfile.prod
  Gemfile
Due: none

updated smarter renovate to group updates
  renovate.json
Due: none

Update import maps!
  .gitignore
  app/jobs/enqueue_run_nightly_cases_job.rb
  config/importmap.rb
  lib/tasks/karma.rake
  vendor/javascript/@codemirror--autocomplete.js
  vendor/javascript/@codemirror--commands.js
  vendor/javascript/@codemirror--lang-javascript.js
  vendor/javascript/@codemirror--language.js
  vendor/javascript/@codemirror--lint.js
  vendor/javascript/@codemirror--search.js
  vendor/javascript/@codemirror--state.js
  vendor/javascript/@codemirror--view.js
  vendor/javascript/@lezer--common.js
  vendor/javascript/@lezer--lr.js
Due: rubocop, eslint

left over from ruby version bump
  Gemfile.lock
Due: none

more updates.
  config/importmap.rb
  vendor/javascript/@codemirror--autocomplete.js
  vendor/javascript/@codemirror--commands.js
  vendor/javascript/@codemirror--language.js
  vendor/javascript/@codemirror--lint.js
  vendor/javascript/@codemirror--search.js
  vendor/javascript/@codemirror--state.js
  vendor/javascript/@codemirror--view.js
  vendor/javascript/@lezer--common.js
  vendor/javascript/@lezer--highlight.js
  vendor/javascript/@marijn--find-cluster-break.js
  vendor/javascript/crelt.js
  vendor/javascript/js-cookie.js
  vendor/javascript/style-mod.js
  vendor/javascript/w3c-keyname.js
Due: rubocop, eslint

ruby bump
  .circleci/config.yml
Due: none

add some docs
  DEVELOPER_GUIDE.md
Due: none

annotation clean up
  app/models/book.rb
Due: rubocop

remove some unused dependendices as we build codemirror from bits.
  config/importmap.rb
  vendor/javascript/@codemirror--commands.js
  vendor/javascript/@codemirror--search.js
  vendor/javascript/codemirror.js
Due: rubocop, eslint

remove claude-on-rails, its being superceded by skills.
  .claude-on-rails/context.md
  .claude-on-rails/prompts/api.md
  .claude-on-rails/prompts/architect.md
  .claude-on-rails/prompts/controllers.md
  .claude-on-rails/prompts/devops.md
  .claude-on-rails/prompts/graphql.md
  .claude-on-rails/prompts/jobs.md
  .claude-on-rails/prompts/models.md
  .claude-on-rails/prompts/services.md
  .claude-on-rails/prompts/stimulus.md
  .claude-on-rails/prompts/tests.md
  .claude-on-rails/prompts/views.md
  .gitignore
  CLAUDE.md
  DEVELOPER_GUIDE.md
  Gemfile
  Gemfile.lock
  claude-swarm.yml
Due: none

Move to fork of omniauth-keycloak that is maintained.
  .gitignore
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  app/controllers/users/omniauth_callbacks_controller.rb
  app/models/user.rb
  app/views/sessions/new.html.erb
  config/initializers/devise.rb
Due: rubocop

Copilot generated suggestions being responded too!
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/templates/views/wizardModal.html
  spec/javascripts/angular/controllers/queryParams_spec.js
  spec/javascripts/angular/services/caseTryNavSvc_spec.js
Due: eslint, prettier

clean ups.
  app/assets/javascripts/controllers/mainCtrl.js
  app/assets/javascripts/controllers/queryParams.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/wizardModal.html
Due: eslint

Fix nightly build.
  Dockerfile.prod
  package.json
Due: none

we don't need to be on the latest mysql
  renovate.json
Due: none

Fix link activation.
  app/assets/stylesheets/bootstrap5-compat.css
Due: none

a whole passel of small ui matching changes.
  app/assets/stylesheets/animation.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/queries.html
  app/assets/templates/views/queriesLayout.html
Due: none

the faint arrow is too faint
  app/assets/javascripts/directives/searchResults.js
Due: eslint

lets have a single button toolbar for query and the add query button
  app/assets/javascripts/components/add_query/add_query.html
Due: none

revamp search result details toolbar to match
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/searchResults.html
Due: none

Match the score alls better
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
Due: none

long standing non visible bug when closing a dialog...
  app/assets/javascripts/controllers/targetedSearchCtrl.js
Due: eslint

restore the background fade + modal zoom in effect
  app/assets/javascripts/services/quepidModalSvc.js
Due: eslint
