Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Avoid expensive diffs against outdated local main; make sure Codex uses guidance in CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

Migrate fixed help-icon popovers (bs-static-popover) to the Stimulus bs-popover controller
  .claude/commands/review-chat.md
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/directives/bsStaticPopover.js
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/templates/views/queries.html
  app/javascript/utils/bs_popover.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/directives/bsStaticPopover_spec.js
  test/javascript/utils/bs_popover.test.js
  test/playwright/dom_migration_screenshots.spec.ts
Due: eslint, prettier

bit o cleanup
  app/helpers/home_helper.rb
Due: rubocop

better tests
  test/jobs/import_book_job_test.rb
Due: rubocop

csv hardening
  app/assets/javascripts/services/caseCSVSvc.js
  app/javascript/utils/case_csv.js
  test/javascript/utils/case_csv.test.js
Due: eslint, prettier

Removed arranged_at / arranged_next from api contract, leverage json array order instead. Remove dead code path.
  app/assets/templates/views/queriesLayout.html
  app/javascript/controllers/export_case_core_controller.js
  app/models/concerns/arrangement/list.rb
  app/services/case_importer.rb
  app/views/api/v1/export/cases/_query.json.jbuilder
  app/views/api/v1/queries/_query.json.jbuilder
  app/views/shared/_export_case_core_modal.html.erb
  docs/manual-testing/tracking.yml
  test/controllers/api/v1/queries_controller_test.rb
  test/integration/export_import_case_flow_test.rb
  test/javascript/controllers/export_case_core_controller.test.js
  test/services/case_importer_test.rb
Due: rubocop, eslint, prettier

Nicer names
  app/models/concerns/arrangement/list.rb
  app/services/case_importer.rb
Due: rubocop

Stronger test
  test/services/case_importer_test.rb
Due: rubocop

confirming the void type of <input> is legit
  app/assets/templates/views/queriesLayout.html
Due: none

Migrate ratings-scale popover to Stimulus; remove dead handleRatingScale
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/controllers/searchResult.js
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/javascripts/services/rateBulkSvc.js
  app/assets/javascripts/services/rateElementSvc.js
  app/assets/templates/views/ratings/popover.html
  app/assets/templates/views/searchResult.html
  app/assets/templates/views/searchResults.html
  app/assets/templates/views/targetedSearchModal.html
  app/javascript/controllers/rating_popover_controller.js
  app/javascript/core_stimulus.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/controllers/searchResult_spec.js
  spec/javascripts/angular/directives/quepidPopover_spec.js
  spec/javascripts/angular/services/rateElementSvc_spec.js
  test/javascript/controllers/rating_popover_controller.test.js
Due: eslint, prettier

Remove ngclipboard; route copy buttons through clipboardSvc
  app/assets/javascripts/app.js
  app/assets/javascripts/components/browse_query/_modal.html
  app/assets/javascripts/components/browse_query/browse_query_modal_instance_controller.js
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/query_explain/query_explain_modal_instance_controller.js
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/services/clipboardSvc.js
  app/assets/templates/views/searchResults.html
  app/javascript/angular_app.js
  app/javascript/vendor/README.md
  app/javascript/vendor/ngclipboard/LICENSE
  app/javascript/vendor/ngclipboard/ngclipboard.js
  app/javascript/vendor/ngclipboard/package.json
  docs/todo/angularjs_removal_inventory.md
Due: eslint, prettier

attempt to quit fighiting over ollama endpoint
  app/views/ai_judges/_form.html.erb
  config/initializers/customize_quepid.rb
Due: rubocop

Update javascript setup. We may eliminate this whole thing however...
  .deepsource.toml
Due: none

deepsource flagged.
  app/javascript/controllers/export_case_core_controller.js
Due: eslint, prettier

AngularJS → Stimulus: sidebar tooltips, share/delete/clone case, export case modal (#1797)
  .deepsource.toml
  AGENTS.md
  CLAUDE.md
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/export_case/export_case.html
  app/assets/javascripts/components/export_case/export_case_controller.js
  app/assets/javascripts/components/export_case/export_case_directive.js
  app/assets/javascripts/components/export_case/export_case_modal_instance_controller.js
  app/assets/javascripts/services/caseCSVSvc.js
  app/assets/templates/views/queriesLayout.html
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/case_csv.js
  app/javascript/utils/download_file.js
  app/models/concerns/arrangement/list.rb
  app/services/case_importer.rb
  app/views/admin/users/edit.html.erb
  app/views/ai_judges/_form.html.erb
  app/views/api/v1/export/cases/_query.json.jbuilder
  app/views/api/v1/queries/_query.json.jbuilder
  app/views/layouts/core.html.erb
  app/views/shared/_export_case_core_modal.html.erb
  config/importmap.rb
  config/initializers/customize_quepid.rb
  config/javascript_lint_scope.mjs
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/caseCSVSvc_spec.js
  test/controllers/api/v1/queries_controller_test.rb
  test/integration/export_import_case_flow_test.rb
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/utils/case_csv.test.js
  test/javascript/utils/download_file.test.js
  test/services/case_importer_test.rb
  vitest.config.js
Due: rubocop, eslint, prettier

Migrate match/explain popover and Debug/Expand modals off Angular to Stimulus
  app/assets/javascripts/components/debug_matches/_modal.html
  app/assets/javascripts/components/debug_matches/debug_matches.html
  app/assets/javascripts/components/debug_matches/debug_matches_controller.js
  app/assets/javascripts/components/debug_matches/debug_matches_directive.js
  app/assets/javascripts/components/debug_matches/debug_matches_modal_instance_controller.js
  app/assets/javascripts/components/expand_content/_modal.html
  app/assets/javascripts/components/expand_content/expand_content.html
  app/assets/javascripts/components/expand_content/expand_content_controller.js
  app/assets/javascripts/components/expand_content/expand_content_directive.js
  app/assets/javascripts/components/expand_content/expand_content_modal_instance_controller.js
  app/assets/javascripts/components/matches/matches.html
  app/assets/javascripts/controllers/detailedExplain.js
  app/assets/javascripts/controllers/hotMatchesCtrl.js
  app/assets/javascripts/controllers/searchResult.js
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/javascripts/directives/stackedChart.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/detailedExplain.html
  app/assets/templates/views/searchResult.html
  app/assets/templates/views/stackedChart.html
  app/javascript/controllers/match_explain_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/bs_popover.js
  app/javascript/utils/dynamic_modal.js
  app/javascript/utils/json_explorer.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/todo.md
  spec/javascripts/angular/directives/quepidPopover_spec.js
  test/javascript/controllers/match_explain_controller.test.js
  test/javascript/utils/dynamic_modal.test.js
  test/javascript/utils/json_explorer.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

fix live callw ith stub.
  test/jobs/run_case_evaluation_job_test.rb
Due: rubocop

fix background color on flash
  app/javascript/controllers/flash_controller.js
Due: eslint, prettier

restore the bootstrap 5 pagination we lost at some point
  app/javascript/vendor/angular-utils-pagination/dirPagination.js
Due: eslint, prettier

tst for alerting
  test/javascript/controllers/flash_controller.test.js
Due: eslint

fix json
  app/javascript/utils/json_explorer.js
  test/javascript/utils/json_explorer.test.js
Due: eslint, prettier

modal stacking behavior refactor
  app/assets/javascripts/services/quepidModalSvc.js
  app/javascript/quepid_dom.js
  app/javascript/utils/bs_modal.js
  app/javascript/utils/dynamic_modal.js
Due: eslint, prettier

Fix rating event to use originalEvent detail
  app/assets/javascripts/controllers/searchResult.js
Due: eslint

Fix copied curl URLs with unescaped query values
  app/assets/javascripts/components/browse_query/browse_query_modal_instance_controller.js
  spec/javascripts/angular/components/browse_query/browse_query_modal_instance_controller_spec.js
Due: eslint, prettier

Responding to feedbackk
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/controllers/searchResult.js
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/services/clipboardSvc.js
  app/assets/stylesheets/core-additions.css
  app/javascript/controllers/match_explain_controller.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/match_explain_controller.test.js
Due: eslint, prettier

Bump to latest version
  package.json
  yarn.lock
Due: none

Migrate query-explain and detailed-doc modals off Angular; remove ng-json-explorer
  DEVELOPER_GUIDE.md
  app/assets/javascripts/app.js
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/query_explain/query_explain.html
  app/assets/javascripts/components/query_explain/query_explain_controller.js
  app/assets/javascripts/components/query_explain/query_explain_modal_instance_controller.js
  app/assets/javascripts/controllers/detailedDoc.js
  app/assets/javascripts/controllers/searchResult.js
  app/assets/stylesheets/json-explorer.css
  app/assets/templates/views/detailedDoc.html
  app/assets/templates/views/searchResult.html
  app/javascript/angular_app.js
  app/javascript/controllers/json_explorer_controller.js
  app/javascript/controllers/query_explain_controller.js
  app/javascript/core_stimulus.js
  app/javascript/quepid_dom.js
  app/javascript/utils/clipboard.js
  app/javascript/utils/dynamic_modal.js
  app/javascript/utils/json_explorer.js
  app/javascript/vendor/README.md
  app/javascript/vendor/ng-json-explorer/LICENSE
  app/javascript/vendor/ng-json-explorer/dist/angular-json-explorer.js
  app/javascript/vendor/ng-json-explorer/package.json
  app/views/layouts/core.html.erb
  audit_css.js
  build_css.js
  config/importmap.rb
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/todo.md
  package.json
  renovate.json
  test/javascript/controllers/json_explorer_controller.test.js
  test/javascript/controllers/query_explain_controller.test.js
  test/javascript/utils/clipboard.test.js
  test/javascript/utils/dynamic_modal.test.js
  test/javascript/utils/json_explorer.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Route invite-link copy through shared utils/clipboard
  app/javascript/controllers/invite_controller.js
  app/javascript/utils/clipboard.js
  docs/todo/dry_opportunities.md
  test/javascript/controllers/invite_controller.test.js
  test/javascript/utils/clipboard.test.js
Due: eslint, prettier

Restore export-case detailed-format gating lost in a prior commit; fix illegible warning styling
  app/assets/templates/views/queriesLayout.html
  app/javascript/controllers/export_case_core_controller.js
  app/views/shared/_export_case_core_modal.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/export_case_core_controller.test.js
Due: eslint, prettier

Add init: true to app service in docker-compose.yml
  docker-compose.yml
Due: none

Fix judgements Save button never re-enabling; fix silent E2E cleanup failure
  app/javascript/controllers/judgements_core_controller.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/judgements_core_controller.test.js
  test/playwright/baselines/share_case.spec.ts/share-case-modal-no-shareable.png
  test/playwright/baselines/share_case.spec.ts/share-case-modal-unshare-selected.png
  test/playwright/baselines/share_case.spec.ts/share-case-rails-modal-default.png
  test/playwright/baselines/share_case.spec.ts/share-case-rails-modal-team-selected.png
  test/playwright/toolbar_modals_core.spec.ts
Due: eslint, prettier

Fix stale E2E fixture case ID (5→6) and regenerate baselines
  DEVELOPER_GUIDE.md
  docs/todo/angularjs_removal_inventory.md
  test/playwright/angular_case_helpers.ts
  test/playwright/baselines/angular_pages.spec.ts/cases-list-04-books-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/cases-list-05-share-case-modal.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-02-pick-scorer-modal.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-03-scorer-highlighted.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-04-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-05-books-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-01-welcome-step.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-07-share-case-modal.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-04-share-case-modal.png
Due: none

Extract rated-docs lookup rules out of queriesSvc into a tested ESM module
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/angular_app.js
  app/javascript/quepid_search.js
  app/javascript/utils/rated_docs.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/rated_docs.test.js
  vitest.config.js
Due: eslint, prettier

AI Judges: extract an LLM provider registry, list Jev as coming soon
  app/controllers/ai_judges_controller.rb
  app/models/llm_provider.rb
  app/models/llm_providers.rb
  app/models/user.rb
  app/views/ai_judges/_form.html.erb
  docs/README.md
  docs/adr/0001-llm-judge-provider-architecture.md
  docs/adr/README.md
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  docs/todo/jev_llm_judge.md
  docs/todo/llm_judge_openai_batch.md
  docs/todo/llm_judge_shared_foundation.md
  test/controllers/ai_judges_controller_test.rb
  test/models/llm_providers_test.rb
  test/models/user_test.rb
Due: rubocop

AI Judges: put the book's rating scale behind one object
  app/jobs/run_judge_judy_job.rb
  app/models/judge_scale.rb
  app/services/llm_service.rb
  docs/adr/0001-llm-judge-provider-architecture.md
  docs/manual-testing/tracking.yml
  test/models/judge_scale_test.rb
Due: rubocop

AI Judges: share one Faraday connection builder
  app/services/llm_connection.rb
  app/services/llm_service.rb
  docs/adr/0001-llm-judge-provider-architecture.md
  test/services/llm_connection_test.rb
Due: rubocop
