Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

AI Judges: actually retry a rate-limited LLM call
  app/services/llm_connection.rb
  config/initializers/customize_quepid.rb
  docs/adr/0001-llm-judge-provider-architecture.md
  test/services/llm_connection_test.rb
Due: rubocop

Don't 500 when the LLM retry interval isn't configured
  app/services/llm_connection.rb
  test/services/llm_connection_test.rb
Due: rubocop

AI Judges: one adapter per API dialect, LlmService is transport
  app/models/llm_provider.rb
  app/models/llm_providers.rb
  app/services/llm_judge_adapters.rb
  app/services/llm_judge_adapters/anthropic.rb
  app/services/llm_judge_adapters/base.rb
  app/services/llm_judge_adapters/open_ai.rb
  app/services/llm_service.rb
  docs/adr/0001-llm-judge-provider-architecture.md
  docs/manual-testing/tracking.yml
  test/models/llm_providers_test.rb
  test/services/llm_judge_adapters_test.rb
Due: rubocop

AI Judges: one place decides whether a judgement is usable
  app/jobs/run_judge_judy_job.rb
  app/services/judgement_finalizer.rb
  docs/adr/0001-llm-judge-provider-architecture.md
  docs/manual-testing/tracking.yml
  test/services/judgement_finalizer_test.rb
Due: rubocop

AI Judges: the prompt preview now judges by the same rules as a run
  app/controllers/ai_judges/prompts_controller.rb
  app/views/ai_judges/prompts/_form.html.erb
  docs/adr/0001-llm-judge-provider-architecture.md
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  test/controllers/ai_judges/prompt_controller_test.rb
Due: rubocop

Render the case header and toolbar from Rails; delete queriesLayout.html
  CLAUDE.md
  DEVELOPER_GUIDE.md
  app/assets/javascripts/controllers/case.js
  app/assets/javascripts/controllers/currSettings.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/queriesLayout.html
  app/controllers/core/case_header_controller.rb
  app/javascript/controllers/case_rename_controller.js
  app/javascript/controllers/case_toolbar_controller.js
  app/javascript/controllers/clone_case_core_controller.js
  app/javascript/controllers/delete_case_options_core_controller.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/case_header.js
  app/models/try.rb
  app/views/core/_case_header.html.erb
  app/views/core/_case_toolbar.html.erb
  app/views/core/index.html.erb
  config/importmap.rb
  config/routes.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/controllers/core/case_header_controller_test.rb
  test/javascript/controllers/case_rename_controller.test.js
  test/javascript/controllers/case_toolbar_controller.test.js
  test/javascript/controllers/clone_case_core_controller.test.js
  test/javascript/controllers/delete_case_options_core_controller.test.js
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/controllers/share_case_core_controller.test.js
  test/javascript/support/case_header_dom.js
  test/javascript/utils/case_header.test.js
  test/models/try_test.rb
  test/playwright/case_header_rename.spec.ts
  test/playwright/dom_migration_screenshots.spec.ts
  vitest.config.js
Due: rubocop, eslint, prettier

Keep the server-rendered case header fresh and stop swallowing API failures
  CLAUDE.md
  app/assets/javascripts/controllers/queryNotes.js
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/case_toolbar_controller.js
  app/views/core/_case_header.html.erb
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  test/javascript/controllers/case_toolbar_controller.test.js
  test/playwright/case_header_rename.spec.ts
  test/playwright/env.ts
  test/playwright/global-setup.ts
  test/playwright/query_notes.spec.ts
  test/playwright/scorers_and_search_endpoints.spec.ts
Due: eslint, prettier

Move core header's case/book dropdowns from Angular HeaderCtrl to Turbo Frames
  app/assets/javascripts/controllers/headerCtrl.js
  app/assets/javascripts/services/bookSvc.js
  app/assets/javascripts/services/caseSvc.js
  app/controllers/dropdown_controller.rb
  app/views/dropdown/books_core.html.erb
  app/views/dropdown/cases_core.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/layouts/core.html.erb
  config/routes.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/services/caseSvc_spec.js
  test/controllers/dropdown_controller_test.rb
Due: rubocop, eslint, prettier

Migrate qscore rating badges from Angular filters to Stimulus
  .claude/skills/angular-case-migration/SKILL.md
  DEVELOPER_GUIDE.md
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/filters/ratingBgStyle.js
  app/assets/javascripts/filters/scoreDisplay.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/stylesheets/qscore.css
  app/assets/templates/views/searchResults.html
  app/javascript/angular_app.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/qscore_query_controller.js
  app/javascript/controllers/query_unrated_badge_controller.js
  app/javascript/core_stimulus.js
  app/javascript/quepid_search.js
  app/javascript/quepid_store.js
  app/javascript/stores/case_score_store.js
  app/javascript/utils/scoring.js
  app/views/core/index.html.erb
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/qscore_query_controller.test.js
  test/javascript/controllers/query_unrated_badge_controller.test.js
  test/javascript/stores/case_score_store.test.js
  test/javascript/utils/scoring.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Publish scoreAll() once per rating/add-query and cover it with a Playwright test
  app/assets/javascripts/services/queriesSvc.js
  docs/todo/angularjs_removal_inventory.md
  test/playwright/core_smoke.spec.ts
Due: eslint

Move rating/scoring events onto CaseScoreStore and migrate read-only query-row rendering to Stimulus
  app/assets/javascripts/components/add_query/add_query_controller.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/ratingsStoreSvc.js
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/query_row_controller.js
  app/javascript/core_stimulus.js
  app/javascript/quepid_search.js
  app/javascript/stores/case_score_store.js
  app/javascript/utils/query_state.js
  config/importmap.rb
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/controllers/searchResults_spec.js
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/stores/case_score_store.test.js
  test/javascript/utils/query_state.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Migrate query-row diff highlighting and toggle-caret icon from Angular's plusOrMinus filter/ng-class to Stimulus, and extend the Playwright smoke test to cover the toggle state.
  app/assets/javascripts/directives/searchResults.js
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/query_row_controller.js
  test/javascript/controllers/query_row_controller.test.js
  test/playwright/core_smoke.spec.ts
Due: eslint, prettier

Migrate isImageUrl filter to Stimulus query-row-controller, and consolidate agent instructions into AGENTS.md
  .claude/commands/review-chat.md
  AGENTS.md
  CLAUDE.md
  app/assets/javascripts/filters/isImageUrl.js
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/query_row_controller.js
  app/javascript/utils/query_state.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/utils/query_state.test.js
Due: eslint, prettier

Migrate query-row `id` and `rank` DOM attributes from Angular's `ng-attr-id`/`rank` bindings to Stimulus, setting both in `query_row_controller.js`'s `render()` from a new `rank` value.
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/query_row_controller.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/query_row_controller.test.js
Due: eslint, prettier

Migrate search-result rendering from AngularJS to Stimulus
  app/assets/javascripts/controllers/searchResult.js
  app/assets/javascripts/directives/searchResult.js
  app/assets/templates/views/searchResult.html
  app/javascript/controllers/search_result_controller.js
  app/javascript/core_stimulus.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/search_result_controller.test.js
  test/playwright/core_smoke.spec.ts
Due: eslint, prettier

feat(core): migrate add-query form to Stimulus
  app/assets/javascripts/components/add_query/add_query.html
  app/assets/javascripts/components/add_query/add_query_controller.js
  app/assets/javascripts/components/add_query/add_query_directive.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/templates/views/queries.html
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/search_result_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/text_paste.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/add_query_controller.test.js
  test/javascript/utils/text_paste.test.js
Due: eslint, prettier

feat(core): migrate search result rendering to Stimulus
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/search_result_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/core_stimulus.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/search_results_controller.test.js
  test/playwright/baselines/core_smoke.spec.ts/judgement-popover.png
  test/playwright/baselines/core_smoke.spec.ts/query-results.png
Due: eslint, prettier

refactor: continue AngularJS query migration and modernize JS tooling
  .circleci/config.yml
  .deepsource.toml
  .githooks/pre-commit
  .github/CONTRIBUTING.md
  .jshintrc
  .pre-commit-config.yaml
  AGENTS.md
  DEVELOPER_GUIDE.md
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_state.js
  bin/install-git-hooks
  bin/jshint-staged
  bin/legacy-eslint-staged
  bin/legacy-prettier-staged
  bin/pre-commit-jshint
  config/javascript_lint_scope.mjs
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  eslint.config.mjs
  lib/jshint/configuration.rb
  lib/jshint/lint.rb
  lib/tasks/quepid.rake
  package.json
  spec/javascripts/angular/controllers/add_query_controller_spec.js
  spec/javascripts/angular/controllers/queriesCtrl_spec.js
  spec/javascripts/angular/controllers/searchResult_spec.js
  test/javascript/utils/query_state.test.js
  test/playwright/baselines/core_smoke.spec.ts/open-case.png
  test/playwright/baselines/core_smoke.spec.ts/snapshot-modal.png
  test/playwright/baselines/core_smoke.spec.ts/wizard-open.png
  test/playwright/core_smoke.spec.ts
  yarn.lock
Due: rubocop, eslint, prettier

Migrate add-query orchestration to Stimulus
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/queries.html
  app/javascript/controllers/query_lifecycle_controller.js
  app/javascript/core_stimulus.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_lifecycle.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/query_lifecycle_controller.test.js
  test/javascript/utils/query_lifecycle.test.js
  vitest.config.js
Due: eslint, prettier

feat(core): migrate query deletion confirmation to Stimulus
  app/assets/javascripts/controllers/searchResults.js
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/query_delete_controller.js
  app/javascript/core_stimulus.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/query_delete_controller.test.js
Due: eslint, prettier

Clean up AI judge wizard/ownership code, fix book AI-judge scoping bugs
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
  app/controllers/admin/users_controller.rb
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/books_controller.rb
  app/helpers/books_helper.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/utils/stimulus_ui.js
  app/models/ai_judge.rb
  app/models/concerns/for_user_scope.rb
  app/models/user.rb
  app/views/ai_judges/_form.html.erb
  app/views/books/judgement_stats.html.erb
  app/views/judgements/_moar_judgements_needed.html.erb
  config/importmap.rb
  docs/manual-testing/tracking.yml
  lib/tasks/sample_data.thor
  test/controllers/ai_judges/wizard_controller_test.rb
  test/controllers/books_controller_test.rb
  test/fixtures/users.yml
  test/javascript/controllers/ai_judge_wizard_controller.test.js
  test/javascript/controllers/mapper_wizard_controller.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Address remaining Copilot review findings on the AI judge wizard
  app/controllers/ai_judges/wizard_controller.rb
  app/helpers/books_helper.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/views/books/show.html.erb
  test/controllers/ai_judges/wizard_controller_test.rb
  test/helpers/books_helper_test.rb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
Due: rubocop, eslint, prettier

Solo mode ai judge ownership v2 (#1801)
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
  app/controllers/admin/users_controller.rb
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/books_controller.rb
  app/helpers/books_helper.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/utils/stimulus_ui.js
  app/models/ai_judge.rb
  app/models/concerns/for_user_scope.rb
  app/models/user.rb
  app/views/ai_judges/_form.html.erb
  app/views/books/judgement_stats.html.erb
  app/views/books/show.html.erb
  app/views/judgements/_moar_judgements_needed.html.erb
  config/importmap.rb
  docs/manual-testing/tracking.yml
  lib/tasks/sample_data.thor
  test/controllers/ai_judges/wizard_controller_test.rb
  test/controllers/books_controller_test.rb
  test/fixtures/users.yml
  test/helpers/books_helper_test.rb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
  test/javascript/controllers/mapper_wizard_controller.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Review and clean up after merge.
  app/jobs/run_judge_judy_job.rb
  test/controllers/judgements_controller_test.rb
  test/helpers/application_helper_test.rb
Due: rubocop

feat(core): migrate move query modal to Stimulus
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/move_query_core_controller.js
  app/javascript/core_stimulus.js
  app/javascript/quepid_search.js
  app/views/layouts/core.html.erb
  app/views/shared/_move_query_core_modal.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/move_query_core_controller.test.js
  test/playwright/core_smoke.spec.ts
Due: eslint, prettier

feat(core): move query deletion persistence to Stimulus
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/query_delete_controller.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/query_delete_controller.test.js
  test/playwright/core_smoke.spec.ts
Due: eslint, prettier

feat(core): migrate query reorder persistence to Stimulus
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/queries.html
  app/javascript/controllers/queries_list_controller.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
Due: eslint, prettier

feat(core): move query persistence to Stimulus
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/query_lifecycle_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_lifecycle.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  package.json
  test/javascript/controllers/query_lifecycle_controller.test.js
  test/javascript/utils/query_lifecycle.test.js
Due: eslint, prettier

refactor(core): move wizard query persistence to lifecycle API
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/queriesSvc.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/controllers/wizardModal_spec.js
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/playwright/wizard_completion.spec.ts
Due: eslint, prettier

Merging in the ai judge as top level concept broke a lot
  app/controllers/ai_judges_controller.rb
  app/controllers/books_controller.rb
  app/javascript/application_modern.js
  app/jobs/broadcast_judge_activity_job.rb
  app/jobs/broadcast_linked_cases_job.rb
  app/jobs/run_judge_judy_job.rb
  app/models/book.rb
  app/views/ai_judges/clone.html.erb
  app/views/books/show.html.erb
  config/routes.rb
  test/jobs/run_judge_judy_job_test.rb
Due: rubocop, eslint

dead code.
  app/views/home/case_prophet.html.erb
Due: none

AI Judges: provider registry, one adapter per dialect, and TypeSafe Jev
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/jobs/run_judge_judy_job.rb
  app/models/ai_judge.rb
  app/models/judge_scale.rb
  app/models/llm_provider.rb
  app/models/llm_providers.rb
  app/services/judgement_finalizer.rb
  app/services/llm_connection.rb
  app/services/llm_judge_adapters.rb
  app/services/llm_judge_adapters/anthropic.rb
  app/services/llm_judge_adapters/base.rb
  app/services/llm_judge_adapters/jev.rb
  app/services/llm_judge_adapters/open_ai.rb
  app/services/llm_service.rb
  app/views/ai_judges/_form.html.erb
  config/initializers/customize_quepid.rb
  docs/README.md
  docs/adr/0001-llm-judge-provider-architecture.md
  docs/adr/README.md
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  docs/todo/escalating_judges.md
  docs/todo/jev_llm_judge.md
  docs/todo/judgements-escalation.md
  docs/todo/llm_judge_openai_batch.md
  docs/todo/llm_judge_shared_foundation.md
  test/controllers/ai_judges/wizard_controller_test.rb
  test/controllers/ai_judges_controller_test.rb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
  test/models/ai_judge_test.rb
  test/models/judge_scale_test.rb
  test/models/llm_providers_test.rb
  test/services/judgement_finalizer_test.rb
  test/services/llm_connection_test.rb
  test/services/llm_judge_adapters/jev_test.rb
  test/services/llm_judge_adapters_test.rb
Due: rubocop, eslint, prettier

AI Judges wizard: address DeepSource findings
  app/javascript/controllers/ai_judge_wizard_controller.js
Due: eslint, prettier

refactor(core): move query collection reads toward Stimulus
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_store.js
  app/javascript/stores/query_collection_store.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/stores/query_collection_store.test.js
  vitest.config.js
Due: eslint, prettier

AI Judges wizard: say "this needs a book" instead of faking a rating
  app/controllers/ai_judges/wizard_controller.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/models/llm_provider.rb
  app/services/llm_judge_adapters/jev.rb
  app/views/ai_judges/_form.html.erb
  test/controllers/ai_judges/wizard_controller_test.rb
  test/controllers/ai_judges_controller_test.rb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
Due: rubocop, eslint, prettier

refactor(core): move query list rendering to Stimulus store
  app/assets/templates/views/queries.html
  app/javascript/controllers/queries_list_controller.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
Due: rubocop, eslint, prettier

AI Judges: make the LLM Key help provider-neutral
  app/models/llm_providers.rb
  app/views/ai_judges/_form.html.erb
Due: rubocop

refactor(core): add query document read-model store
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_store.js
  app/javascript/stores/query_documents_store.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/stores/query_documents_store.test.js
  vitest.config.js
Due: eslint, prettier

Migrate search result rendering to document snapshots
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/rating_popover_controller.js
  app/javascript/controllers/search_result_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/stores/query_documents_store.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/rating_popover_controller.test.js
  test/javascript/controllers/search_result_controller.test.js
  test/javascript/controllers/search_results_controller.test.js
  test/playwright/core_smoke.spec.ts
Due: eslint, prettier
