Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Bootstrap the case workspace from Rails-rendered JSON
  app/controllers/core_controller.rb
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/utils/case_runtime.js
  app/javascript/utils/core_workspace_runtime.js
  app/javascript/utils/user_runtime.js
  app/views/api/v1/current_user/show.json.jbuilder
  app/views/api/v1/tries/_try.json.jbuilder
  app/views/api/v1/users/_current_user.json.jbuilder
  app/views/core/_bootstrap.json.jbuilder
  app/views/layouts/application.html.erb
  docs/app_structure.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  test/controllers/core_controller_test.rb
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/utils/case_runtime.test.js
  test/javascript/utils/user_runtime.test.js
  test/playwright/workspace_bootstrap.spec.ts
Due: rubocop, eslint, prettier

Add Rails Pulse for request/query/job performance monitoring
  Gemfile
  Gemfile.lock
  config/initializers/rails_pulse.rb
  config/recurring.yml
  config/routes.rb
  db/migrate/20261005192545_install_rails_pulse_tables.rb
  db/rails_pulse_migrate/.keep
  db/rails_pulse_schema.rb
Due: rubocop

Link Rails Pulse from the admin landing page
  app/views/admin/home/index.html.erb
Due: none

Merge Background Jobs and Performance Monitoring into one card
  app/views/admin/home/index.html.erb
Due: none

Simplify Tune Relevance state ownership and save handling
  AGENTS.md
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/utils/core_workspace_runtime.js
  app/javascript/utils/settings_runtime.js
  docs/app_structure.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/rails_stimulus_json_workspace_plan.md
  test/javascript/controllers/tune_relevance_controller.test.js
  test/javascript/utils/core_workspace_runtime.test.js
  test/javascript/utils/settings_runtime.test.js
  test/playwright/workspace_settings.spec.ts
Due: eslint, prettier

Move Stimulus test stub under test/javascript/support
  AGENTS.md
  docs/js_tooling.md
  docs/todo/rails_stimulus_json_workspace_plan.md
  test/javascript/support/stimulus_stub.js
  vitest.config.js
Due: eslint, prettier

Add rails pulse monitoring (#1828)
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  app/views/admin/home/index.html.erb
  config/initializers/rails_pulse.rb
  config/recurring.yml
  config/routes.rb
  db/migrate/20261005192545_install_rails_pulse_tables.rb
  db/rails_pulse_migrate/.keep
  db/rails_pulse_schema.rb
Due: rubocop

Move workspace modal lifecycles into Stimulus controllers
  DEVELOPER_GUIDE.md
  app/javascript/controllers/browse_query_controller.js
  app/javascript/controllers/detailed_document_controller.js
  app/javascript/controllers/dynamic_modal_controller.js
  app/javascript/controllers/frog_report_controller.js
  app/javascript/controllers/query_explain_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/detailed_document_modal.js
  app/javascript/utils/dynamic_modal.js
  app/views/shared/_dynamic_modal_templates.html.erb
  docs/app_structure.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/rails_stimulus_json_workspace_plan.md
  test/javascript/controllers/browse_query_controller.test.js
  test/javascript/controllers/detailed_document_controller.test.js
  test/javascript/controllers/dynamic_modal_controller.test.js
  test/javascript/controllers/frog_report_controller.test.js
  test/javascript/controllers/query_explain_controller.test.js
  test/javascript/controllers/store_subscriptions.test.js
  test/javascript/utils/detailed_document_modal.test.js
  test/javascript/utils/dynamic_modal.test.js
  test/playwright/workspace_modal_lifecycle.spec.ts
Due: eslint, prettier

Move judgement book choices into ERB templates
  app/javascript/controllers/judgements_core_controller.js
  app/views/core/_judgement_book_templates.html.erb
  app/views/shared/_judgements_core_modal.html.erb
  config/stimulus_conventions_baseline.json
  docs/app_structure.md
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/rails_stimulus_json_workspace_plan.md
  test/controllers/core_controller_test.rb
  test/javascript/controllers/judgements_core_controller.test.js
  test/playwright/toolbar_modals_core.spec.ts
Due: rubocop, eslint, prettier

Remove unused workspace configuration state and user fetch
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/utils/configuration_runtime.js
  app/javascript/utils/core_workspace_runtime.js
  app/javascript/utils/user_runtime.js
  app/views/layouts/application.html.erb
  docs/app_structure.md
  docs/manual-testing/tracking.yml
  docs/todo/rails_stimulus_json_workspace_plan.md
  test/controllers/core_controller_test.rb
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/utils/configuration_runtime.test.js
  test/javascript/utils/core_capabilities_runtime.test.js
  test/javascript/utils/user_runtime.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Move snapshot and core sharing rows into ERB templates
  app/javascript/controllers/diff_core_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/views/core/_diff_modal.html.erb
  app/views/core/_snapshot_selection_template.html.erb
  app/views/shared/_share_case_core_modal.html.erb
  app/views/shared/_share_case_core_team_templates.html.erb
  config/stimulus_conventions_baseline.json
  docs/app_structure.md
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/rails_stimulus_json_workspace_plan.md
  test/controllers/core_controller_test.rb
  test/javascript/controllers/diff_core_controller.test.js
  test/javascript/controllers/share_case_core_controller.test.js
  test/playwright/workspace_catalog_templates.spec.ts
Due: rubocop, eslint, prettier

Move static query modal markup into ERB
  app/javascript/controllers/browse_query_controller.js
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/query_explain_controller.js
  app/views/core/_query_list_templates.html.erb
  app/views/shared/_dynamic_modal_templates.html.erb
  docs/manual-testing/tracking.yml
  test/javascript/controllers/browse_query_controller.test.js
  test/javascript/controllers/case_editor_lifecycle.test.js
  test/javascript/controllers/missing_documents_controller.test.js
  test/javascript/controllers/query_explain_controller.test.js
  test/javascript/support/view_template.js
Due: eslint, prettier

Prototype: convert admin/users#index search to Ransack
  Gemfile
  Gemfile.lock
  app/controllers/admin/users_controller.rb
  app/models/user.rb
  app/views/admin/users/index.html.erb
Due: rubocop

Make book merges atomic and clean up shared UI lifecycles
  app/controllers/books_controller.rb
  app/javascript/controllers/confirm_delete_controller.js
  app/javascript/controllers/confirm_delete_dialog_controller.js
  app/javascript/controllers/user_activity_controller.js
  app/services/book_combiner.rb
  app/views/cases/index.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_confirm_delete_modal.html.erb
  app/views/teams/_books.html.erb
  app/views/teams/_cases.html.erb
  app/views/teams/_search_endpoints.html.erb
  app/views/teams/show.html.erb
  docs/manual-testing/10-books-management.md
  docs/manual-testing/tracking.yml
  test/controllers/books_controller_test.rb
  test/javascript/controllers/confirm_delete_controller.test.js
  test/javascript/controllers/confirm_delete_dialog_controller.test.js
  test/javascript/controllers/user_activity_controller.test.js
  test/services/book_combiner_test.rb
Due: rubocop, eslint, prettier

Prototype: convert admin/announcements#index search to Ransack
  app/controllers/admin/announcements_controller.rb
  app/models/announcement.rb
  app/views/admin/announcements/index.html.erb
Due: rubocop

Add frontend CI checks and standardize the Rails JS entry point
  .agents/skills/angular-case-migration/SKILL.md
  .github/workflows/test.yml
  AGENTS.md
  DEVELOPER_GUIDE.md
  app/javascript/application.js
  app/javascript/application_modern.js
  app/javascript/controllers/user_activity_controller.js
  app/javascript/core_stimulus.js
  app/javascript/core_vendor.js
  app/views/layouts/admin.html.erb
  app/views/layouts/application.html.erb
  build_css.js
  config/importmap.rb
  docs/js_pipeline.md
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/todo.md
  lib/tasks/quepid.rake
  test/controllers/cases_controller_test.rb
  test/controllers/core_controller_test.rb
  test/playwright/core_smoke.spec.ts
Due: rubocop, eslint, prettier

Prototype: convert search_endpoints#index's 4 filters to Ransack
  app/controllers/search_endpoints_controller.rb
  app/models/search_endpoint.rb
  app/models/team.rb
Due: rubocop

Add clickable column-header sorting via Ransack's sort_link
  app/controllers/admin/announcements_controller.rb
  app/models/announcement.rb
  app/views/admin/announcements/index.html.erb
Due: rubocop

Add sort_link column sorting to admin/users and search_endpoints
  app/controllers/admin/users_controller.rb
  app/controllers/search_endpoints_controller.rb
  app/models/search_endpoint.rb
  app/models/user.rb
  app/views/admin/users/index.html.erb
  app/views/search_endpoints/index.html.erb
Due: rubocop

Fix inaccurate case-sensitivity comments: SQLite's LIKE isn't the problem
  app/models/announcement.rb
  app/models/search_endpoint.rb
  app/models/user.rb
Due: rubocop

Remove unnecessary case-insensitivity workaround - it was never needed
  app/controllers/admin/announcements_controller.rb
  app/controllers/admin/users_controller.rb
  app/controllers/search_endpoints_controller.rb
  app/models/announcement.rb
  app/models/search_endpoint.rb
  app/models/user.rb
  app/views/admin/announcements/index.html.erb
  app/views/admin/users/index.html.erb
  app/views/search_endpoints/index.html.erb
Due: rubocop

Style sortable column headers as plain text, not blue hyperlinks
  app/assets/stylesheets/bootstrap5-add.css
  config/initializers/ransack.rb
Due: rubocop

Convert Books#index search/filter to Ransack
  app/controllers/books_controller.rb
  app/models/book.rb
  app/views/books/index.html.erb
Due: rubocop

Convert Scores#index scorer_id filter to Ransack
  app/controllers/scores_controller.rb
  app/models/score.rb
  app/views/scores/index.html.erb
Due: rubocop

Convert Ratings#index search to Ransack, fix broken search box
  app/controllers/ratings_controller.rb
  app/models/query.rb
  app/models/rating.rb
  app/views/ratings/index.html.erb
Due: rubocop

Convert QueryDocPairs#index search to Ransack
  app/controllers/query_doc_pairs_controller.rb
  app/models/query_doc_pair.rb
  app/views/query_doc_pairs/index.html.erb
Due: rubocop

Convert Scorers#index filter to Ransack
  app/controllers/scorers_controller.rb
  app/models/scorer.rb
Due: rubocop

Convert Cases#index search/filters to Ransack
  app/controllers/cases_controller.rb
  app/models/case.rb
  app/models/team.rb
  app/views/cases/index.html.erb
Due: rubocop

Convert Judgements#index generic search fallback to Ransack
  app/controllers/judgements_controller.rb
  app/models/judgement.rb
  app/models/query_doc_pair.rb
  app/views/judgements/index.html.erb
Due: rubocop

Address first review pass on escalating judges
  app/controllers/ai_judges_controller.rb
  app/controllers/books_controller.rb
  app/jobs/run_judge_judy_job.rb
  app/models/book.rb
  app/models/judgement.rb
  app/models/selection_strategy.rb
  app/views/ai_judges/index.html.erb
  app/views/judgements/_escalation_notice.html.erb
  db/migrate/20261005130000_add_escalated_from_id_to_judgements.rb
  db/migrate/20261005130000_add_escalated_from_judgement_id_to_judgements.rb
  db/schema.rb
  docs/manual-testing/tracking.yml
  docs/todo/escalating_judges.md
  test/controllers/judgements_controller_test.rb
  test/fixtures/judgements.yml
  test/jobs/run_judge_judy_job_test.rb
  test/models/book_test.rb
  test/models/judgement_test.rb
  test/models/selection_strategy_test.rb
Due: rubocop

Fix failures found during manual testing
  DEVELOPER_GUIDE.md
  app/controllers/accounts_controller.rb
  app/controllers/books_controller.rb
  app/controllers/proxy_controller.rb
  app/controllers/users/passwords_controller.rb
  app/javascript/utils/query_service.js
  app/models/user.rb
  app/views/books/show.html.erb
  docs/manual-testing/01-environment-setup-and-accounts.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/accounts_controller_test.rb
  test/controllers/judgements_controller_test.rb
  test/controllers/proxy_controller_test.rb
  test/controllers/users/passwords_controller_test.rb
  test/javascript/utils/query_service.test.js
Due: rubocop, eslint, prettier

Improve core workbench accessibility
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/qscore.css
  app/javascript/controllers/diff_case_scores_controller.js
  app/javascript/controllers/diff_core_controller.js
  app/javascript/controllers/diff_score_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/qscore_query_controller.js
  app/javascript/controllers/rating_popover_controller.js
  app/javascript/controllers/search_result_controller.js
  app/javascript/utils/scoring.js
  app/views/core/_diff_modal.html.erb
  app/views/core/_queries.html.erb
  app/views/shared/_export_case_core_modal.html.erb
  app/views/shared/_judgements_core_modal.html.erb
  docs/app_structure.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/16-cross-cutting-bs5-responsive-and-accessibility.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/qscore_query_controller.test.js
  test/javascript/controllers/rating_popover_controller.test.js
  test/javascript/controllers/search_result_controller.test.js
  test/javascript/utils/scoring.test.js
  test/playwright/modal_a11y.spec.ts
Due: eslint, prettier

Replace core test overrides with Vitest module mocks
  app/javascript/controllers/annotations_controller.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/utils/core_capability_access.js
  app/javascript/utils/core_flash.js
  app/javascript/utils/core_store_access.js
  app/javascript/utils/core_test_overrides.js
  app/javascript/utils/flash.js
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/add_query_controller.test.js
  test/javascript/controllers/annotations_controller.test.js
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/diff_case_scores_controller.test.js
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/controllers/frog_report_controller.test.js
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/controllers/move_query_core_controller.test.js
  test/javascript/controllers/qgraph_controller.test.js
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/qscore_query_controller.test.js
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/query_command_bridge_controller.test.js
  test/javascript/controllers/query_delete_controller.test.js
  test/javascript/controllers/query_lifecycle_controller.test.js
  test/javascript/controllers/query_notes_controller.test.js
  test/javascript/controllers/query_options_core_controller.test.js
  test/javascript/controllers/query_unrated_badge_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/controllers/tune_relevance_controller.test.js
  test/javascript/setup.js
  test/javascript/utils/core_capabilities_runtime.test.js
  test/javascript/utils/core_flash.test.js
  vitest.config.js
Due: eslint, prettier

Prevent GET mutations for Judge Later and logout
  DEVELOPER_GUIDE.md
  app/controllers/api/api_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/controller_configuration.rb
  app/controllers/sessions_controller.rb
  app/views/judgements/_form.html.erb
  app/views/judgements/_moar_judgements_needed.html.erb
  app/views/judgements/new.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/shared/_account_dropdown.html.erb
  config/routes.rb
  docs/manual-testing/01-environment-setup-and-accounts.md
  docs/manual-testing/11-judging-workflows.md
  docs/manual-testing/15-global-navigation-and-notebooks.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/get_mutations_test.rb
  test/controllers/judgements_controller_test.rb
Due: rubocop

Fix Elasticsearch/OpenSearch snapshot document IDs
  app/services/fetch_service.rb
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/services/fetch_service_test.rb
Due: rubocop

Port upstream fixes for books, search validation, and AI judging
  app/controllers/api/v1/books_controller.rb
  app/controllers/books_controller.rb
  app/controllers/cases_controller.rb
  app/controllers/concerns/book_scorer_assignment.rb
  app/controllers/mapper_wizards_controller.rb
  app/helpers/books_helper.rb
  app/javascript/controllers/ai_judge_form_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/utils/wizard_contracts.js
  app/jobs/application_job.rb
  app/models/score.rb
  app/models/try.rb
  app/services/llm_service.rb
  app/services/mapper_wizard_service.rb
  app/views/ai_judges/_form.html.erb
  app/views/cases/index.html.erb
  bin/qpb_baseline_continue
  db/migrate/20261006151000_add_case_latest_score_index.rb
  db/schema.rb
  docs/manual-testing/03-case-management.md
  docs/manual-testing/07-search-endpoints-and-mapper-wizard.md
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/deangularization-baseline-review.md
  docs/manual-testing/tracking.yml
  test/controllers/api/v1/books_controller_test.rb
  test/controllers/books_controller_test.rb
  test/fixtures/scores.yml
  test/helpers/books_helper_test.rb
  test/javascript/controllers/ai_judge_form_controller.test.js
  test/javascript/controllers/mapper_wizard_controller.test.js
  test/javascript/controllers/wizard_controller.test.js
  test/javascript/utils/wizard_contracts.test.js
  test/jobs/application_job_test.rb
  test/models/score_test.rb
  test/models/try_test.rb
  test/services/llm_service_test.rb
  test/services/mapper_wizard_service_test.rb
Due: rubocop, eslint, prettier

Add Qdrant search preset and rated-document lookup
  app/models/mapper_based_search_engine.rb
  db/mapper_based_search_engines/qdrant.js
  docs/endpoints_qdrant.md
  docs/manual-testing/07-search-endpoints-and-mapper-wizard.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  public/images/qdrant-icon.png
  public/images/qdrant.png
  test/controllers/api/v1/mapper_based_search_engines_controller_test.rb
  test/lib/qdrant_mapper_test.rb
  test/models/mapper_based_search_engine_test.rb
  test/playwright/qdrant_wizard.spec.ts
Due: rubocop, eslint
