Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

Fix DeepSource lint issues and address PR review feedback
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/templates/views/queryDiffResults.html
  db/mapper_based_search_engines/vespa.js
Due: eslint

demo vespa case
  lib/tasks/sample_data.thor
Due: none

nicer es image
  public/images/es.png
Due: none

show debug
  app/assets/javascripts/factories/docListFactory.js
  app/assets/javascripts/services/queriesSvc.js
Due: eslint

Deduplicate by id instead of SELECT DISTINCT in three more queries
  app/controllers/cases_controller.rb
  app/models/book.rb
  app/views/books/edit.html.erb
  test/models/book_test.rb
Due: rubocop

Order explicitly where the database was deciding for us
  app/controllers/api/v1/cases_controller.rb
  app/controllers/concerns/authentication/current_book_manager.rb
  app/controllers/concerns/authentication/current_case_manager.rb
  app/controllers/home_controller.rb
  app/models/case.rb
  test/models/case_test.rb
Due: rubocop

Pick the oldest match when a search endpoint lookup is ambiguous
  app/models/search_endpoint.rb
  test/models/search_endpoint_test.rb
Due: rubocop

Dispatch SQL function names per adapter instead of MySQL-or-not
  app/controllers/ai_judges/prompts_controller.rb
  app/models/score.rb
  app/models/selection_strategy.rb
  lib/adapter_functions.rb
  test/lib/adapter_functions_test.rb
Due: rubocop

Only regenerate model annotations when running against MySQL
  lib/tasks/annotate_rb.rake
Due: none

soft wrap the UI
  app/assets/templates/views/devQueryParams.html
Due: none

don't include hits and offsets in urls, that is an internal thing.
  app/assets/javascripts/services/queriesSvc.js
  app/models/mapper_based_search_engine.rb
Due: rubocop, eslint

better header
  app/assets/templates/views/targetedSearchModal.html
Due: none

Add Stryker mutation testing for migration JS utils, harden bs_popover/text_paste
  .gitignore
  app/javascript/utils/bs_popover.js
  app/javascript/utils/bs_popover.test.js
  app/javascript/utils/bs_tooltip.test.js
  app/javascript/utils/count_up.test.js
  app/javascript/utils/share_case_teams.test.js
  app/javascript/utils/text_paste.js
  app/javascript/utils/text_paste.test.js
  docs/js_tooling.md
  package.json
  stryker.config.mjs
  yarn.lock
Due: eslint, prettier

Extract utils/bs_modal.js, migrate confirm-delete/document-fields/share-case-core to it
  .gitignore
  app/javascript/controllers/confirm_delete_controller.js
  app/javascript/controllers/document_fields_modal_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/utils/bs_modal.js
  app/javascript/utils/bs_modal.test.js
  config/importmap.rb
  vitest.config.js
Due: rubocop, eslint, prettier

easier dev life.
  lib/tasks/sample_data.thor
Due: none

Extract shared modal_shell/osc_copyright partials and status_message util
  app/javascript/controllers/bulk_judgement_controller.js
  app/javascript/controllers/import_case_controller.js
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/utils/status_message.js
  app/javascript/utils/status_message.test.js
  app/views/layouts/_footer.html.erb
  app/views/layouts/_footer_core_app.html.erb
  app/views/shared/_import_case_modal.html.erb
  app/views/shared/_import_snapshot_modal.html.erb
  app/views/shared/_modal_shell.html.erb
  app/views/shared/_osc_copyright.html.erb
  app/views/shared/_share_book_modal.html.erb
  app/views/shared/_share_case_core_modal.html.erb
  app/views/shared/_share_case_modal.html.erb
  app/views/shared/_share_scorer_modal.html.erb
  app/views/shared/_share_search_endpoint_modal.html.erb
  config/importmap.rb
  docs/todo/dry_opportunities.md
  vitest.config.js
Due: rubocop, eslint, prettier

Rework how find missing works for solr and os/es
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/targetedSearchModal.html
  app/controllers/api/v1/tries_controller.rb
  config/routes.rb
  test/controllers/api/v1/tries_controller_test.rb
Due: rubocop, eslint

Migrate delete-case-options modal to Stimulus, add generic bs-popover/tooltip controllers
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/javascripts/directives/quepidSortable.js
  app/assets/javascripts/directives/quepidTooltip.js
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/queriesLayout.html
  app/assets/templates/views/searchResults.html
  app/controllers/cases_controller.rb
  app/javascript/controllers/bs_popover_controller.js
  app/javascript/controllers/bs_popover_controller.test.js
  app/javascript/controllers/bs_tooltip_controller.js
  app/javascript/controllers/confirm_delete_controller.js
  app/javascript/controllers/confirm_delete_controller.test.js
  app/javascript/controllers/delete_case_options_core_controller.js
  app/javascript/controllers/delete_case_options_core_controller.test.js
  app/javascript/core_stimulus.js
  app/javascript/utils/destructive_form.js
  app/javascript/utils/destructive_form.test.js
  app/views/layouts/core.html.erb
  app/views/shared/_delete_case_options_core_modal.html.erb
  app/views/users/invitations/edit.html.erb
  config/importmap.rb
  config/routes.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/dry_opportunities.md
  spec/javascripts/angular/directives/quepidPopover_spec.js
  spec/javascripts/angular/directives/quepidTooltip_spec.js
  test/controllers/cases_controller_test.rb
  vitest.config.js
Due: rubocop, eslint, prettier

Wire delete-case-options-core into the case toolbar, remove Angular component
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/delete_case_options/delete_case_options.html
  app/assets/javascripts/components/delete_case_options/delete_case_options_controller.js
  app/assets/javascripts/components/delete_case_options/delete_case_options_directive.js
  app/assets/javascripts/components/delete_case_options/delete_case_options_modal_instance_controller.js
  app/assets/templates/views/queriesLayout.html
  docs/todo/angularjs_removal_inventory.md
  test/controllers/cases_controller_test.rb
Due: rubocop, eslint

Migrate clone-case modal to Stimulus, remove Angular component
  Gemfile.lock
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/clone_case/clone_case.html
  app/assets/javascripts/components/clone_case/clone_case_controller.js
  app/assets/javascripts/components/clone_case/clone_case_directive.js
  app/assets/javascripts/components/clone_case/clone_case_modal_instance_controller.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/templates/views/queriesLayout.html
  app/javascript/controllers/clone_case_core_controller.js
  app/javascript/controllers/clone_case_core_controller.test.js
  app/javascript/core_stimulus.js
  app/views/layouts/core.html.erb
  app/views/shared/_clone_case_core_modal.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/wizard_proxy_basic_auth_ideas.md
  spec/javascripts/angular/services/caseSvc_spec.js
  test/playwright/dom_migration_screenshots.spec.ts
Due: eslint, prettier

Smarter migrating of mapper based search engine
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/queriesSvc.js
  app/controllers/mapper_wizards_controller.rb
  app/models/mapper_based_search_engine.rb
  app/views/api/v1/tries/_try.json.jbuilder
Due: rubocop, eslint

Refactoring the find missing docs, only show it for tools that support it.
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/controllers/targetedSearchModal.js
  app/assets/templates/views/targetedSearchModal.html
  app/models/search_endpoint.rb
  app/views/search_endpoints/_form.html.erb
  app/views/search_endpoints/show.html.erb
  config/initializers/sync_mapper_based_search_engine_code.rb
  db/mapper_based_search_engines/vespa.js
Due: rubocop, eslint

Move to using POST, move nextPageArgs support into vespa.js as Javascript.
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/queries.html
  app/models/mapper_based_search_engine.rb
  db/mapper_based_search_engines/vespa.js
  test/controllers/api/v1/mapper_based_search_engines_controller_test.rb
Due: rubocop, eslint

fix overrdie to match what we do now.
  docker-compose.override.yml.example
Due: none

Refactor looking up by id, now we pass int he field to vespa.js
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/targetedSearchModal.html
  app/models/mapper_based_search_engine.rb
  db/mapper_based_search_engines/vespa.js
Due: rubocop, eslint

Bump to new splainer
  package.json
  yarn.lock
Due: none

shorten docs
  docker-compose.override.yml.example
Due: none

More improvements
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/targetedSearchModal.html
  app/models/try.rb
  docker-compose.yml
Due: rubocop, eslint

prevent an old dialog box from clobbering a new one!
  app/javascript/controllers/share_case_core_controller.js
Due: eslint, prettier

fix linking to new team path
  app/views/shared/_share_case_core_modal.html.erb
Due: none

Update find missing docs modal (#1774)
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/controllers/targetedSearchModal.js
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/queries.html
  app/assets/templates/views/targetedSearchModal.html
  app/controllers/api/v1/tries_controller.rb
  app/controllers/mapper_wizards_controller.rb
  app/models/mapper_based_search_engine.rb
  app/models/search_endpoint.rb
  app/models/try.rb
  app/views/api/v1/tries/_try.json.jbuilder
  app/views/search_endpoints/_form.html.erb
  app/views/search_endpoints/show.html.erb
  config/initializers/sync_mapper_based_search_engine_code.rb
  config/routes.rb
  db/mapper_based_search_engines/vespa.js
  docker-compose.override.yml.example
  docker-compose.yml
  lib/tasks/sample_data.thor
  package.json
  test/controllers/api/v1/mapper_based_search_engines_controller_test.rb
  test/controllers/api/v1/tries_controller_test.rb
  yarn.lock
Due: rubocop, eslint

Rethink settings page, show links to vespa troubleshooting and use vespa icon instead of generic seach endpiont
  app/assets/images/vespa-icon.png
  app/assets/images/vespa.png
  app/assets/javascripts/controllers/queryParams.js
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/devQueryParams.html
  app/models/search_endpoint.rb
  app/views/search_endpoints/_search_endpoint.html.erb
  app/views/search_endpoints/index.html.erb
  app/views/teams/_search_endpoints.html.erb
Due: rubocop, eslint

Lots of small fixes
  app/assets/javascripts/controllers/promptSnapshot.js
  app/assets/javascripts/controllers/queryParams.js
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/snapshotModal.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/wizardModal.html
Due: eslint

Update comments for schema annotation logic
  lib/tasks/annotate_rb.rake
Due: none

Fix SQLite random number generation formula
  lib/adapter_functions.rb
Due: rubocop

Update comment to clarify endpoint selection logic
  app/models/search_endpoint.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
