Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

Visual parity: worktrees, fix login, and robustness fixes
  docs/port/visual_parity.md
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/compare_apis.mjs
  test/visual_parity/generate_report.mjs
  test/visual_parity/run_comparison.sh
Due: eslint

Extract case header score partial, update components and visual parity
  app/components/diff_component.html.erb
  app/components/diff_component.rb
  app/components/judgements_component.html.erb
  app/components/judgements_component.rb
  app/components/take_snapshot_component.html.erb
  app/components/take_snapshot_component.rb
  app/controllers/api/v1/queries/scores_controller.rb
  app/jobs/run_case_evaluation_job.rb
  app/models/case.rb
  app/views/core/scores/_case_header_score.html.erb
  app/views/core/show.html.erb
  docs/port/turbo_frame_boundaries.md
  docs/port/turbo_streams_guide.md
  docs/port/visual_parity.md
  test/components/diff_component_test.rb
  test/components/judgements_component_test.rb
  test/components/take_snapshot_component_test.rb
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/generate_report.mjs
  test/visual_parity/run_comparison.sh
Due: rubocop, eslint

fix bug causing dirty db state after running visual parity check
  test/visual_parity/run_comparison.sh
Due: none

use separate docker containers
  bin/setup_docker
  docker-compose.visual-parity.yml
  docs/port/visual_parity.md
  nginx.vp.conf
  test/visual_parity/run_comparison.sh
Due: none

fixing docker containers, ensuring files are copied to worktrees
  docker-compose.visual-parity.yml
  test/visual_parity/run_comparison.sh
Due: none

Visual parity: use Procfile.vp, fix nginx proxy, improve run_comparison robustness
  Procfile.vp
  docker-compose.visual-parity.yml
  nginx.vp.conf
  test/visual_parity/run_comparison.sh
Due: none

Fix warm startup sequencing issue with docker.
  bin/docker
Due: none

Extract shared JS utilities from results_pane_controller (Phase 1)
  app/javascript/controllers/query_expand_controller.js
  app/javascript/controllers/results_pane_controller.js
  app/javascript/utils/bulk_rating.js
  app/javascript/utils/detail_modal.js
  app/javascript/utils/rating_popover.js
  app/javascript/utils/results_fetcher.js
  docs/deangularjs_parity_report.md
  docs/port/human-what-changed.md
  docs/port/visual_parity.md
  docs/workspace_parity_plan.md
  spec/javascripts/controllers/results_pane_controller.test.js
Due: eslint, prettier

Restructure workspace to single-column layout with toolbar (Phase 2)
  app/assets/stylesheets/core-workspace.css
  app/components/query_list_component.html.erb
  app/components/query_list_component.rb
  app/controllers/core/queries_controller.rb
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/controllers/workspace_panels_controller.js
  app/javascript/controllers/workspace_resizer_controller.js
  app/jobs/run_case_evaluation_job.rb
  app/views/core/queries/_query_row.html.erb
  app/views/core/scores/_query_list.html.erb
  app/views/core/show.html.erb
  test/components/query_list_component_test.rb
Due: rubocop, eslint, prettier

Full inline results per query, delete results pane (Phase 3)
  app/components/document_card_component.rb
  app/components/query_list_component.html.erb
  app/components/query_list_component.rb
  app/components/results_pane_component.html.erb
  app/components/results_pane_component.rb
  app/controllers/core/queries_controller.rb
  app/javascript/controllers/query_expand_controller.js
  app/javascript/controllers/results_pane_controller.js
  app/javascript/modules/tour_steps.js
  app/jobs/run_case_evaluation_job.rb
  app/views/core/queries/_query_row.html.erb
  app/views/core/scores/_query_list.html.erb
  app/views/core/show.html.erb
  spec/javascripts/controllers/results_pane_controller.test.js
  test/components/query_list_component_test.rb
  test/components/results_pane_component_test.rb
  test/controllers/core/queries_controller_test.rb
Due: rubocop, eslint, prettier

Update system test for inline expand-in-place results
  test/system/core_workspace_test.rb
Due: rubocop

Phase 4: Polish CSS, fix expand-all crash, dark-theme tune-relevance panel
  app/assets/stylesheets/core-workspace.css
  app/javascript/controllers/query_expand_controller.js
  app/javascript/controllers/query_list_controller.js
Due: eslint, prettier

Replace D3 and jQuery with Vega-Lite for charts; remove jQuery
  .gitignore
  Procfile.dev
  app/assets/stylesheets/qgraph.css
  app/components/chart_panel_component.rb
  app/components/frog_report_component.rb
  app/components/qgraph_component.html.erb
  app/components/qgraph_component.rb
  app/javascript/admin_users.js
  app/javascript/api/fetch.js
  app/javascript/controllers/frog_report_controller.js
  app/javascript/controllers/qgraph_controller.js
  app/javascript/controllers/user_activity_controller.js
  app/javascript/jquery_bundle.js
  app/views/admin/users/show.html.erb
  app/views/judgements/_form.html.erb
  app/views/layouts/core_modern.html.erb
  config/importmap.rb
  docs/port/api_client.md
  docs/port/human-what-changed.md
  eslint.config.mjs
  lib/assets/javascripts/jquery-autoGrowInput.js
  package.json
  test/components/qgraph_component_test.rb
  test/components/qscore_case_component_test.rb
  yarn.lock
Due: rubocop, eslint, prettier

Add Vitest unit tests for extracted JS utility modules
  spec/javascripts/utils/bulk_rating.test.js
  spec/javascripts/utils/detail_modal.test.js
  spec/javascripts/utils/rating_api.test.js
  spec/javascripts/utils/rating_popover.test.js
  spec/javascripts/utils/results_fetcher.test.js
Due: eslint, prettier

Improve tour UX, cases query, and visual parity script
  app/assets/stylesheets/tour.css
  app/controllers/api/v1/cases_controller.rb
  app/javascript/controllers/tour_controller.js
  test/visual_parity/run_comparison.sh
Due: rubocop, eslint, prettier

fix tour
  app/javascript/controllers/tour_controller.js
  app/javascript/modules/tour_steps.js
  app/views/scorers/_list.html.erb
  test/visual_parity/run_comparison.sh
Due: eslint, prettier

jshint
  app/assets/javascripts/services/settingsSvc.js
Due: eslint

Update WebMock stubs to remove Cookie header expectation
  test/support/webmock.rb
Due: rubocop

Add VS Code Dev Container and EditorConfig for contributors
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .editorconfig
Due: none

Handle both json strings and html strings properly.
  lib/v8_mapper_executor.rb
  test/services/v8_mapper_executor_test.rb
Due: rubocop

Still more custom header woes... that conversion was rough!
  app/assets/javascripts/controllers/queryParams.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/queriesSvc.js
Due: eslint

document how to use splainer locally.
  DEVELOPER_GUIDE.md
  docker-compose.override.yml.example
Due: none

damn you rubocop
  lib/v8_mapper_executor.rb
  test/services/v8_mapper_executor_test.rb
Due: rubocop

Various bugs Charlie found! (#1661)
  DEVELOPER_GUIDE.md
  app/assets/javascripts/controllers/queryParams.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/queriesSvc.js
  docker-compose.override.yml.example
  lib/v8_mapper_executor.rb
  test/services/v8_mapper_executor_test.rb
Due: rubocop, eslint

forgot to bump splainer to fix charlie bugs
  yarn.lock
Due: none

Bug #1658 403 error code when using custom external search engines via Quepid's proxy (#1659)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .editorconfig
  app/controllers/proxy_controller.rb
  test/support/webmock.rb
Due: rubocop

SHOW_BASIC_AUTH_CREDENTIALS can be set to false to prevent credentials from showing up
  .env.example
  app/assets/javascripts/controllers/detailedDoc.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/javascripts/services/docCacheSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/controllers/api/v1/search_endpoints_controller.rb
  app/controllers/mapper_wizards_controller.rb
  app/controllers/proxy_controller.rb
  app/controllers/search_endpoints_controller.rb
  app/models/concerns/maskable_credential.rb
  app/models/mapper_wizard_state.rb
  app/models/search_endpoint.rb
  app/views/api/v1/search_endpoints/_search_endpoint.json.jbuilder
  app/views/api/v1/tries/_try.json.jbuilder
  app/views/mapper_wizards/show.html.erb
  app/views/search_endpoints/_form.html.erb
  app/views/search_endpoints/_search_endpoint.html.erb
  config/initializers/customize_quepid.rb
  db/migrate/20260306000001_increase_basic_auth_credential_max_length.rb
  db/migrate/20260306000002_encrypt_existing_basic_auth_credentials.rb
  db/schema.rb
  lib/tasks/sample_data.thor
  test/controllers/proxy_controller_test.rb
  test/fixtures/search_endpoints.yml
  test/models/mapper_wizard_state_test.rb
  test/models/search_endpoint_test.rb
  test/support/webmock.rb
Due: rubocop, eslint

tweak message
  config/initializers/customize_quepid.rb
Due: rubocop

Add Azure OpenAI and Anthropic provider support to AI judges
  app/controllers/ai_judges_controller.rb
  app/services/llm_service.rb
  app/views/ai_judges/_form.html.erb
  test/services/llm_service_test.rb
Due: rubocop

Fix custom headers not forwarded through proxy during search
  app/assets/javascripts/services/settingsSvc.js
Due: eslint

openspec specs
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/.openspec.yaml
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/design.md
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/proposal.md
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/specs/azure-llm-providers/spec.md
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/tasks.md
  openspec/config.yaml
  openspec/specs/azure-llm-providers/spec.md
Due: none

Fix JSHint and DeepSource build failures in settingsSvc.js
  CLAUDE.md
  app/assets/javascripts/services/settingsSvc.js
Due: eslint

Address PR review feedback from Copilot
  app/assets/javascripts/services/settingsSvc.js
  app/services/llm_service.rb
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/specs/azure-llm-providers/spec.md
  openspec/specs/azure-llm-providers/spec.md
  test/services/llm_service_test.rb
Due: rubocop, eslint

initial claude report
  bin/setup_docker
  docs/angularjs_inventory.md
  docs/react_migration_plan.md
  test/visual_parity/run_comparison.sh
Due: none

Add manual, screenshots doc, update angularjs inventory doc
  docs/angularjs_inventory.md
  docs/core_case_evaluation_manual.md
  docs/core_case_evaluation_manual_screenshots.md
  docs/images/core_case_evaluation_manual/README.md
Due: none

Add docs evaluating next steps; capture screenshots; updated capture scripts
  docs/app_structure.md
  docs/images/core_case_evaluation_manual/01_full_layout.png
  docs/images/core_case_evaluation_manual/02_header_relevancy_cases.png
  docs/images/core_case_evaluation_manual/03_case_header_and_actions.png
  docs/images/core_case_evaluation_manual/04_query_list_controls.png
  docs/images/core_case_evaluation_manual/05_query_expanded.png
  docs/images/core_case_evaluation_manual/06_rating_popover.png
  docs/images/core_case_evaluation_manual/07_east_pane_query_tab.png
  docs/images/core_case_evaluation_manual/08_east_pane_tuning_knobs.png
  docs/images/core_case_evaluation_manual/09_east_pane_settings.png
  docs/images/core_case_evaluation_manual/10_east_pane_history.png
  docs/images/core_case_evaluation_manual/11_east_pane_annotations.png
  docs/images/core_case_evaluation_manual/12_snapshot_modal.png
  docs/images/core_case_evaluation_manual/13_diff_modal.png
  docs/images/core_case_evaluation_manual/14_select_scorer_modal.png
  docs/images/core_case_evaluation_manual/15_delete_options_modal.png
  docs/images/core_case_evaluation_manual/16_loading_bootstrapping.png
  docs/images/core_case_evaluation_manual/wizard_01_welcome.png
  docs/images/core_case_evaluation_manual/wizard_02_doug_welcome.png
  docs/images/core_case_evaluation_manual/wizard_03_name_case.png
  docs/images/core_case_evaluation_manual/wizard_04_search_endpoint.png
  docs/images/core_case_evaluation_manual/wizard_04b_endpoint_result.png
  docs/images/core_case_evaluation_manual/wizard_04b_engine_selection.png
  docs/images/core_case_evaluation_manual/wizard_05_display_fields.png
  docs/images/core_case_evaluation_manual/wizard_06_add_queries.png
  docs/images/core_case_evaluation_manual/wizard_07_finish.png
  docs/migration/migration_roundtable_discussion.md
  docs/migration/rails_stimulus_migration_alternative.md
  docs/migration/react_migration_plan.md
  docs/migration/screenshot_automation.md
  docs/scripts/capture_screenshots.js
  docs/scripts/capture_wizard_screenshots.js
Due: eslint

more screenshots
  docs/images/core_case_evaluation_manual/17_clone_case_modal.png
  docs/images/core_case_evaluation_manual/18_share_case_modal.png
  docs/images/core_case_evaluation_manual/19_export_case_modal.png
  docs/images/core_case_evaluation_manual/20_import_ratings_modal.png
  docs/images/core_case_evaluation_manual/21_judgements_modal.png
  docs/images/core_case_evaluation_manual/22_frog_report_modal.png
  docs/images/core_case_evaluation_manual/23_query_explain_modal.png
  docs/images/core_case_evaluation_manual/24_targeted_search_modal.png
  docs/images/core_case_evaluation_manual/25_query_options_modal.png
  docs/images/core_case_evaluation_manual/26_move_query_modal.png
  docs/images/core_case_evaluation_manual/27_detailed_document_modal.png
  docs/images/core_case_evaluation_manual/28_matches_explain.png
  docs/images/core_case_evaluation_manual/29_notes_information_need.png
  docs/images/core_case_evaluation_manual/30_peek_browse_results.png
  docs/images/core_case_evaluation_manual/31_try_details.png
  package.json
  yarn.lock
Due: none

additional screenshots, dockerfile syntax fix, screenshot capture js, minor doc mods
  CLAUDE.md
  docker-compose.prod.yml
  docs/examples/external_eval/README.md
  docs/images/core_case_evaluation_manual/32_login_page.png
  docs/images/core_case_evaluation_manual/33_signup_page.png
  docs/images/core_case_evaluation_manual/34_announcement_banner.png
  docs/images/core_case_evaluation_manual/34a_admin_announcement_form.png
  docs/images/core_case_evaluation_manual/35_team_details.png
  docs/images/core_case_evaluation_manual/36_user_menu_dropdown.png
  docs/images/core_case_evaluation_manual/37_book_dropdown.png
  docs/images/core_case_evaluation_manual/38_footer.png
  docs/images/core_case_evaluation_manual/39_user_profile.png
  docs/images/core_case_evaluation_manual/40_admin_dashboard.png
  docs/images/core_case_evaluation_manual/41_admin_users.png
  docs/images/core_case_evaluation_manual/42_admin_announcements.png
  docs/images/core_case_evaluation_manual/43_admin_job_manager.png
  docs/images/core_case_evaluation_manual/44_scorers_list.png
  docs/images/core_case_evaluation_manual/45_search_endpoints_list.png
  docs/images/core_case_evaluation_manual/46_books_list.png
  docs/images/core_case_evaluation_manual/47_book_details.png
  docs/images/core_case_evaluation_manual/48_inline_case_name_edit.png
  docs/images/core_case_evaluation_manual/49_bulk_rating_score_all.png
  docs/images/core_case_evaluation_manual/50_scorer_edit_form.png
  docs/images/core_case_evaluation_manual/51_communal_scorer_edit.png
  docs/images/core_case_evaluation_manual/52_archive_case_confirm.png
  docs/images/core_case_evaluation_manual/53_custom_headers_editor.png
  docs/images/core_case_evaluation_manual/54_ace_query_editor.png
  docs/images/core_case_evaluation_manual/55_field_picking_settings.png
  docs/images/core_case_evaluation_manual/56_settings_nightly_escape.png
  docs/images/core_case_evaluation_manual/57_home_dashboard.png
  docs/images/core_case_evaluation_manual/58_healthcheck.png
  docs/images/core_case_evaluation_manual/59_cases_list.png
  docs/images/core_case_evaluation_manual/60_compare_snapshots_modal.png
  docs/migration/markdown_files_inventory.md
  docs/migration/system_notes.md
  docs/scripts/capture_fixes.js
  docs/scripts/capture_remaining.js
  docs/scripts/capture_remaining2.js
  docs/scripts/capture_remaining3.js
  docs/scripts/capture_remaining4.js
Due: eslint

add more screenshots, scripts, update doc
  docs/angularjs_ui_inventory.md
  docs/images/core_case_evaluation_manual/61_annotation_list_with_items.png
  docs/images/core_case_evaluation_manual/61b_annotation_update_modal.png
  docs/images/core_case_evaluation_manual/62_pagination_controls.png
  docs/images/core_case_evaluation_manual/64_debug_matches_modal.png
  docs/images/core_case_evaluation_manual/65_expand_content_modal.png
  docs/images/core_case_evaluation_manual/66_query_diff_results.png
  docs/images/core_case_evaluation_manual/68_vega_visualization.png
  docs/migration/angularjs_inventory.md
  docs/migration/system_notes.md
  docs/scripts/capture_gap_screenshots.js
  docs/scripts/render_isolated_components.html
Due: eslint

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
