Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

refactor(core): retire bootstrap3-add.css; fold navbar skin into bootstrap5-compat
  CLAUDE.md
  DEVELOPER_GUIDE.md
  app/assets/stylesheets/application.css
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/core.css
  audit_css.js
  build_css.js
Due: prettier

refactor(core): clarify BS5 layering and slim bootstrap5-compat commentary
  app/assets/javascripts/services/quepidModalSvc.js
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/ng-tags-input-theme.css
  build_css.js
Due: eslint, prettier

refactor(core): slim bootstrap5-compat accordion and modal backdrop rules
  app/assets/stylesheets/bootstrap5-compat.css
Due: none

remove duped bs5 dropdown styling
  app/assets/stylesheets/bootstrap5-compat.css
Due: none

refactor(core): remove BS5 duplicates from compat; slim sessions social buttons
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/signup.css
Due: none

refactor(core): migrate dev panel tabs and form-text to BS5 markup
  app/assets/fonts/glyphicons-halflings-regular.woff2
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/wizardModal.html
Due: none

refactor(core): fix secondary navbar with navbar-expand and tighter selectors
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/views/layouts/_header_core_app.html.erb
Due: none

refactor(core): flexbox layout for search result media columns
  app/assets/javascripts/controllers/searchResult.js
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/searchResult.html
Due: eslint

refactor(core): rename bootstrap5-compat.css to core-bootstrap.css
  CLAUDE.md
  DEVELOPER_GUIDE.md
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/core-bootstrap.css
  app/assets/stylesheets/core.css
  audit_css.js
  build_css.js
Due: prettier

minor BS3/BS5 wording
  app/assets/javascripts/directives/quepidCollapse.js
  audit_css.js
Due: eslint

Add Stylelint for app stylesheets and fix CSS for recommended rules
  .circleci/config.yml
  .stylelintignore
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/core-bootstrap.css
  app/assets/stylesheets/judgements.css
  app/assets/stylesheets/qscore.css
  app/assets/stylesheets/signup.css
  app/assets/stylesheets/stackedChart.css
  app/assets/stylesheets/style.css
  docs/stylelint.md
  lib/tasks/quepid.rake
  package.json
  stylelint.config.mjs
  yarn.lock
Due: none

exclude line to prevent jshint throwing error and failing CI
  app/assets/javascripts/services/quepidModalSvc.js
Due: eslint

Minor comment updates; remove unnecessary else branch from bulk judgment controller
  app/javascript/angular_app.js
  app/javascript/controllers/bulk_judgement_controller.js
  audit_css.js
  build_css.js
  test/playwright/angular_pages.spec.ts
Due: eslint, prettier

Fix wizardModal cancel: use caseTryNavSvc instead of bare '/'
  app/assets/javascripts/controllers/wizardModal.js
Due: eslint

Align core chrome with BS5: header dropdown markup, dark dev panel theme, inherited font size, leaner design tokens
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/_dev_settings.html
  app/views/layouts/_header_core_app.html.erb
Due: none

Fix '↓ NaN%' on dashboard case cards when initial score is 0
  app/controllers/home_controller.rb
Due: rubocop

Disable BS5 overlay animations, fix core navbar markup, and add pre-commit linting with jshint (avoids unnecessary CI runs/failures by capturing issues on commit)
  .gitignore
  .pre-commit-config.yaml
  DEVELOPER_GUIDE.md
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/javascripts/directives/quepidTooltip.js
  app/assets/javascripts/services/quepidModalSvc.js
  app/assets/templates/views/queriesLayout.html
  app/views/bulk_judge/new.html.erb
  app/views/layouts/_header_core_app.html.erb
  bin/jshint-staged
Due: eslint

Fix horizontal overflow
  app/assets/stylesheets/panes.css
  app/views/layouts/_footer_core_app.html.erb
Due: none

Fix Angular template markup and refresh dev docs for BS5
  .claude-on-rails/context.md
  CLAUDE.md
  DEVELOPER_GUIDE.md
  app/assets/javascripts/components/add_query/add_query.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/services/quepidModalSvc.js
  app/assets/stylesheets/application.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/stackedChart.css
  app/assets/templates/views/queriesLayout.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/snapshotModal.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/wizardModal.html
  test/playwright/popover_visibility.spec.ts
Due: eslint

Move wizard modal JSON literals into controller for DeepSource
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/templates/views/wizardModal.html
Due: eslint

Fix wizard validation UI stuck after splainer-search 3.x migration.
  app/assets/javascripts/controllers/wizardModal.js
  app/javascript/splainer_search_adapter.js
Due: eslint

Fix query error warning icon and center query header toggle
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/searchResults.html
Due: none

Fix case header title scale after BS5 migration
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/queriesLayout.html
  test/playwright/case_header_typography.spec.ts
Due: none

Fix wizard finish save for basic-auth search endpoints.
  app/assets/javascripts/controllers/wizardModal.js
  app/controllers/api/v1/tries_controller.rb
  app/models/search_endpoint.rb
  app/services/case_importer.rb
  spec/javascripts/angular/controllers/wizardModal_spec.js
  test/controllers/api/v1/tries_controller_test.rb
  test/models/search_endpoint_test.rb
  test/test_helper.rb
Due: rubocop, eslint, prettier

Harden tries controller save flow and test basic-auth endpoint reuse.
  app/controllers/api/v1/tries_controller.rb
  app/models/search_endpoint.rb
  test/controllers/api/v1/import/cases_controller_test.rb
  test/controllers/api/v1/tries_controller_test.rb
  test/models/search_endpoint_test.rb
Due: rubocop

Potential fix for pull request finding
  app/services/case_importer.rb
Due: rubocop

Potential fix for pull request finding
  app/models/search_endpoint.rb
Due: rubocop

Potential fix for pull request finding
  app/controllers/api/v1/tries_controller.rb
Due: rubocop

Harden SearchEndpoint lookup and fix tries#create when search_endpoint is omitted.
  app/controllers/api/v1/tries_controller.rb
  app/models/search_endpoint.rb
  app/services/case_importer.rb
  test/controllers/api/v1/import/cases_controller_test.rb
  test/controllers/api/v1/tries_controller_test.rb
Due: rubocop

Fix wizardModal_spec JSHint issues and apply minor lint cleanups in import tests.
  app/models/search_endpoint.rb
  app/services/case_importer.rb
  spec/javascripts/angular/controllers/wizardModal_spec.js
  test/controllers/api/v1/import/cases_controller_test.rb
Due: rubocop, eslint, prettier

Add pre-commit so that we can have jshint and rubocop run whenever a commit is made. This keeps us from pushing code that will fail tests (and thus CI).
  .githooks/pre-commit
  .github/CONTRIBUTING.md
  DEVELOPER_GUIDE.md
  bin/install-git-hooks
  bin/pre-commit-jshint
  bin/pre-commit-rubocop
  bin/setup
  bin/setup_docker
Due: none

Eliminate JSHint errors in JavaScript test files.
  .jshintrc
  spec/javascripts/angular/controllers/add_query_controller_spec.js
  spec/javascripts/angular/controllers/promptSnapshot_spec.js
  spec/javascripts/angular/controllers/queryParams_spec.js
  spec/javascripts/angular/controllers/searchResult_spec.js
  spec/javascripts/angular/controllers/wizardModal_spec.js
  spec/javascripts/angular/services/annotationsSvc_spec.js
  spec/javascripts/angular/services/caseCSVSvc_spec.js
  spec/javascripts/angular/services/caseSvc_spec.js
  spec/javascripts/angular/services/caseTryNavSvc_spec.js
  spec/javascripts/angular/services/diffResultsSvc_spec.js
  spec/javascripts/angular/services/docCacheSvc_spec.js
  spec/javascripts/angular/services/importRatingsSvc_spec.js
  spec/javascripts/angular/services/queriesSvc_spec.js
  spec/javascripts/angular/services/querySnapshotSvc_spec.js
  spec/javascripts/angular/services/rateElementSvc_spec.js
  spec/javascripts/angular/services/scorerFactory_spec.js
  spec/javascripts/angular/services/settingsSvc_spec.js
  spec/javascripts/mock/docResolverSvc.js
  spec/javascripts/mock/scorerSvc.js
  spec/javascripts/mock/settingsSvc.js
Due: eslint, prettier
