Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

Guard BooksController#update against missing ai_judge_ids params
  app/controllers/books_controller.rb
  test/controllers/books_controller_test.rb
Due: rubocop

Remove dead code: orphaned partial, unused predicate, unreachable broadcast
  app/views/admin/run_case/_notification_case_sync.turbo_stream.erb
  app/views/judgements/_moar_judgements_needed.html.erb
Due: none

Finish dead-code removal: RatingsManager broadcast cleanup and unjudged_pairs?
  app/models/selection_strategy.rb
  app/services/ratings_manager.rb
  test/models/selection_strategy_test.rb
Due: rubocop

Broadcast live judge activity for every judgement mutation path
  app/controllers/bulk_judge_controller.rb
  app/controllers/judgements_controller.rb
  test/controllers/bulk_judge_controller_test.rb
  test/controllers/judgements_controller_test.rb
Due: rubocop

Fix Judge Activity table no-op on a book's first-ever judgement
  app/controllers/books_controller.rb
  app/jobs/broadcast_judge_activity_job.rb
  app/jobs/run_judge_judy_job.rb
  app/models/book.rb
  app/views/books/_judge_activity_table_body.html.erb
  app/views/books/show.html.erb
  test/jobs/broadcast_judge_activity_job_test.rb
  test/models/book_test.rb
Due: rubocop

Merge the redundant Complete card into Fully Judged
  app/views/books/show.html.erb
Due: none

Add a Clone button to the AI Judge edit page
  app/controllers/ai_judges_controller.rb
  app/views/ai_judges/_form.html.erb
  app/views/ai_judges/clone.html.erb
  config/routes.rb
  test/controllers/ai_judges_controller_test.rb
Due: rubocop

Replace AI judge alert bars with a Judge Activity footer; fix flash targeting
  app/jobs/broadcast_judge_activity_job.rb
  app/views/books/_judge_activity_table_body.html.erb
  app/views/books/show.html.erb
Due: rubocop

Give AI judges the same live-update flash animation as human judges
  app/views/books/_judge_activity_row.html.erb
Due: none

Harden BookImporter against mass-assignment via crafted import payloads
  .claude/commands/review-chat.md
  app/javascript/utils/bs_tooltip.js
  app/services/book_importer.rb
  bin/manual_test_status
  config/routes.rb
  docs/manual-testing/10-books-management.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/integration/legacy_route_redirects_test.rb
  test/services/book_importer_test.rb
Due: rubocop, eslint, prettier

Fix InvalidAuthenticityToken on buttons rendered via Turbo Stream broadcast
  app/javascript/application_modern.js
Due: eslint

Remove RunCaseEvaluationJob's dead notifications-case-#{id} broadcast
  app/views/admin/run_case/_notification_case.turbo_stream.erb
Due: none

Finish removing the dead notifications-case broadcast
  app/jobs/run_case_evaluation_job.rb
Due: rubocop

Guard share-case-core teams load against a stale-case response
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/controllers/share_case_core_controller.test.js
Due: eslint, prettier

Redesign Judge Overview: simpler cards, correct "need judging" count, side-by-side rows
  app/controllers/books_controller.rb
  app/views/books/judge_overview.html.erb
Due: rubocop

Handle empty books correctly on the Judge Overview page
  app/views/books/judge_overview.html.erb
Due: none

Fix Your Activity chart overflowing its card
  app/views/books/judge_overview.html.erb
Due: none

Point Quit Judging links at the Judge Overview page, not the book overview
  app/views/judgements/edit.html.erb
  app/views/judgements/new.html.erb
  app/views/judgements/show.html.erb
Due: none

Split book tabs into Overview/Judge Overview with RE sub-tabs
  app/helpers/books_helper.rb
  app/views/books/_tabs.html.erb
Due: rubocop

Add book tabs to the Import page; fix Settings/Share book false-positive
  app/helpers/books_helper.rb
  app/views/books/_tabs.html.erb
  app/views/books/import/edit.html.erb
Due: rubocop

Point Bulk Judging's back link at Judge Overview instead of Judgements
  app/views/bulk_judge/new.html.erb
Due: none

Redesign Linked Cases card as a compact visual flow instead of a table
  app/views/books/show.html.erb
Due: none

Put Linked Cases and Book Settings cards side by side on book Overview
  app/views/books/show.html.erb
Due: none

Pulse Linked Cases sync arrows while a populate/sync job is running
  app/assets/stylesheets/judgements.css
  app/jobs/broadcast_linked_cases_job.rb
  app/jobs/populate_book_job.rb
  app/jobs/update_case_job.rb
  app/views/books/_linked_cases_list.html.erb
  app/views/books/show.html.erb
Due: rubocop

Wire UpdateCaseRatingsJob into the Linked Cases pulse, fix stale pulses
  app/assets/stylesheets/judgements.css
  app/jobs/populate_book_job.rb
  app/jobs/update_case_job.rb
  app/jobs/update_case_ratings_job.rb
  app/services/ratings_manager.rb
  app/views/books/_linked_cases_list.html.erb
Due: rubocop

Wire JudgementFromRatingJob into the Linked Cases pulse
  app/jobs/judgement_from_rating_job.rb
  app/views/books/_linked_cases_list.html.erb
Due: rubocop

Harden case-404 guards, fix a modal leak, and dedupe error-message ids
  app/controllers/analytics/cases/duplicate_scores_controller.rb
  app/controllers/analytics/tries_visualization_controller.rb
  app/controllers/concerns/authentication/current_case_manager.rb
  app/controllers/scores_controller.rb
  app/javascript/controllers/confirm_delete_controller.js
  app/javascript/controllers/confirm_delete_controller.test.js
  app/javascript/utils/bs_popover.js
  app/views/admin/users/_form.html.erb
  app/views/books/import/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/shared/_error_messages.html.erb
  bin/manual_test_status
  test/controllers/analytics/cases/duplicate_scores_test.rb
  test/controllers/analytics/tries_visualization_test.rb
  test/controllers/scores_controller_test.rb
Due: rubocop, eslint, prettier

Migrate angular-case-migration playbook from Cursor to a Claude Code skill
  .claude/skills/angular-case-migration/SKILL.md
  .gitignore
  CLAUDE.md
  docs/todo/angularjs_removal_inventory.md
Due: none

Collapse resetTeamListsForError into applyTeamLists, add regression test
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/controllers/share_case_core_controller.test.js
Due: eslint, prettier

Give AI judges an ownership model and make them a first-class nav entity
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/ai_judges_controller.rb
  app/helpers/books_helper.rb
  app/javascript/controllers/share_book_controller.js
  app/javascript/controllers/share_case_controller.js
  app/javascript/controllers/share_case_controller.test.js
  app/javascript/controllers/share_scorer_controller.js
  app/javascript/controllers/share_search_endpoint_controller.js
  app/models/user.rb
  app/views/ai_judges/_form.html.erb
  app/views/ai_judges/edit.html.erb
  app/views/ai_judges/index.html.erb
  app/views/ai_judges/new.html.erb
  app/views/ai_judges/prompts/_form.html.erb
  app/views/books/_form.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/search_endpoints/_form.html.erb
  app/views/shared/_team_picker.html.erb
  app/views/teams/index.html.erb
  app/views/teams/show.html.erb
  config/routes.rb
  db/migrate/20260914204719_add_owner_id_to_users.rb
  db/schema.rb
  test/controllers/ai_judges/prompt_controller_test.rb
  test/controllers/ai_judges_controller_test.rb
  test/controllers/teams_controller_test.rb
  test/fixtures/books.yml
  test/fixtures/users.yml
  test/helpers/books_helper_test.rb
  test/models/user_test.rb
Due: rubocop, eslint, prettier

Add Stryker mutation testing for migration JS utils, harden bs_popover/text_paste
  .gitignore
  app/javascript/utils/bs_popover.js
  app/javascript/utils/bs_popover.test.js
  app/javascript/utils/bs_tooltip.test.js
  app/javascript/utils/count_up.test.js
  app/javascript/utils/share_case_teams.test.js
  app/javascript/utils/text_paste.js
  app/javascript/utils/text_paste.test.js
  docs/js_tooling.md
  package.json
  stryker.config.mjs
  yarn.lock
Due: eslint, prettier

Extract utils/bs_modal.js, migrate confirm-delete/document-fields/share-case-core to it
  .gitignore
  app/javascript/controllers/confirm_delete_controller.js
  app/javascript/controllers/document_fields_modal_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/utils/bs_modal.js
  app/javascript/utils/bs_modal.test.js
  config/importmap.rb
  vitest.config.js
Due: rubocop, eslint, prettier

Extract shared modal_shell/osc_copyright partials and status_message util
  app/javascript/controllers/bulk_judgement_controller.js
  app/javascript/controllers/import_case_controller.js
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/utils/status_message.js
  app/javascript/utils/status_message.test.js
  app/views/layouts/_footer.html.erb
  app/views/layouts/_footer_core_app.html.erb
  app/views/shared/_import_case_modal.html.erb
  app/views/shared/_import_snapshot_modal.html.erb
  app/views/shared/_modal_shell.html.erb
  app/views/shared/_osc_copyright.html.erb
  app/views/shared/_share_book_modal.html.erb
  app/views/shared/_share_case_core_modal.html.erb
  app/views/shared/_share_case_modal.html.erb
  app/views/shared/_share_scorer_modal.html.erb
  app/views/shared/_share_search_endpoint_modal.html.erb
  config/importmap.rb
  docs/todo/dry_opportunities.md
  vitest.config.js
Due: rubocop, eslint, prettier

Migrate delete-case-options modal to Stimulus, add generic bs-popover/tooltip controllers
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/javascripts/directives/quepidSortable.js
  app/assets/javascripts/directives/quepidTooltip.js
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/queriesLayout.html
  app/assets/templates/views/searchResults.html
  app/controllers/cases_controller.rb
  app/javascript/controllers/bs_popover_controller.js
  app/javascript/controllers/bs_popover_controller.test.js
  app/javascript/controllers/bs_tooltip_controller.js
  app/javascript/controllers/confirm_delete_controller.js
  app/javascript/controllers/confirm_delete_controller.test.js
  app/javascript/controllers/delete_case_options_core_controller.js
  app/javascript/controllers/delete_case_options_core_controller.test.js
  app/javascript/core_stimulus.js
  app/javascript/utils/destructive_form.js
  app/javascript/utils/destructive_form.test.js
  app/views/layouts/core.html.erb
  app/views/shared/_delete_case_options_core_modal.html.erb
  app/views/users/invitations/edit.html.erb
  config/importmap.rb
  config/routes.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/dry_opportunities.md
  spec/javascripts/angular/directives/quepidPopover_spec.js
  spec/javascripts/angular/directives/quepidTooltip_spec.js
  test/controllers/cases_controller_test.rb
  vitest.config.js
Due: rubocop, eslint, prettier

Wire delete-case-options-core into the case toolbar, remove Angular component
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/delete_case_options/delete_case_options.html
  app/assets/javascripts/components/delete_case_options/delete_case_options_controller.js
  app/assets/javascripts/components/delete_case_options/delete_case_options_directive.js
  app/assets/javascripts/components/delete_case_options/delete_case_options_modal_instance_controller.js
  app/assets/templates/views/queriesLayout.html
  docs/todo/angularjs_removal_inventory.md
  test/controllers/cases_controller_test.rb
Due: rubocop, eslint

Migrate clone-case modal to Stimulus, remove Angular component
  Gemfile.lock
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/clone_case/clone_case.html
  app/assets/javascripts/components/clone_case/clone_case_controller.js
  app/assets/javascripts/components/clone_case/clone_case_directive.js
  app/assets/javascripts/components/clone_case/clone_case_modal_instance_controller.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/templates/views/queriesLayout.html
  app/javascript/controllers/clone_case_core_controller.js
  app/javascript/controllers/clone_case_core_controller.test.js
  app/javascript/core_stimulus.js
  app/views/layouts/core.html.erb
  app/views/shared/_clone_case_core_modal.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/wizard_proxy_basic_auth_ideas.md
  spec/javascripts/angular/services/caseSvc_spec.js
  test/playwright/dom_migration_screenshots.spec.ts
Due: eslint, prettier

Fix query_doc_pairs create/update to redirect to the pair, not the index
  app/controllers/query_doc_pairs_controller.rb
  test/controllers/query_doc_pairs_controller_test.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
