Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Trim comment in rails_pulse.rb initializer
  config/initializers/rails_pulse.rb
Due: rubocop

Autofix RuboCop offenses in rails_pulse.rb initializer
  config/initializers/rails_pulse.rb
Due: rubocop

Merge admin layout into application layout (#1833)
  app/controllers/admin/admin_controller.rb
  app/controllers/application_controller.rb
  app/views/layouts/admin.html.erb
  app/views/layouts/application.html.erb
  build_css.js
  config/initializers/rails_pulse.rb
  db/schema.rb
Due: rubocop, prettier

Make the admin UI mobile-friendly (#1832)
  app/views/admin/announcements/index.html.erb
  app/views/admin/users/index.html.erb
  app/views/layouts/_admin_sidebar.html.erb
Due: none

Make the case detail (core) view mobile-friendly (#1831)
  app/assets/stylesheets/core-additions.css
  app/views/layouts/core.html.erb
Due: none

Mask the LLM key field, with a toggle to reveal plaintext
  app/javascript/controllers/password_toggle_controller.js
  app/views/ai_judges/_form.html.erb
Due: eslint, prettier

Mask the LLM key with CSS, not type=password
  app/assets/stylesheets/judgements.css
  app/javascript/controllers/password_toggle_controller.js
  app/views/ai_judges/_form.html.erb
Due: eslint, prettier

Give the mapper wizard's API key field the same password-toggle treatment
  app/views/mapper_wizards/show.html.erb
Due: none

Fix judgement import round trips and API judge attribution
  app/controllers/api/v1/judgements_controller.rb
  app/jobs/import_book_job.rb
  app/services/book_importer.rb
  app/views/books/import/edit.html.erb
  docs/manual-testing/10-books-management.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/api/v1/judgements_controller_test.rb
  test/controllers/books/import_controller_test.rb
  test/jobs/import_book_job_test.rb
  test/services/book_importer_test.rb
Due: rubocop

Mask secret fields with a dot overlay instead of -webkit-text-security
  app/assets/stylesheets/judgements.css
  app/javascript/controllers/password_toggle_controller.js
  app/views/ai_judges/_form.html.erb
  app/views/mapper_wizards/show.html.erb
Due: eslint, prettier

Preselect the book's scorer from its origin case
  app/controllers/books_controller.rb
Due: rubocop

Fix book auto-sync submission and preserve query score refresh
  app/javascript/utils/book_sync.js
  app/javascript/utils/live_query_lifecycle.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/query_service.js
  app/jobs/populate_book_job.rb
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  package.json
  test/controllers/api/v1/books/populate_controller_test.rb
  test/javascript/utils/book_sync.test.js
  test/javascript/utils/csv_properties.test.js
  test/javascript/utils/live_query_lifecycle.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/query_service.test.js
  yarn.lock
Due: rubocop, eslint, prettier

Fix sample data seeding: no LLM key for the Ollama judge, populate document_fields idempotently
  app/services/ratings_generator.rb
  lib/doc_generator.rb
  lib/tasks/sample_data.thor
Due: rubocop

Add fast-check property tests and a Ruby/JS CSV contract fixture
  AGENTS.md
  DEVELOPER_GUIDE.md
  docs/js_tooling.md
  test/fixtures/files/csv_round_trip_cases.json
  test/javascript/utils/book_sync_properties.test.js
  test/javascript/utils/csv_cross_language.test.js
  test/javascript/utils/csv_properties.test.js
  test/javascript/utils/diff_scores_properties.test.js
  test/javascript/utils/query_service_properties.test.js
  test/javascript/utils/scoring_properties.test.js
  test/services/csv_export_test.rb
Due: rubocop, eslint

Refactor ratings import/export and snapshot search without changing behavior
  app/controllers/api/v1/export/ratings_controller.rb
  app/controllers/api/v1/import/ratings_controller.rb
  app/controllers/api/v1/snapshots/search_controller.rb
  app/services/ratings_importer.rb
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/api/v1/export/ratings_controller_test.rb
  test/controllers/api/v1/import/ratings_controller_test.rb
  test/controllers/api/v1/snapshots/search_controller_test.rb
  test/services/ratings_importer_test.rb
Due: rubocop

Add Brakeman and bundler-audit, move doc images, re-rank todo
  .github/workflows/test.yml
  .rubocop.yml
  CHANGELOG.md
  DEVELOPER_GUIDE.md
  Gemfile
  Gemfile.lock
  README.md
  bin/brakeman
  bin/bundler-audit
  config/brakeman.ignore
  config/bundler-audit.yml
  config/ci.rb
  docs/adr/0001-llm-judge-provider-architecture.md
  docs/complete_application_specification.md
  docs/data_mapping.md
  docs/images/erd.png
  docs/images/frog-pond.jpg
  docs/images/image_0.png
  docs/images/image_1.png
  docs/images/image_2.png
  docs/images/image_3.png
  docs/images/rating-card-interface.png
  docs/manual-testing/17-documentation-coverage.md
  docs/todo/QUEPID_FEATURES.md
  docs/todo/todo.md
  lib/tasks/quepid.rake
Due: rubocop

Trim comment in BooksController#new
  app/controllers/books_controller.rb
Due: rubocop

simplify
  app/services/ratings_generator.rb
Due: rubocop

Render case annotations through Rails HTML endpoints
  .agents/skills/angular-case-migration/SKILL.md
  .agents/skills/branch-ui-diff/SKILL.md
  AGENTS.md
  DEVELOPER_GUIDE.md
  app/controllers/api/v1/annotations_controller.rb
  app/controllers/case_annotations_controller.rb
  app/controllers/concerns/annotation_persistence.rb
  app/javascript/controllers/annotations_controller.js
  app/views/core/_annotation.html.erb
  app/views/core/_annotation_template.html.erb
  app/views/core/_tune_relevance.html.erb
  app/views/core/index.html.erb
  config/routes.rb
  docs/legacy_comparison.md
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/tracking.yml
  docs/todo/rails_stimulus_json_workspace_plan.md
  docs/todo/todo.md
  test/controllers/api/v1/annotations_controller_test.rb
  test/controllers/case_annotations_controller_test.rb
  test/controllers/core_controller_test.rb
  test/javascript/controllers/annotations_controller.test.js
  test/javascript/support/view_template.js
  test/playwright/snapshots_and_annotations.spec.ts
Due: rubocop, eslint, prettier

Modernize the onboarding tour and record sharing parity checks
  AGENTS.md
  DEVELOPER_GUIDE.md
  Procfile.dev
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/tour.css
  app/javascript/controllers/wizard_controller.js
  app/javascript/core_vendor.js
  app/javascript/modules/tour.js
  app/views/layouts/_case_workspace.html.erb
  build_css.js
  config/javascript_lint_scope.mjs
  docker-compose.override.yml.example
  docs/core_ui_implementation_reference.md
  docs/js_pipeline.md
  docs/legacy_comparison.md
  docs/manual-testing/tracking.yml
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/todo.md
  esbuild.config.js
  eslint.config.mjs
  package.json
  test/controllers/cases_controller_test.rb
  test/controllers/core_controller_test.rb
  test/javascript/controllers/wizard_controller.test.js
  vitest.config.js
  yarn.lock
Due: rubocop, eslint, prettier

Move modal rendering and DOM cleanup into Stimulus controllers
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/javascript/controllers/bulk_judgement_controller.js
  app/javascript/controllers/confirm_delete_dialog_controller.js
  app/javascript/controllers/core_modal_controller_base.js
  app/javascript/controllers/delete_case_options_core_controller.js
  app/javascript/controllers/destructive_form_behavior.js
  app/javascript/controllers/detailed_document_controller.js
  app/javascript/controllers/import_form_controller_base.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/match_explain_controller.js
  app/javascript/controllers/match_explain_modal_controller.js
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/query_options_core_controller.js
  app/javascript/controllers/status_message_behavior.js
  app/javascript/core_stimulus.js
  app/javascript/utils/destructive_form.js
  app/javascript/utils/detailed_document_modal.js
  app/javascript/utils/status_message.js
  app/views/shared/_dynamic_modal_templates.html.erb
  docs/core_ui_implementation_reference.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/confirm_delete_dialog_controller.test.js
  test/javascript/controllers/delete_case_options_core_controller.test.js
  test/javascript/controllers/destructive_form_behavior.test.js
  test/javascript/controllers/diff_core_controller.test.js
  test/javascript/controllers/match_explain_controller.test.js
  test/javascript/controllers/status_message_behavior.test.js
  test/javascript/utils/detailed_document_modal.test.js
  vitest.config.js
Due: eslint, prettier

Fix sample data seeding: Ollama judge key, document_fields idempotency (#1838)
  app/services/ratings_generator.rb
  lib/doc_generator.rb
  lib/tasks/sample_data.thor
Due: rubocop

Preselect the book's scorer from its origin case (#1836)
  app/controllers/books_controller.rb
Due: rubocop

Render core modal catalogs in Rails and hide admin password hashes
  DEVELOPER_GUIDE.md
  app/controllers/core/modal_catalogs_controller.rb
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/controllers/pick_scorer_core_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/utils/share_case_teams.js
  app/views/admin/users/show.html.erb
  app/views/core/_judgement_book_templates.html.erb
  app/views/core/_scorer_list_template.html.erb
  app/views/shared/_judgements_core_modal.html.erb
  app/views/shared/_pick_scorer_core_modal.html.erb
  app/views/shared/_share_case_core_modal.html.erb
  app/views/shared/_share_case_core_team_templates.html.erb
  bin/pre-commit-rubocop
  config/application.rb
  config/routes.rb
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/14-admin-area.md
  docs/manual-testing/tracking.yml
  docs/todo/NOT-DOING.md
  docs/todo/rails_stimulus_json_workspace_plan.md
  docs/todo/todo.md
  test/controllers/core/modal_catalogs_controller_test.rb
  test/controllers/core_controller_test.rb
  test/integration/tls_flow_test.rb
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/controllers/pick_scorer_core_controller.test.js
  test/javascript/controllers/share_case_core_controller.test.js
  test/javascript/support/modal_catalog_html.js
  test/javascript/utils/share_case_teams.test.js
  test/playwright/toolbar_modals_core.spec.ts
  test/playwright/workspace_catalog_templates.spec.ts
Due: rubocop, eslint, prettier

Consolidate shared logic and harden ratings import and score sampling
  DEVELOPER_GUIDE.md
  app/controllers/ai_judges_controller.rb
  app/controllers/api/api_controller.rb
  app/controllers/api/v1/import/ratings_controller.rb
  app/controllers/api/v1/signups_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/controller_configuration.rb
  app/controllers/users/signups_controller.rb
  app/javascript/controllers/annotations_controller.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/controllers/pick_scorer_core_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/query_options_core_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/utils/case_runtime.js
  app/javascript/utils/core_events.js
  app/javascript/utils/flash.js
  app/javascript/utils/live_query_events.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/settings_runtime.js
  app/models/score.rb
  app/models/try.rb
  app/models/user.rb
  app/views/admin/announcements/_fields.html.erb
  app/views/admin/announcements/edit.html.erb
  app/views/admin/announcements/new.html.erb
  app/views/books/import/_upload_fields.html.erb
  app/views/books/import/edit.html.erb
  app/views/books/import/new.html.erb
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  lib/v8_mapper_executor.rb
  test/controllers/ai_judges_controller_test.rb
  test/controllers/api/v1/import/ratings_controller_test.rb
  test/models/score_test.rb
  test/services/v8_mapper_executor_test.rb
  vitest.config.js
Due: rubocop, eslint, prettier

Fix clipboard copying and feedback; refresh cleanup backlog
  .env.example
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  DEVELOPER_GUIDE.md
  app/controllers/api/v1/books_controller.rb
  app/javascript/controllers/browse_query_controller.js
  app/javascript/controllers/import_case_controller.js
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/prompt_form_controller.js
  app/javascript/utils/clipboard.js
  app/jobs/run_case_evaluation_job.rb
  app/views/books/_book.html.erb
  app/views/shared/_dynamic_modal_templates.html.erb
  docs/app_structure.md
  docs/core_ui_implementation_reference.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/07-search-endpoints-and-mapper-wizard.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/browse_query_controller.test.js
  test/javascript/controllers/mapper_wizard_controller.test.js
  test/javascript/utils/clipboard.test.js
Due: rubocop, eslint, prettier

Fix workspace async state handling and document Brakeman triage
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/move_query_core_controller.js
  app/javascript/controllers/pick_scorer_core_controller.js
  app/javascript/controllers/scorer_scale_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/utils/core_workspace_runtime.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/navigation_runtime.js
  app/javascript/utils/query_runtime.js
  app/javascript/utils/settings_runtime.js
  config/brakeman.ignore
  docs/manual-testing/03-case-management.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/08-scorers.md
  docs/manual-testing/tracking.yml
  docs/todo/NOT-DOING.md
  docs/todo/todo.md
  test/controllers/api/api_controller_test.rb
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/move_query_core_controller.test.js
  test/javascript/controllers/pick_scorer_core_controller.test.js
  test/javascript/controllers/scorer_scale_controller.test.js
  test/javascript/controllers/wizard_controller.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/navigation_runtime.test.js
  test/javascript/utils/navigation_runtime_properties.test.js
  test/javascript/utils/query_runtime.test.js
  test/javascript/utils/settings_runtime.test.js
Due: rubocop, eslint, prettier

Clean up legacy CSS and reuse Bootstrap modal styles
  app/assets/stylesheets/application.css
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/docs.css
  app/assets/stylesheets/froggy.css
  app/assets/stylesheets/json-explorer.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/panes.css
  app/assets/stylesheets/qscore.css
  app/assets/stylesheets/signup.css
  app/assets/stylesheets/stackedChart.css
  app/assets/stylesheets/style.css
  app/javascript/controllers/match_explain_controller.js
  app/views/core/index.html.erb
  app/views/shared/_dynamic_modal_templates.html.erb
  app/views/shared/_query_options_core_modal.html.erb
  app/views/shared/_wizard_modal.html.erb
  docs/manual-testing/tracking.yml
  test/javascript/controllers/match_explain_controller.test.js
  test/javascript/utils/dynamic_modal.test.js
  test/playwright/case_header_typography.spec.ts
  test/playwright/core_pages.spec.ts
  test/playwright/core_smoke.spec.ts
  test/playwright/workspace_modal_lifecycle.spec.ts
Due: eslint, prettier

Consolidate shared CSS and modernize social buttons for Bootstrap 5
  .agents/skills/branch-ui-diff/SKILL.md
  .agents/skills/branch-ui-diff/references/comparison-gallery.md
  DEVELOPER_GUIDE.md
  app/assets/stylesheets/admin2.css
  app/assets/stylesheets/animation.css
  app/assets/stylesheets/application.css
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/fonts.css
  app/assets/stylesheets/judgements.css
  app/assets/stylesheets/navbar-brand.css
  app/assets/stylesheets/panes.css
  app/assets/stylesheets/qscore.css
  app/assets/stylesheets/signup.css
  app/assets/stylesheets/style.css
  docs/manual-testing/tracking.yml
Due: none

Consolidate CSS bundles and improve visual diff tooling
  .agents/skills/branch-ui-diff/SKILL.md
  .agents/skills/branch-ui-diff/references/comparison-gallery.md
  AGENTS.md
  DEVELOPER_GUIDE.md
  app/assets/stylesheets/application.css
  app/assets/stylesheets/base.css
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/core.css
  app/assets/stylesheets/docs.css
  app/assets/stylesheets/froggy.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/navbar-brand.css
  app/assets/stylesheets/qgraph.css
  app/views/layouts/admin.html.erb
  audit_css.js
  bin/ui_diff_db_restore
  bin/ui_diff_db_snapshot
  bin/ui_diff_db_sync
  bin/ui_diff_up
  build_css.js
  docs/legacy_comparison.md
  docs/manual-testing/tracking.yml
  docs/todo/QUEPID_FEATURES.md
  test/playwright/generate-screenshot-manifest.mjs
  test/playwright/png-diff.mjs
  test/playwright/screenshot-viewer.html
Due: eslint, prettier

Add branch-specific screenshot history and baseline comparisons
  .agents/skills/branch-ui-diff/SKILL.md
  AGENTS.md
  DEVELOPER_GUIDE.md
  docs/README.md
  docs/manual-testing/17-documentation-coverage.md
  docs/manual-testing/tracking.yml
  docs/screenshot_review.md
  package.json
  test/playwright/generate-screenshot-manifest.mjs
  test/playwright/record-screenshot.mjs
  test/playwright/screen-history.mjs
  test/playwright/screen-history.test.mjs
  test/playwright/screenshot-status.mjs
  test/playwright/screenshot-tracker.mjs
  test/playwright/screenshot-viewer.html
Due: eslint

docs: record screenshot coverage and capture workflow rules
  AGENTS.md
  docs/manual-testing/tracking.yml
  docs/screenshot_review.md
Due: none

Harden screenshot history and viewer tooling
  .agents/skills/branch-ui-diff/SKILL.md
  docs/manual-testing/tracking.yml
  docs/screenshot_review.md
  test/playwright/dom_migration_screenshots.spec.ts
  test/playwright/generate-screenshot-manifest.mjs
  test/playwright/png-diff.mjs
  test/playwright/record-screenshot.mjs
  test/playwright/screen-history.mjs
  test/playwright/screen-history.test.mjs
  test/playwright/screenshot-tracker.mjs
  test/playwright/screenshot-viewer-server.mjs
  test/playwright/screenshot-viewer.html
Due: eslint

fix tracking.yml
  docs/manual-testing/tracking.yml
Due: none
