Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

refactor(core): share detailed document modal across Angular and Stimulus
  app/assets/javascripts/controllers/searchResult.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/quepid_dom.js
  app/javascript/stores/query_documents_store.js
  app/javascript/utils/detailed_document_modal.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/detailed_document_modal.test.js
  test/playwright/core_smoke.spec.ts
  vitest.config.js
Due: eslint, prettier

Migrate search result rendering to store-backed Stimulus state
  AGENTS.md
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/stores/query_documents_store.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/search_results_controller.test.js
  test/javascript/stores/query_documents_store.test.js
Due: eslint, prettier

refactor(core): migrate query notes and copy action to Stimulus; generalize agent SKILLs
  .agents/skills/angular-case-migration/SKILL.md
  .agents/skills/branch-ui-diff/SKILL.md
  .claude/skills
  AGENTS.md
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/query_notes_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/core_stimulus.js
  bin/ui_diff_db_restore
  bin/ui_diff_db_snapshot
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/query_notes_controller.test.js
  test/javascript/controllers/search_results_controller.test.js
Due: rubocop, eslint, prettier

refactor(core): split Stimulus query rows from Angular results islands
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_row_controller.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
Due: eslint, prettier

Refactor query list to reuse shared state utilities
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_row_controller.js
Due: eslint, prettier

notifications!
  app/controllers/ai_judges_controller.rb
Due: rubocop

Migrate core annotations from AngularJS to Stimulus
  AGENTS.md
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/annotation/annotation.html
  app/assets/javascripts/components/annotation/annotation_controller.js
  app/assets/javascripts/components/annotation/annotation_directive.js
  app/assets/javascripts/components/annotation/edit_annotation_modal_instance_controller.js
  app/assets/javascripts/components/annotations/annotations.html
  app/assets/javascripts/components/annotations/annotations_controller.js
  app/assets/javascripts/components/annotations/annotations_directive.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/filters/timeAgo.js
  app/assets/templates/views/devQueryParams.html
  app/javascript/controllers/annotations_controller.js
  app/javascript/core_stimulus.js
  app/views/core/index.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/filters/timeAgo_spec.js
  test/javascript/controllers/annotations_controller.test.js
  test/playwright/dom_migration_screenshots.spec.ts
  test/playwright/snapshots_and_annotations.spec.ts
Due: eslint, prettier

refactor(core): move document links into Stimulus snapshots
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/stores/query_documents_store.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/stores/query_documents_store.test.js
Due: eslint, prettier

refactor(core): move expanded result commands behind Stimulus adapters
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/stores/query_collection_store.js
  app/javascript/stores/query_documents_store.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/search_results_controller.test.js
  test/javascript/stores/query_collection_store.test.js
  test/javascript/stores/query_documents_store.test.js
Due: eslint, prettier

Migrate expanded query results off the Angular controller
  AGENTS.md
  app/assets/javascripts/controllers/searchResult.js
  app/assets/javascripts/controllers/searchResults.js
  app/assets/javascripts/directives/searchResults.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/qscore_query_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_delete_controller.js
  app/javascript/controllers/query_unrated_badge_controller.js
  app/javascript/controllers/rating_popover_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/controllers/search_results_template.js
  app/javascript/utils/scoring.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/search_results_controller.test.js
Due: eslint, prettier

Fix expanded query migration regressions and refresh baselines
  AGENTS.md
  app/javascript/controllers/queries_list_controller.js
  test/javascript/controllers/queries_list_controller.test.js
  test/playwright/angular_pages.spec.ts
  test/playwright/baselines/angular_pages.spec.ts/cases-list-01-case-loaded.png
  test/playwright/baselines/angular_pages.spec.ts/cases-list-02-relevancy-cases-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/cases-list-03-query-filter-focused.png
  test/playwright/baselines/angular_pages.spec.ts/cases-list-04-books-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/cases-list-06-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/query-editor-01-query-expanded.png
  test/playwright/baselines/angular_pages.spec.ts/query-editor-03-explain-modal.png
  test/playwright/baselines/angular_pages.spec.ts/query-editor-06-relevancy-cases-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/rating-ui-01-results-visible.png
  test/playwright/baselines/angular_pages.spec.ts/rating-ui-02-relevancy-cases-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/rating-ui-03-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/rating-ui-05-query-filter-focused.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-01-before-scorer-modal.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-04-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-05-books-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-06-filter-focused.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-01-welcome-step.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-02-name-step.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-03-case-name-focused.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-04-endpoint-accordion.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-05-relevancy-cases-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-06-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-08-query-filter-focused.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-01-wizard-endpoint-accordion.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-02-case-loaded.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-03-relevancy-dropdown.png
  test/playwright/baselines/core_smoke.spec.ts/explain-modal-parsing-tab.png
  test/playwright/baselines/share_case.spec.ts/share-case-modal-no-shareable.png
  test/playwright/baselines/share_case.spec.ts/share-case-modal-shareable-selected.png
  test/playwright/baselines/share_case.spec.ts/share-case-modal-unshare-selected.png
  test/playwright/baselines/share_case.spec.ts/share-case-modal-with-shareable.png
Due: eslint, prettier

refactor(core): move expanded result state off Angular
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/search_result_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/controllers/search_results_template.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/search_results_controller.test.js
  test/playwright/core_smoke.spec.ts
Due: eslint, prettier

refactor(core): route expanded result actions through document store
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/stores/query_documents_store.js
  docs/manual-testing/tracking.yml
  test/javascript/controllers/search_results_controller.test.js
  test/javascript/stores/query_documents_store.test.js
Due: eslint, prettier

refactor(core): migrate Explain Query off AngularJS
  app/assets/javascripts/components/query_explain/query_explain.html
  app/assets/javascripts/components/query_explain/query_explain_controller.js
  app/assets/javascripts/components/query_explain/query_explain_directive.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_explain_controller.js
  app/javascript/controllers/search_results_template.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/query_explain_controller.test.js
Due: eslint, prettier

Migrate core snapshot comparison picker to Stimulus
  AGENTS.md
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/querySnapshotSvc.js
  app/javascript/controllers/diff_core_controller.js
  app/javascript/core_stimulus.js
  app/views/core/_case_toolbar.html.erb
  app/views/core/_diff_modal.html.erb
  app/views/core/index.html.erb
  app/views/layouts/core.html.erb
  app/views/shared/_modal_shell.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/controllers/searchResults_spec.js
  spec/javascripts/angular/services/querySnapshotSvc_spec.js
  test/javascript/controllers/diff_core_controller.test.js
  test/playwright/snapshots_and_annotations.spec.ts
Due: eslint, prettier

Review and polishing
  app/controllers/books_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/controllers/judgements_controller.rb
  app/javascript/controllers/judge_activity_poll_controller.js
  app/jobs/broadcast_judge_activity_job.rb
  app/jobs/run_judge_judy_job.rb
  app/models/book.rb
  app/models/books_ai_judge.rb
  app/views/books/_cancel_judging_button.html.erb
  app/views/books/_judge_activity_row.html.erb
  app/views/books/_judging_activity_detail.html.erb
  app/views/books/_judging_modal.html.erb
  app/views/books/show.html.erb
  config/routes.rb
  test/controllers/ai_judges_controller_test.rb
  test/controllers/books_controller_test.rb
  test/javascript/controllers/judge_activity_poll_controller.test.js
Due: rubocop, eslint, prettier

move the tab
  app/views/books/_tabs.html.erb
Due: none

lint
  app/javascript/application_modern.js
Due: eslint

Fixing some fall out from the merge from main!
  app/controllers/ai_judges_controller.rb
  app/jobs/run_judge_judy_job.rb
Due: rubocop

Migrate snapshot diff rendering from AngularJS to Stimulus
  app/assets/javascripts/controllers/queryDiffResults.js
  app/assets/javascripts/directives/queryDiffResults.js
  app/assets/javascripts/services/diffResultsSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/querySnapshotSvc.js
  app/assets/stylesheets/qscore.css
  app/assets/templates/views/queryDiffResults.html
  app/javascript/controllers/diff_score_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/controllers/search_results_template.js
  app/javascript/core_stimulus.js
  app/javascript/stores/query_documents_store.js
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/diff_score_controller.test.js
  test/javascript/controllers/search_results_controller.test.js
  test/playwright/snapshots_and_annotations.spec.ts
Due: eslint, prettier

refactor(core): move snapshot diff scores to Stimulus
  app/assets/javascripts/components/qscore_case/qscore_case.html
  app/assets/javascripts/components/qscore_case/qscore_case_controller.js
  app/assets/javascripts/components/qscore_case/qscore_case_directive.js
  app/assets/javascripts/components/qscore_query/qscore_query.html
  app/assets/javascripts/components/qscore_query/qscore_query_controller.js
  app/assets/javascripts/components/qscore_query/qscore_query_directive.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/javascript/controllers/diff_case_scores_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/qscore_query_controller.js
  app/javascript/core_stimulus.js
  app/javascript/stores/query_documents_store.js
  app/javascript/utils/scoring.js
  app/views/core/index.html.erb
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/components/qscore_components_spec.js
  test/javascript/controllers/diff_case_scores_controller.test.js
  test/javascript/stores/query_documents_store.test.js
  test/playwright/snapshots_and_annotations.spec.ts
Due: eslint, prettier

Follow our rails native way...
  app/controllers/ai_judges_controller.rb
Due: rubocop

simplification and make sure we fit in jev...
  app/services/llm_judge_adapters/jev.rb
Due: rubocop

fix our drop down...
  app/views/ai_judges/_form.html.erb
Due: none

and a test..
  test/controllers/ai_judges_controller_test.rb
Due: rubocop

refactor(core): migrate import ratings modal to Stimulus
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/import_ratings/import_ratings.html
  app/assets/javascripts/components/import_ratings/import_ratings_controller.js
  app/assets/javascripts/components/import_ratings/import_ratings_directive.js
  app/assets/javascripts/components/import_ratings/import_ratings_modal_instance_controller.js
  app/assets/javascripts/controllers/case.js
  app/assets/javascripts/services/caseCSVSvc.js
  app/assets/javascripts/services/importRatingsSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/core_stimulus.js
  app/views/core/_case_toolbar.html.erb
  app/views/core/index.html.erb
  app/views/shared/_import_ratings_core_modal.html.erb
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/importRatingsSvc_spec.js
  test/javascript/controllers/import_ratings_core_controller.test.js
  test/playwright/dom_migration_screenshots.spec.ts
Due: eslint, prettier

simplificaitons
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/models/judge_scale.rb
  app/models/llm_provider.rb
  app/services/llm_service.rb
  app/views/ai_judges/_form.html.erb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
  test/models/llm_providers_test.rb
Due: rubocop, eslint, prettier

AI Judges: write the Jev help panel as a squiggly heredoc
  app/models/llm_providers.rb
Due: rubocop

AI Judges: say where Jev's rating scale comes from
  app/models/llm_providers.rb
Due: rubocop

AI Judges: drop the stale placeholder note on the Jev provider
  app/models/llm_providers.rb
Due: rubocop

AI Judges: drop LlmProviders wrappers that were only indirection
  app/controllers/ai_judges_controller.rb
  app/models/llm_providers.rb
  app/views/ai_judges/_form.html.erb
  test/models/llm_providers_test.rb
Due: rubocop

AI Judges: one LlmProvider class with a DEFINITIONS list
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/models/llm_provider.rb
  app/models/llm_providers.rb
  app/services/llm_judge_adapters.rb
  app/services/llm_judge_adapters/base.rb
  app/views/ai_judges/_form.html.erb
  docs/manual-testing/tracking.yml
  test/controllers/ai_judges_controller_test.rb
  test/models/llm_provider_test.rb
Due: rubocop, eslint, prettier

Ensure API and regular controller share same scorer assignment logic
  app/controllers/api/v1/books_controller.rb
  app/controllers/books_controller.rb
  app/controllers/concerns/book_scorer_assignment.rb
Due: rubocop

and a test
  test/controllers/api/v1/books_controller_test.rb
Due: rubocop

refactor(core): migrate browse query modal to Stimulus
  app/assets/javascripts/components/browse_query/_modal.html
  app/assets/javascripts/components/browse_query/browse_query.html
  app/assets/javascripts/components/browse_query/browse_query_controller.js
  app/assets/javascripts/components/browse_query/browse_query_directive.js
  app/assets/javascripts/components/browse_query/browse_query_modal_instance_controller.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/angular_app.js
  app/javascript/controllers/browse_query_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/controllers/search_results_template.js
  app/javascript/core_stimulus.js
  app/javascript/utils/browse_query.js
  config/importmap.rb
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  package.json
  spec/javascripts/angular/components/browse_query/browse_query_modal_instance_controller_spec.js
  test/javascript/utils/browse_query.test.js
  test/playwright/core_smoke.spec.ts
  vitest.config.js
  yarn.lock
Due: rubocop, eslint, prettier

Since we shipped Jev, lets remove the coming soon plumbing... YAGNI.
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/models/llm_provider.rb
  app/services/llm_judge_adapters.rb
  app/views/ai_judges/_form.html.erb
  test/controllers/ai_judges_controller_test.rb
  test/models/llm_provider_test.rb
Due: rubocop, eslint, prettier

refactor(core): migrate query options modal to Stimulus
  app/assets/javascripts/components/query_options/_modal.html
  app/assets/javascripts/components/query_options/query_options.html
  app/assets/javascripts/components/query_options/query_options_controller.js
  app/assets/javascripts/components/query_options/query_options_directive.js
  app/assets/javascripts/components/query_options/query_options_modal_instance_controller.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_options_core_controller.js
  app/javascript/controllers/search_results_template.js
  app/javascript/core_stimulus.js
  app/views/core/index.html.erb
  app/views/shared/_query_options_core_modal.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/query_options_core_controller.test.js
  test/playwright/core_smoke.spec.ts
  vitest.config.js
Due: eslint, prettier

refactor(core): remove retired Angular move query component
  app/assets/javascripts/components/move_query/_modal.html
  app/assets/javascripts/components/move_query/move_query.html
  app/assets/javascripts/components/move_query/move_query_controller.js
  app/assets/javascripts/components/move_query/move_query_directive.js
  app/assets/javascripts/components/move_query/move_query_modal_instance_controller.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/queriesSvc.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
Due: eslint

refactor(core): migrate score history graph off AngularJS
  app/assets/javascripts/components/qgraph/qgraph.html
  app/assets/javascripts/components/qgraph/qgraph_controller.js
  app/assets/javascripts/components/qgraph/qgraph_directive.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/factories/AnnotationFactory.js
  app/assets/javascripts/services/annotationsSvc.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/stylesheets/qgraph.css
  app/assets/stylesheets/qscore.css
  app/javascript/controllers/qgraph_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/qgraph.js
  app/views/core/index.html.erb
  config/importmap.rb
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/services/annotationsSvc_spec.js
  test/javascript/utils/qgraph.test.js
  vitest.config.js
Due: rubocop, eslint, prettier
