Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

Plan: inter-judge agreement on a book
  docs/README.md
  docs/todo/inter_judge_agreement.md
  docs/todo/judge_calibration_research.md
  docs/todo/judgements-escalation.md
Due: none

Calibration between judges: research note and risk-register section
  docs/README.md
  docs/todo/escalating_judges.md
  docs/todo/judge_calibration_research.md
  docs/todo/judgements-escalation.md
Due: none

How-to: optimize an LLM judge's prompt against a golden dataset
  docs/README.md
  docs/todo/escalating_judges.md
  docs/todo/inter_judge_agreement.md
  docs/todo/optimizing_llm_as_judge_query_based_on_golden_dataset.md
Due: none

AI Judges: send the case thumb as an image, with a per-judge switch
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/services/llm_judge_adapters/base.rb
  app/views/ai_judges/_form.html.erb
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  test/controllers/ai_judges/wizard_controller_test.rb
  test/controllers/ai_judges_controller_test.rb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
  test/services/llm_judge_adapters_test.rb
Due: rubocop, eslint, prettier

AI Judges: disable "Judge with images" for providers that can't take images
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/models/llm_provider.rb
  app/services/llm_judge_adapters/base.rb
  app/views/ai_judges/_form.html.erb
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  test/controllers/ai_judges_controller_test.rb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
  test/models/llm_provider_test.rb
  test/services/llm_judge_adapters_test.rb
Due: rubocop, eslint, prettier

Polish Judge Activity: fix sparkline flicker, overview/stats parity (#1821)
  app/assets/javascripts/services/bookSvc.js
  app/assets/stylesheets/application.css
  app/controllers/books_controller.rb
  app/javascript/controllers/judge_activity_poll_controller.js
  app/javascript/controllers/judge_activity_stats_controller.js
  app/javascript/controllers/judge_sparkline_controller.js
  app/jobs/application_job.rb
  app/jobs/broadcast_judge_activity_job.rb
  app/jobs/judgement_from_rating_job.rb
  app/jobs/update_case_ratings_job.rb
  app/models/book.rb
  app/views/books/_judge_activity_row.html.erb
  app/views/books/_judge_count_cell.html.erb
  app/views/books/_judge_last_cell.html.erb
  app/views/books/_judge_status_cell.html.erb
  app/views/books/judgement_stats.html.erb
  app/views/books/show.html.erb
  app/views/layouts/_header.html.erb
  lib/tasks/sample_data.thor
  test/controllers/books_controller_test.rb
  test/javascript/controllers/judge_activity_poll_controller.test.js
  test/javascript/controllers/judge_activity_stats_controller.test.js
  test/javascript/controllers/judge_sparkline_controller.test.js
  test/jobs/application_job_test.rb
  test/jobs/broadcast_judge_activity_job_test.rb
  test/jobs/judgement_from_rating_job_test.rb
  test/jobs/update_case_ratings_job_test.rb
  test/models/book_test.rb
  test/playwright/admin.spec.ts
  test/playwright/book_import_export.spec.ts
  test/playwright/home_and_profile.spec.ts
  test/playwright/scorers_and_search_endpoints.spec.ts
  test/playwright/teams.spec.ts
Due: rubocop, eslint, prettier

Route generated core controls through Stimulus actions
  app/javascript/controllers/flash_controller.js
  app/javascript/controllers/match_explain_controller.js
  app/javascript/controllers/query_explain_controller.js
  app/javascript/controllers/search_result_controller.js
  app/javascript/controllers/share_entity_controller_base.js
  app/views/core/index.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/flash_controller.test.js
  test/javascript/controllers/match_explain_controller.test.js
  test/javascript/controllers/query_explain_controller.test.js
  test/javascript/controllers/search_result_controller.test.js
  test/javascript/controllers/share_entity_controller_base.test.js
  test/playwright/core_event_actions.spec.ts
Due: eslint, prettier

Declare Tune Relevance actions instead of delegated handlers
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/views/core/_tune_relevance.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/tune_relevance_controller.test.js
  test/playwright/case_header_rename.spec.ts
  test/playwright/dom_migration_screenshots.spec.ts
  test/playwright/snapshots_and_annotations.spec.ts
  test/playwright/tune_relevance.spec.ts
Due: eslint, prettier

prep for release
  CHANGELOG.md
Due: none

add who else contributed
  CHANGELOG.md
Due: none

Fix yql query without json...
  app/assets/javascripts/controllers/wizardModal.js
  app/models/mapper_based_search_engine.rb
  app/models/try.rb
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  spec/javascripts/angular/controllers/wizardModal_spec.js
  test/models/try_test.rb
Due: rubocop, eslint, prettier

Restore main parity in core modals and Tune Relevance
  app/assets/stylesheets/core-additions.css
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/move_query_core_controller.js
  app/javascript/controllers/search_result_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/controllers/search_results_template.js
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/modules/editor.js
  app/javascript/utils/query_documents.js
  app/views/core/_try_details_modal.html.erb
  app/views/core/_tune_relevance.html.erb
  app/views/core/index.html.erb
  app/views/shared/_import_ratings_core_modal.html.erb
  app/views/shared/_move_query_core_modal.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/import_ratings_core_controller.test.js
  test/javascript/controllers/move_query_core_controller.test.js
  test/javascript/controllers/search_result_controller.test.js
  test/javascript/controllers/search_results_controller.test.js
  test/javascript/controllers/tune_relevance_controller.test.js
  test/javascript/modules/editor.test.js
  test/javascript/utils/query_documents.test.js
  test/playwright/tune_relevance.spec.ts
Due: eslint, prettier

Unwrap core search and DOM service locators
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/query_lifecycle_controller.js
  app/javascript/controllers/search_result_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/core_runtime.js
  app/javascript/quepid_dom.js
  app/javascript/quepid_search.js
  app/javascript/utils/flash.js
  app/javascript/utils/live_query_capabilities.js
  app/javascript/utils/live_query_runtime_graph.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/live_query_search.js
  app/javascript/utils/query_service.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/QUEPID_COREUI_FEATURES.md
  esbuild.config.js
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/query_lifecycle_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/controllers/wizard_controller.test.js
  test/javascript/utils/live_query_capabilities.test.js
  test/javascript/utils/live_query_runtime_graph.test.js
  test/javascript/utils/live_query_search.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Optimize case listing page by not loading all scores blindly
  DEVELOPER_GUIDE.md
  app/controllers/cases_controller.rb
  app/models/score.rb
  app/views/cases/index.html.erb
  db/migrate/20261002202000_add_case_latest_score_index.rb
  db/schema.rb
  docs/manual-testing/03-case-management.md
  test/controllers/cases_controller_test.rb
  test/fixtures/scores.yml
  test/models/score_test.rb
Due: rubocop

Consolidate core modal state helpers
  AGENTS.md
  DEVELOPER_GUIDE.md
  app/javascript/controllers/clone_case_core_controller.js
  app/javascript/controllers/core_modal_controller_base.js
  app/javascript/controllers/diff_core_controller.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/controllers/move_query_core_controller.js
  app/javascript/controllers/pick_scorer_core_controller.js
  app/javascript/controllers/query_options_core_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/controllers/take_snapshot_core_controller.js
  docs/manual-testing/tracking.yml
  test/javascript/controllers/core_modal_controller_base.test.js
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/controllers/query_options_core_controller.test.js
Due: eslint, prettier

Replace Ace with CodeMirror in the Missing Documents finder
  .deepsource.toml
  AGENTS.md
  DEVELOPER_GUIDE.md
  app/assets/stylesheets/core-additions.css
  app/javascript/ace_config.js
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/core_vendor.js
  app/javascript/modules/editor.js
  app/views/layouts/core.html.erb
  config/importmap.rb
  config/javascript_lint_scope.mjs
  docs/js_pipeline.md
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  package.json
  public/javascripts/ace/theme-chrome.js
  public/javascripts/ace/worker-javascript.js
  public/javascripts/ace/worker-json.js
  test/javascript/controllers/missing_documents_controller.test.js
  test/javascript/modules/editor.test.js
  vendor/javascript/@codemirror--commands.js
  yarn.lock
Due: rubocop, eslint, prettier

Render core footer in Rails and remove legacy footer.js
  AGENTS.md
  DEVELOPER_GUIDE.md
  app/javascript/footer.js
  app/views/core/index.html.erb
  app/views/layouts/core.html.erb
  config/javascript_lint_scope.mjs
  docs/js_pipeline.md
  docs/js_tooling.md
  docs/manual-testing/16-cross-cutting-bs5-responsive-and-accessibility.md
  docs/manual-testing/tracking.yml
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/todo.md
Due: eslint

Consolidate search engine labels into one SearchEngine catalog
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/take_snapshot_core_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/query_runtime.js
  app/javascript/utils/query_service.js
  app/javascript/utils/rated_docs.js
  app/javascript/utils/search_engine_name.js
  app/javascript/utils/search_engines.js
  app/models/search_endpoint.rb
  app/models/search_engine.rb
  app/views/core/index.html.erb
  app/views/search_endpoints/_form.html.erb
  app/views/shared/_dynamic_modal_templates.html.erb
  app/views/shared/_take_snapshot_core_modal.html.erb
  app/views/shared/_wizard_modal.html.erb
  docs/manual-testing/tracking.yml
  test/javascript/controllers/missing_documents_controller.test.js
  test/javascript/controllers/take_snapshot_core_controller.test.js
  test/javascript/controllers/tune_relevance_controller.test.js
  test/javascript/controllers/wizard_controller.test.js
  test/javascript/utils/rated_docs.test.js
  test/javascript/utils/search_engine_name.test.js
  test/javascript/utils/search_engines.test.js
  test/javascript/utils/targeted_search.test.js
  test/models/search_endpoint_test.rb
  test/models/search_engine_test.rb
  vitest.config.js
Due: rubocop, eslint, prettier

test: consolidate Stimulus controller setup with a shared fixture builder
  test/javascript/controllers/annotations_controller.test.js
  test/javascript/controllers/clone_case_core_controller.test.js
  test/javascript/controllers/diff_core_controller.test.js
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/controllers/import_case_controller.test.js
  test/javascript/controllers/import_snapshot_controller.test.js
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/controllers/mapper_wizard_controller.test.js
  test/javascript/controllers/missing_documents_controller.test.js
  test/javascript/controllers/move_query_core_controller.test.js
  test/javascript/controllers/pick_scorer_core_controller.test.js
  test/javascript/controllers/share_book_controller.test.js
  test/javascript/controllers/share_case_controller.test.js
  test/javascript/controllers/share_case_core_controller.test.js
  test/javascript/controllers/share_scorer_controller.test.js
  test/javascript/controllers/share_search_endpoint_controller.test.js
  test/javascript/controllers/take_snapshot_core_controller.test.js
  test/javascript/support/controller_fixture.js
  test/javascript/support/controller_fixture.test.js
Due: eslint

Call snapshot-bridge through a Stimulus outlet
  DEVELOPER_GUIDE.md
  app/javascript/controllers/diff_core_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/controllers/take_snapshot_core_controller.js
  app/views/core/_diff_modal.html.erb
  app/views/layouts/core.html.erb
  app/views/shared/_take_snapshot_core_modal.html.erb
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  docs/todo/js_code_review_2026-09-30.md
  docs/todo/todo.md
  test/javascript/controllers/diff_core_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/controllers/take_snapshot_core_controller.test.js
  test/javascript/support/controller_fixture.js
  test/javascript/support/controller_fixture.test.js
  test/playwright/core_event_actions.spec.ts
  test/playwright/snapshots_and_annotations.spec.ts
Due: eslint, prettier

Replace wizard, pane and share-case events with Stimulus outlets
  DEVELOPER_GUIDE.md
  app/javascript/controllers/case_toolbar_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/controllers/wizard_launcher_controller.js
  app/views/core/_case_toolbar.html.erb
  app/views/core/index.html.erb
  app/views/shared/_judgements_core_modal.html.erb
  app/views/shared/_share_case_core_modal.html.erb
  app/views/shared/_wizard_modal.html.erb
  docs/manual-testing/tracking.yml
  test/javascript/controllers/case_toolbar_controller.test.js
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/controllers/share_case_core_controller.test.js
  test/javascript/controllers/wizard_controller.test.js
  test/javascript/controllers/wizard_launcher_controller.test.js
  test/playwright/core_event_actions.spec.ts
Due: eslint, prettier

Replace query-explain, query removal and bootstrap events with Stimulus outlets
  DEVELOPER_GUIDE.md
  app/javascript/controllers/case_toolbar_controller.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/move_query_core_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_command_bridge_controller.js
  app/javascript/controllers/query_delete_controller.js
  app/javascript/controllers/query_explain_controller.js
  app/javascript/controllers/search_results_template.js
  app/views/core/_case_toolbar.html.erb
  app/views/core/_queries.html.erb
  app/views/layouts/core.html.erb
  app/views/shared/_move_query_core_modal.html.erb
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/move_query_core_controller.test.js
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/query_command_bridge_controller.test.js
  test/javascript/controllers/query_delete_controller.test.js
  test/javascript/controllers/query_explain_controller.test.js
  test/javascript/controllers/search_results_template.test.js
  test/playwright/core_event_actions.spec.ts
Due: eslint, prettier

Restore book sync reconfiguration after saving book settings
  DEVELOPER_GUIDE.md
  app/javascript/core_runtime.js
  app/javascript/utils/live_query_events.js
  app/javascript/utils/live_query_runtime_owner.js
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/todo.md
  test/javascript/utils/core_runtime.test.js
  test/javascript/utils/live_query_events.test.js
  test/playwright/book_sync_settings.spec.ts
Due: eslint, prettier

Remove unused index.
  app/models/score.rb
  db/migrate/20261003153441_remove_obsolete_last_score_index.rb
  db/schema.rb
  docs/manual-testing/tracking.yml
  test/fixtures/scores.yml
  test/models/score_test.rb
Due: rubocop

Fix Missing Documents rating badges
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/utils/query_runtime.js
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/missing_documents_controller.test.js
  test/javascript/utils/targeted_search.test.js
Due: eslint, prettier

Move tune_relevance and mapper_wizard static markup into ERB
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/views/core/_tune_relevance.html.erb
  app/views/mapper_wizards/show.html.erb
  config/stimulus_conventions_baseline.json
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/mapper_wizard_controller.test.js
  test/javascript/controllers/tune_relevance_controller.test.js
Due: eslint, prettier

Optimize case listing page by not loading all scores blindly (#1823)
  DEVELOPER_GUIDE.md
  app/controllers/cases_controller.rb
  app/models/score.rb
  app/views/cases/index.html.erb
  db/migrate/20261002202000_add_case_latest_score_index.rb
  db/migrate/20261003153441_remove_obsolete_last_score_index.rb
  db/schema.rb
  docs/manual-testing/03-case-management.md
  docs/manual-testing/tracking.yml
  test/controllers/cases_controller_test.rb
  test/fixtures/scores.yml
  test/models/score_test.rb
Due: rubocop

Drop Angular-era link hacks and trim the core Bootstrap 3 compat CSS
  AGENTS.md
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/misc.css
  app/views/layouts/_common_js.html.erb
  app/views/layouts/_footer_core_app.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/shared/_account_dropdown.html.erb
  docs/manual-testing/tracking.yml
Due: none

small text tweak
  app/views/ai_judges/_form.html.erb
Due: none

we need to finish the bump
  package.json
  yarn.lock
Due: none

Run server-side scorers on the browser scorer runtime
  CHANGELOG.md
  app/services/fetch_service.rb
  docs/todo/todo.md
  lib/javascript_scorer.rb
  lib/scorer_logic.js
  test/services/fetch_service_test.rb
  test/services/javascript_scorer_test.rb
  test/services/scoring_test.rb
Due: rubocop, eslint

Extract live-query read models and drop dead sorting/onDirty hooks
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_read_models.js
  app/javascript/utils/live_query_runtime_owner.js
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/QUEPID_FEATURES.md
  docs/todo/todo.md
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/utils/live_query_read_models.test.js
  vitest.config.js
Due: eslint, prettier

Consolidate HTML sanitizers and switch BookImporter to allowlists
  app/javascript/controllers/search_result_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/utils/detailed_document_modal.js
  app/javascript/utils/html.js
  app/javascript/utils/live_query_read_models.js
  app/services/book_importer.rb
  docs/core_ui_implementation_reference.md
  docs/todo/todo.md
  test/javascript/utils/html.test.js
  test/services/book_importer_test.rb
Due: rubocop, eslint, prettier

Render search-error links safely and unstick the progress banner
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/flash_controller.js
  app/javascript/controllers/match_explain_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_lifecycle_controller.js
  app/javascript/utils/error_message.js
  app/javascript/utils/flash.js
  app/javascript/utils/html.js
  app/javascript/utils/live_query_documents.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/search_error.js
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/todo/todo.md
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/flash_controller.test.js
  test/javascript/controllers/match_explain_controller.test.js
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/query_lifecycle_controller.test.js
  test/javascript/utils/error_message.test.js
  test/javascript/utils/live_query_documents.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/search_error.test.js
Due: eslint, prettier

Keep the Tune Relevance drawer open after Rerun My Searches!
  app/javascript/controllers/pane_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/views/core/index.html.erb
  docs/todo/todo.md
  test/javascript/controllers/pane_controller.test.js
  test/javascript/controllers/tune_relevance_controller.test.js
Due: eslint, prettier

Fix core modal Escape and Tune Relevance parity; consolidate scorer API
  DEVELOPER_GUIDE.md
  app/assets/stylesheets/core-additions.css
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/move_query_core_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/bs_modal.js
  app/javascript/utils/core_capabilities_runtime.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/scorer_catalog.js
  app/javascript/utils/scorer_runtime.js
  app/views/core/_tune_relevance.html.erb
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/todo.md
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/tune_relevance_controller.test.js
  test/javascript/utils/bs_modal.test.js
  test/javascript/utils/core_capabilities_runtime.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/scorer_catalog.test.js
  test/playwright/baselines/core_smoke.spec.ts/explain-modal-parsing-tab.png
  test/playwright/case_helpers.ts
  test/playwright/core_smoke.spec.ts
  test/playwright/modal_a11y.spec.ts
  test/playwright/tune_relevance.spec.ts
Due: eslint, prettier

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
