Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

additional screnshots, update doc
  docs/angularjs_ui_inventory.md
  docs/images/core_case_evaluation_manual/64_debug_matches_modal.png
  docs/images/core_case_evaluation_manual/65_expand_content_modal.png
  docs/images/core_case_evaluation_manual/66_query_diff_results.png
  docs/images/core_case_evaluation_manual/69_404_page.png
  docs/images/core_case_evaluation_manual/70_flash_messages.png
  docs/images/core_case_evaluation_manual/71_delete_case_simple_modal.png
  docs/images/core_case_evaluation_manual/72_unarchive_case_modal.png
  docs/images/core_case_evaluation_manual/73_case_header_badges.png
  docs/images/core_case_evaluation_manual/74_diff_scores_header.png
  docs/images/core_case_evaluation_manual/75_query_error_state.png
  docs/images/core_case_evaluation_manual/76_threshold_indicator.png
  docs/images/core_case_evaluation_manual/77_search_endpoint_typeahead.png
  docs/images/core_case_evaluation_manual/78_media_embed.png
  docs/images/core_case_evaluation_manual/79_debug_expand_buttons.png
  docs/images/core_case_evaluation_manual/80_drag_drop_reorder.png
  docs/scripts/render_isolated_components.html
Due: none

Lots of change!
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/controllers/admin/users/pulses_controller.rb
  app/controllers/api/v1/cases_controller.rb
  app/controllers/books_controller.rb
  app/jobs/update_case_job.rb
  app/models/case.rb
  app/services/ratings_manager.rb
  app/views/admin/users/show.html.erb
  app/views/api/v1/cases/_case.json.jbuilder
  app/views/books/_form.html.erb
  db/migrate/20260314000000_add_case_book_sync_flags_to_cases.rb
  db/schema.rb
  test/fixtures/cases.yml
  test/models/case_test.rb
Due: rubocop, eslint

spelling
  CHANGELOG.md
Due: none

fix ups
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/views/books/_form.html.erb
Due: eslint

Redo of sync missing queries.
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
Due: eslint

triggering background jobs should redirect us to homepage.
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
  app/controllers/home_controller.rb
Due: rubocop, eslint

nice simplification
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
Due: eslint

add some basic testing
  test/controllers/api/v1/cases_controller_test.rb
  test/jobs/update_case_job_test.rb
  test/models/case_test.rb
  test/services/ratings_manager_test.rb
Due: rubocop

Some UI polish
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
  app/controllers/books_controller.rb
  app/views/books/_form.html.erb
Due: rubocop, eslint

fix tests
  spec/javascripts/angular/controllers/wizardModal_spec.js
  spec/javascripts/angular/services/queriesSvc_spec.js
Due: eslint, prettier

Check in this POC for now.
  app/assets/javascripts/controllers/case.js
  app/assets/templates/views/queriesLayout.html
  app/javascript/application_core.js
  app/javascript/controllers/poc_modal_controller.js
  app/views/layouts/core.html.erb
  app/views/shared/_poc_modal.html.erb
  config/importmap.rb
Due: rubocop, eslint, prettier

Improve syncing between books and cases (#1677)
  CHANGELOG.md
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/controllers/admin/users/pulses_controller.rb
  app/controllers/api/v1/cases_controller.rb
  app/controllers/books_controller.rb
  app/controllers/home_controller.rb
  app/jobs/update_case_job.rb
  app/models/case.rb
  app/services/ratings_manager.rb
  app/views/admin/users/show.html.erb
  app/views/api/v1/cases/_case.json.jbuilder
  app/views/books/_form.html.erb
  db/migrate/20260314000000_add_case_book_sync_flags_to_cases.rb
  db/schema.rb
  spec/javascripts/angular/controllers/wizardModal_spec.js
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/controllers/api/v1/cases_controller_test.rb
  test/fixtures/cases.yml
  test/jobs/update_case_job_test.rb
  test/models/case_test.rb
  test/services/ratings_manager_test.rb
Due: rubocop, eslint, prettier

Remove depends_on from application service
  docker-compose.prod.yml
Due: none

Add contextual help to AI judge provider form and fix Docker dev issues
  Procfile.dev
  app/views/ai_judges/_form.html.erb
  docker-compose.yml
Due: none

Add Azure OpenAI and Azure Anthropic AI judges to sample data
  lib/tasks/sample_data.thor
Due: none

Fix rubocop offenses in LlmService and tests
  app/services/llm_service.rb
  test/services/llm_service_test.rb
Due: rubocop

Fix DeepSource JS issues: replace var with const, use template literal
  app/assets/javascripts/services/settingsSvc.js
Due: eslint

pull in docs from deangularjs-experimental
  docs/migration/angularjs_elimination_plan.md
  docs/migration/core_case_evaluation_manual.md
  docs/migration/core_case_evaluation_manual_screenshots.md
  docs/migration/deangularjs_experimental_review.md
  docs/migration/from-deangularjs-experimental/README.md
  docs/migration/from-deangularjs-experimental/SOURCE.md
  docs/migration/from-deangularjs-experimental/admin_scorer_editing.md
  docs/migration/from-deangularjs-experimental/api_client.md
  docs/migration/from-deangularjs-experimental/archives/angular_services_responsibilities_mapping.md
  docs/migration/from-deangularjs-experimental/archives/deangularjs_branch_comparison.md
  docs/migration/from-deangularjs-experimental/archives/port_completed.md
  docs/migration/from-deangularjs-experimental/archives/workspace_behavior.md
  docs/migration/from-deangularjs-experimental/human-what-changed.md
  docs/migration/from-deangularjs-experimental/intentional_design_changes.md
  docs/migration/from-deangularjs-experimental/main_vs_deangularjs_experimental_comparison.md
  docs/migration/from-deangularjs-experimental/pragmatic_engineering_setup_review.md
  docs/migration/from-deangularjs-experimental/todo/code_review_findings.md
  docs/migration/from-deangularjs-experimental/todo/future_tasks.md
  docs/migration/from-deangularjs-experimental/todo/pragmatic_engineering_setup_review.md
  docs/migration/from-deangularjs-experimental/todo/stuff_to_talk_about.md
  docs/migration/from-deangularjs-experimental/turbo_frame_boundaries.md
  docs/migration/from-deangularjs-experimental/turbo_streams_guide.md
  docs/migration/from-deangularjs-experimental/ui_consistency_patterns.md
  docs/migration/from-deangularjs-experimental/view_component_conventions.md
  docs/migration/from-deangularjs-experimental/visual_parity.md
  docs/migration/from-deangularjs-experimental/workspace_api_usage.md
  docs/migration/from-deangularjs-experimental/workspace_state_design.md
Due: none

Fix switch UI
  app/views/search_endpoints/_form.html.erb
Due: none

first pass of doing search_endpoint
  .env.example
  app/models/concerns/maskable_credential.rb
  app/models/search_endpoint.rb
  config/initializers/customize_quepid.rb
  test/models/search_endpoint_test.rb
Due: rubocop

remove unneded helper
  app/views/search_endpoints/_form.html.erb
Due: none

now properly handling custom headers and stuff
  app/javascript/controllers/mapper_wizard_controller.js
  app/models/concerns/maskable_credential.rb
  app/models/mapper_wizard_state.rb
  config/initializers/customize_quepid.rb
  test/models/mapper_wizard_state_test.rb
Due: rubocop, eslint, prettier

Add data attributes to core layout body for non-Angular access
  app/views/layouts/core.html.erb
Due: none

Add application_modern importmap to core layout
  app/views/layouts/core.html.erb
Due: none

doc trimming, cursor rules
  .cursor/commands/code-review.md
  .cursor/rules/frontend-migration.mdc
  .cursor/rules/quepid-project.mdc
  .cursor/rules/ruby-rails.mdc
  docs/admin_communal_scorers_removal.md
  docs/admin_scorer_editing.md
  docs/migration/angular_services_responsibilities_mapping.md
  docs/migration/angularjs_elimination_plan.md
  docs/migration/api_client.md
  docs/migration/code_review_findings.md
  docs/migration/from-deangularjs-experimental/README.md
  docs/migration/from-deangularjs-experimental/SOURCE.md
  docs/migration/from-deangularjs-experimental/admin_scorer_editing.md
  docs/migration/from-deangularjs-experimental/api_client.md
  docs/migration/from-deangularjs-experimental/archives/angular_services_responsibilities_mapping.md
  docs/migration/from-deangularjs-experimental/archives/deangularjs_branch_comparison.md
  docs/migration/from-deangularjs-experimental/archives/port_completed.md
  docs/migration/from-deangularjs-experimental/human-what-changed.md
  docs/migration/from-deangularjs-experimental/intentional_design_changes.md
  docs/migration/from-deangularjs-experimental/main_vs_deangularjs_experimental_comparison.md
  docs/migration/from-deangularjs-experimental/pragmatic_engineering_setup_review.md
  docs/migration/from-deangularjs-experimental/todo/code_review_findings.md
  docs/migration/from-deangularjs-experimental/todo/future_tasks.md
  docs/migration/from-deangularjs-experimental/todo/pragmatic_engineering_setup_review.md
  docs/migration/from-deangularjs-experimental/turbo_frame_boundaries.md
  docs/migration/from-deangularjs-experimental/view_component_conventions.md
  docs/migration/from-deangularjs-experimental/visual_parity.md
  docs/migration/from-deangularjs-experimental/workspace_api_usage.md
  docs/migration/from-deangularjs-experimental/workspace_state_design.md
  docs/migration/intentional_design_changes.md
  docs/migration/pragmatic_engineering_setup_review.md
  docs/migration/stuff_to_talk_about.md
  docs/migration/turbo_frame_boundaries.md
  docs/migration/turbo_streams_guide.md
  docs/migration/ui_consistency_patterns.md
  docs/migration/workspace_api_usage.md
  docs/migration/workspace_behavior.md
  docs/migration/workspace_state_design.md
  docs/visual_parity.md
Due: none

Pull in visual parity and update.
  Procfile.vp
  bin/setup_docker
  docker-compose.visual-parity.yml
  nginx.vp.conf
  package.json
  test/visual_parity/.gitignore
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/compare_apis.mjs
  test/visual_parity/generate_report.mjs
  test/visual_parity/run_comparison.sh
  yarn.lock
Due: eslint

Allow partial runs for visual parity
  test/visual_parity/capture_screenshots.mjs
Due: eslint

Replace Angular header dropdowns with server-rendered ERB + BS5
  app/controllers/core_controller.rb
  app/views/layouts/_header_core_app.html.erb
Due: rubocop

Fix N+1 query in header dropdown case links
  app/controllers/core_controller.rb
Due: rubocop

update docs
  .cursor/rules/frontend-migration.mdc
  docs/migration/README.md
  docs/migration/angular_services_responsibilities_mapping.md
  docs/migration/angularjs_elimination_plan.md
  docs/migration/angularjs_inventory.md
  docs/migration/api_client.md
  docs/migration/core_case_evaluation_manual.md
  docs/migration/deangularjs_experimental_review.md
  docs/migration/intentional_design_changes.md
  docs/migration/markdown_files_inventory.md
  docs/migration/migration_roundtable_discussion.md
  docs/migration/old/react_migration_plan.md
  docs/migration/pragmatic_engineering_setup_review.md
  docs/migration/rails_stimulus_migration_alternative.md
  docs/migration/screenshot_automation.md
  docs/migration/turbo_frame_boundaries.md
  docs/migration/turbo_streams_guide.md
  docs/migration/ui_consistency_patterns.md
  docs/migration/workspace_api_usage.md
  docs/migration/workspace_behavior.md
  docs/migration/workspace_state_design.md
Due: none

Replace Angular paneSvc with Stimulus resizable-pane controller
  app/assets/javascripts/controllers/mainCtrl.js
  app/assets/javascripts/services/paneSvc.js
  app/assets/templates/views/queriesLayout.html
  app/javascript/controllers/resizable_pane_controller.js
  test/visual_parity/capture_screenshots.mjs
Due: eslint, prettier

Server-render case header from Rails ERB
  app/assets/templates/views/queriesLayout.html
  app/javascript/controllers/inline_edit_controller.js
  app/views/core/_case_header.html.erb
  app/views/core/index.html.erb
  docs/migration/angularjs_elimination_plan.md
Due: eslint, prettier

doc update
  docs/migration/old/migration_roundtable_discussion.md
Due: none

Improve visual parity: action bar modals, grouped ToC, change detection
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/generate_report.mjs
Due: eslint

Add server-rendered add-query form and set up Vitest
  app/assets/templates/views/queries.html
  app/controllers/core_controller.rb
  app/javascript/controllers/add_query_controller.js
  app/views/core/_query_list_shell.html.erb
  app/views/core/index.html.erb
  docs/migration/angularjs_elimination_plan.md
  package.json
  test/javascript/controllers/add_query_controller.test.js
  test/javascript/controllers/inline_edit_controller.test.js
  test/javascript/controllers/resizable_pane_controller.test.js
  vitest.config.js
  yarn.lock
Due: rubocop, eslint, prettier

Fix bulk URL construction in add-query controller
  app/javascript/controllers/add_query_controller.js
  app/views/core/_query_list_shell.html.erb
  test/javascript/controllers/add_query_controller.test.js
Due: eslint, prettier

Switch to strangler fig: build new UI above Angular, not inside it
  app/javascript/controllers/add_query_controller.js
  app/views/core/index.html.erb
  app/views/layouts/core.html.erb
  docs/migration/angularjs_elimination_plan.md
Due: eslint, prettier

Add server-rendered query list shell with controls and rows
  app/javascript/controllers/query_list_controller.js
  app/views/core/_query_list_shell.html.erb
Due: eslint, prettier

Restore full Angular UI for side-by-side development
  app/assets/javascripts/controllers/mainCtrl.js
  app/assets/javascripts/services/paneSvc.js
  app/assets/templates/views/queries.html
Due: eslint

Fully restore Angular UI, remove Stimulus pane interference
  app/assets/javascripts/services/paneSvc.js
  app/assets/templates/views/queriesLayout.html
  docs/migration/angularjs_elimination_plan.md
Due: eslint
