Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

refactor(core): deangularize qgraph and extract query helpers
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/qgraph.js
  app/javascript/utils/query_service.js
  test/javascript/utils/query_service.test.js
  vitest.config.js
Due: eslint, prettier

refactor(core): extract case diff score aggregation from AngularJS
  app/assets/javascripts/controllers/queriesCtrl.js
  app/javascript/quepid_search.js
  app/javascript/utils/diff_scores.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/diff_scores.test.js
  vitest.config.js
Due: eslint, prettier

refactor(core): migrate diff orchestration to framework-free utility
  app/assets/javascripts/controllers/mainCtrl.js
  app/assets/javascripts/services/diffResultsSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/querySnapshotSvc.js
  app/javascript/controllers/diff_core_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/diff_results.js
  app/javascript/utils/diff_scores.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/diffResultsSvc_spec.js
  test/javascript/utils/diff_results.test.js
  vitest.config.js
Due: eslint, prettier

refactor(core): move query-list state ownership to Stimulus
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/queries.html
  app/javascript/controllers/queries_list_controller.js
  app/javascript/utils/diff_results.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
Due: eslint, prettier

AI Judges: name the provider option keys the wizard permits
  app/controllers/ai_judges/wizard_controller.rb
  app/models/llm_provider.rb
  test/models/llm_provider_test.rb
Due: rubocop

feat(core): migrate missing documents finder to Stimulus
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/controllers/targetedSearchCtrl.js
  app/assets/javascripts/controllers/targetedSearchModal.js
  app/assets/javascripts/services/quepidModalSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/targetedSearchModal.html
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/search_results_template.js
  app/javascript/core_stimulus.js
  app/javascript/stores/query_documents_store.js
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/missing_documents_controller.test.js
  test/playwright/core_smoke.spec.ts
Due: eslint, prettier

Refactor de-Angularized modals to use ERB templates
  app/javascript/controllers/browse_query_controller.js
  app/javascript/controllers/match_explain_controller.js
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/query_explain_controller.js
  app/javascript/utils/detailed_document_modal.js
  app/javascript/utils/dynamic_modal.js
  app/views/layouts/core.html.erb
  app/views/shared/_dynamic_modal_templates.html.erb
  docs/manual-testing/tracking.yml
  test/javascript/controllers/match_explain_controller.test.js
  test/javascript/controllers/query_explain_controller.test.js
  test/javascript/utils/detailed_document_modal.test.js
Due: eslint, prettier

Deangularize Tune Relevance drawer
  AGENTS.md
  app/assets/javascripts/controllers/case.js
  app/assets/javascripts/controllers/queryParams.js
  app/assets/javascripts/controllers/queryParamsDetails.js
  app/assets/javascripts/controllers/queryParamsHistory.js
  app/assets/javascripts/controllers/settings.js
  app/assets/javascripts/directives/queryParams.js
  app/assets/javascripts/directives/queryParamsHistory.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/_dev_settings.html
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/queryParamsHistory.html
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/core_stimulus.js
  app/javascript/modules/editor.js
  app/javascript/utils/detailed_document_modal.js
  app/javascript/utils/editor_mode.js
  app/javascript/utils/tune_relevance.js
  app/views/core/_tune_relevance.html.erb
  app/views/core/index.html.erb
  config/importmap.rb
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/controllers/queryParams_spec.js
  spec/javascripts/angular/controllers/settings_spec.js
  test/javascript/utils/editor_mode.test.js
  test/javascript/utils/tune_relevance.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

refactor: move query list behavior out of Angular
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/queries_list_controller.js
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
Due: eslint, prettier

feat(core): migrate frog report and search results to Stimulus
  app/assets/javascripts/app.js
  app/assets/javascripts/components/frog_report/_modal.html
  app/assets/javascripts/components/frog_report/frog_report.html
  app/assets/javascripts/components/frog_report/frog_report_controller.js
  app/assets/javascripts/components/frog_report/frog_report_directive.js
  app/assets/javascripts/components/frog_report/frog_report_modal_instance_controller.js
  app/assets/javascripts/controllers/searchResult.js
  app/assets/javascripts/directives/angular-vega.js
  app/assets/javascripts/directives/searchResult.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/queries.html
  app/javascript/angular_app.js
  app/javascript/controllers/frog_report_controller.js
  app/javascript/controllers/match_explain_controller.js
  app/javascript/core_stimulus.js
  app/javascript/quepid_search.js
  app/javascript/stores/query_documents_store.js
  app/views/layouts/core.html.erb
  app/views/shared/_dynamic_modal_templates.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/todo.md
  spec/javascripts/angular/controllers/searchResult_spec.js
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/controllers/frog_report_controller.test.js
  test/playwright/core_smoke.spec.ts
Due: eslint, prettier

refactor(core): move query list coordination to Rails and Stimulus
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/directives/queries.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/queries.html
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/views/core/_queries.html.erb
  app/views/core/index.html.erb
  app/views/shared/_dynamic_modal_templates.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/controllers/queriesCtrl_spec.js
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/queries_list_controller.test.js
Due: eslint, prettier

Migrate pick-scorer, take-snapshot, and judgements toolbar modals to Stimulus
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
Due: none

Harden book tracking and validation
  app/controllers/api/v1/books_controller.rb
  app/controllers/api/v1/cases_controller.rb
  app/controllers/books/import_controller.rb
  app/controllers/books_controller.rb
  app/controllers/concerns/authentication/current_book_manager.rb
  app/jobs/track_book_viewed_job.rb
  app/views/books/_form.html.erb
  docs/manual-testing/tracking.yml
  test/controllers/books_controller_test.rb
  test/jobs/track_book_viewed_job_test.rb
Due: rubocop

refactor(core): move wizard launchers to Stimulus
  app/assets/javascripts/components/diff/diff_controller.js
  app/assets/javascripts/components/diff/diff_directive.js
  app/assets/javascripts/components/diff/diff_modal_instance_controller.js
  app/assets/javascripts/components/new_case/new_case.html
  app/assets/javascripts/components/new_case/new_case_controller.js
  app/assets/javascripts/components/new_case/new_case_directive.js
  app/assets/javascripts/controllers/wizardCtrl.js
  app/javascript/controllers/wizard_launcher_controller.js
  app/javascript/core_stimulus.js
  app/views/core/_case_toolbar.html.erb
  app/views/core/index.html.erb
  app/views/layouts/_header_core_app.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/wizard_launcher_controller.test.js
  test/playwright/core_smoke.spec.ts
Due: eslint, prettier

refactor(core): extract tested wizard contracts from Angular
  app/assets/javascripts/controllers/wizardModal.js
  app/javascript/core_stimulus.js
  app/javascript/utils/wizard_contracts.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  test/javascript/utils/wizard_contracts.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

refactor(core): remove obsolete Angular loading gate
  app/assets/javascripts/controllers/loading.js
  app/assets/stylesheets/core-additions.css
  app/views/core/index.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
Due: eslint

Migrate case creation wizard from AngularJS to Stimulus
  app/assets/javascripts/app.js
  app/assets/javascripts/controllers/customHeaders.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/directives/customHeaders.js
  app/assets/templates/views/customHeaders.html
  app/assets/templates/views/wizardModal.html
  app/javascript/angular_app.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/controllers/wizard_launcher_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/wizard_contracts.js
  app/views/core/index.html.erb
  app/views/layouts/core.html.erb
  app/views/shared/_wizard_modal.html.erb
  build_css.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/controllers/wizardModal_spec.js
  test/javascript/controllers/wizard_launcher_controller.test.js
  test/javascript/utils/wizard_contracts.test.js
  test/playwright/wizard_completion.spec.ts
Due: eslint, prettier

Migrate snapshot diff bridge and remove obsolete Angular UI assets
  DEVELOPER_GUIDE.md
  app/assets/javascripts/components/diff/_modal.html
  app/assets/javascripts/components/diff/diff.html
  app/assets/javascripts/controllers/queryNotes.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/querySnapshotSvc.js
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/ng-tags-input-theme.css
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/core_stimulus.js
  app/javascript/vendor/README.md
  app/javascript/vendor/angular-csv-import/LICENSE
  app/javascript/vendor/angular-csv-import/lib/angular-csv-import.css
  app/javascript/vendor/angular-csv-import/lib/angular-csv-import.js
  app/javascript/vendor/angular-csv-import/package.json
  app/javascript/vendor/angular-wizard/angular-wizard.css
  app/javascript/vendor/angular-wizard/angular-wizard.js
  app/javascript/vendor/angular-wizard/license.md
  app/javascript/vendor/angular-wizard/package.json
  app/javascript/vendor/ng-tags-input/LICENSE
  app/javascript/vendor/ng-tags-input/build/ng-tags-input.js
  app/javascript/vendor/ng-tags-input/build/ng-tags-input.min.css
  app/javascript/vendor/ng-tags-input/build/ng-tags-input.min.js
  app/javascript/vendor/ng-tags-input/package.json
  app/views/layouts/core.html.erb
  docker-compose.override.yml.example
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/todo.md
  renovate.json
  spec/javascripts/angular/services/querySnapshotSvc_spec.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/playwright/angular_pages.spec.ts
  test/playwright/angular_pages_narrow_viewport.spec.ts
  test/playwright/query_notes.spec.ts
  test/playwright/snapshots_and_annotations.spec.ts
Due: eslint, prettier

refactor(core): remove Angular export and pagination bridges
  app/assets/javascripts/app.js
  app/assets/javascripts/services/caseCSVSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/angular_app.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/utils/case_csv.js
  app/javascript/vendor/README.md
  app/javascript/vendor/angular-utils-pagination/LICENSE
  app/javascript/vendor/angular-utils-pagination/dirPagination.js
  app/javascript/vendor/angular-utils-pagination/index.js
  app/javascript/vendor/angular-utils-pagination/package.json
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/caseCSVSvc_spec.js
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/utils/case_csv.test.js
Due: eslint, prettier

refactor(core): remove Angular injector seams from wizard and score persistence
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/wizard_launcher_controller.js
  app/views/core/index.html.erb
  app/views/layouts/_header_core_app.html.erb
  docs/manual-testing/tracking.yml
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/wizard_launcher_controller.test.js
Due: eslint, prettier

refactor(core): move query commands out of Angular
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/annotations_controller.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/controllers/move_query_core_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_delete_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/browse_query.js
  app/javascript/utils/query_lifecycle.js
  build_templates.js
  config/importmap.rb
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/controllers/annotations_controller.test.js
  test/javascript/controllers/move_query_core_controller.test.js
  test/javascript/utils/query_lifecycle.test.js
  test/playwright/core_smoke.spec.ts
Due: rubocop, eslint, prettier

fix(core): settle query search lifecycle on failures
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/stores/query_collection_store.js
  docs/todo/angularjs_removal_inventory.md
  test/javascript/stores/query_collection_store.test.js
Due: eslint, prettier

first pass of desktop mode
  .githooks/pre-commit
  DEVELOPER_GUIDE.md
  app/controllers/concerns/authentication/current_user_manager.rb
  app/controllers/sessions_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/_header.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/layouts/_sidebar.html.erb
  config/initializers/customize_quepid.rb
  test/controllers/desktop_mode_test.rb
Due: rubocop

fix: surface search failures in query lifecycle UI
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_lifecycle_controller.js
  app/javascript/utils/error_message.js
  config/importmap.rb
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/queries_list_controller.test.js
  test/javascript/controllers/query_lifecycle_controller.test.js
  test/javascript/utils/error_message.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

refactor(core): replace Angular case shell controllers with Stimulus bootstrap
  app/javascript/controllers/case_toolbar_controller.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/core_angular_adapter.js
  app/views/core/_case_toolbar.html.erb
  app/views/core/index.html.erb
  app/views/layouts/core.html.erb
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/case_toolbar_controller.test.js
  test/javascript/utils/core_angular_adapter.test.js
  test/playwright/case_header_rename.spec.ts
  test/playwright/case_shell_navigation.spec.ts
  vitest.config.js
Due: rubocop, eslint, prettier

force proxy support and therefore dont expose it in ui
  .env.example
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/configurationSvc.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/wizardModal.html
  app/controllers/concerns/authentication/current_user_manager.rb
  app/helpers/application_helper.rb
  app/models/search_endpoint.rb
  app/views/layouts/core.html.erb
  app/views/mapper_wizards/show.html.erb
  app/views/search_endpoints/_form.html.erb
  app/views/search_endpoints/_search_endpoint.html.erb
  config/initializers/customize_quepid.rb
  test/models/search_endpoint_test.rb
  test/test_helper.rb
Due: rubocop, eslint

refactor(core): remove obsolete Angular case shell controllers
  app/assets/javascripts/app.js
  app/assets/javascripts/controllers/case.js
  app/assets/javascripts/controllers/mainCtrl.js
  app/assets/javascripts/routes.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/views/layouts/core.html.erb
  docs/app_structure.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/controllers/mainCtrl_spec.js
  test/javascript/controllers/case_rename_controller.test.js
Due: eslint, prettier

bit o reformat
  .env.example
Due: none

reformat
  app/helpers/application_helper.rb
  test/controllers/desktop_mode_test.rb
  test/models/search_endpoint_test.rb
Due: rubocop

refactor(core): extract searcher request construction from queriesSvc
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_service.js
  test/javascript/utils/query_service.test.js
Due: eslint, prettier

bot o polish from testing
  app/assets/templates/views/wizardModal.html
  app/controllers/search_endpoints_controller.rb
  app/views/search_endpoints/_form.html.erb
  config/initializers/customize_quepid.rb
Due: rubocop

Refactor query handling into shared query service helpers
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_service.js
  test/javascript/utils/query_service.test.js
Due: eslint, prettier

refactor(core): extract query search lifecycle from queriesSvc
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_service.js
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/utils/query_service.test.js
Due: eslint, prettier

Extract ratings store logic into shared JavaScript module
  app/assets/javascripts/services/ratingsStoreSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/ratings_store.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/ratings_store.test.js
  vitest.config.js
Due: eslint, prettier

refactor: extract query scoring from Angular service
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/query_scoring.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/query_scoring.test.js
  vitest.config.js
Due: eslint, prettier

refactor: extract snapshot searcher from Angular service
  app/assets/javascripts/services/snapshotSearcherSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/snapshot_searcher.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/snapshot_searcher.test.js
  vitest.config.js
Due: eslint, prettier

simplifications
  app/controllers/concerns/authentication/current_user_manager.rb
  app/views/layouts/_header.html.erb
  app/views/layouts/_header_core_app.html.erb
Due: rubocop

refactor(core): extract snapshot modeling from Angular
  app/assets/javascripts/services/querySnapshotSvc.js
  app/assets/javascripts/services/snapshotSearcherSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/snapshot_hydration.js
  app/javascript/utils/snapshot_model.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/snapshot_hydration.test.js
  test/javascript/utils/snapshot_model.test.js
  vitest.config.js
Due: eslint, prettier

Been fighting with merge issues and the githook, so backing it out and replacing with bin/docker r rails tidy
  CLAUDE.md
  DEVELOPER_GUIDE.md
  bin/install-git-hooks
  bin/setup
  bin/setup_docker
  docs/js_tooling.md
  lib/tasks/quepid.rake
Due: none

Turn Quepid into a OSX App. (#1803)
  .env.example
  .githooks/pre-commit
  CLAUDE.md
  DEVELOPER_GUIDE.md
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/configurationSvc.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/wizardModal.html
  app/controllers/concerns/authentication/current_user_manager.rb
  app/controllers/search_endpoints_controller.rb
  app/controllers/sessions_controller.rb
  app/helpers/application_helper.rb
  app/models/search_endpoint.rb
  app/views/layouts/_header.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/layouts/core.html.erb
  app/views/mapper_wizards/show.html.erb
  app/views/search_endpoints/_form.html.erb
  app/views/search_endpoints/_search_endpoint.html.erb
  bin/install-git-hooks
  bin/setup
  bin/setup_docker
  config/initializers/customize_quepid.rb
  docs/js_tooling.md
  lib/tasks/quepid.rake
  test/controllers/desktop_mode_test.rb
  test/models/search_endpoint_test.rb
  test/test_helper.rb
Due: rubocop, eslint

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
