Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Revamp webmock from one giant file to move logic closer to specfiic tests
  test/controllers/books_controller_test.rb
  test/controllers/proxy_controller_test.rb
  test/fixtures/files/solr_statedecoded_response.json
  test/jobs/run_judge_judy_job_test.rb
  test/lib/doc_generator_test.rb
  test/services/fetch_service_test.rb
  test/services/llm_service_test.rb
  test/support/openai_stubs.rb
  test/support/webmock.rb
Due: rubocop

lint
  test/controllers/proxy_controller_test.rb
  test/support/openai_stubs.rb
Due: rubocop

No longer need dedicated webmock.rb file
  test/support/webmock.rb
  test/test_helper.rb
Due: rubocop

add one more setup method
  test/integration/judge_judy_flow_test.rb
Due: rubocop

restrict sharing of case to ones a user has access to
  app/controllers/api/v1/team_cases_controller.rb
  test/controllers/api/v1/team_cases_controller_test.rb
Due: rubocop

harden permissions
  app/controllers/ai_judges_controller.rb
Due: rubocop

If Ollama is running in our docker compose env, then use it
  test/services/llm_service_test.rb
Due: rubocop

ensure user has access to scorer vefore sharing
  app/controllers/api/v1/team_scorers_controller.rb
  test/controllers/api/v1/team_scorers_controller_test.rb
Due: rubocop

tighten up team related operations.
  app/controllers/teams_controller.rb
  test/controllers/teams_controller_test.rb
Due: rubocop

Use the book for scoping
  app/controllers/query_doc_pairs_controller.rb
Due: rubocop

another scoping to a book..
  app/controllers/judgements_controller.rb
Due: rubocop

scope api keys to user...
  app/controllers/api_keys_controller.rb
  test/controllers/api_keys_controller_test.rb
Due: rubocop

tweak docs
  docs/database.md
Due: none

Prevent 500, return 404
  app/controllers/books/import_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/controllers/home_controller.rb
  app/controllers/judgements_controller.rb
  app/controllers/query_doc_pairs_controller.rb
  test/controllers/judgements_controller_test.rb
Due: rubocop

Format output not as ruby hash but actual JSON
  app/views/ai_judges/prompts/_form.html.erb
Due: none

LLM Provider at top, and pre-populate model
  app/views/ai_judges/_form.html.erb
Due: none

force back to hash, we had json string. hash/json is a pain
  app/controllers/ai_judges/prompts_controller.rb
  app/services/llm_service.rb
Due: rubocop

Fix image lookup by llm as judge (#1698)
  app/controllers/ai_judges/prompts_controller.rb
  app/services/llm_service.rb
  app/views/ai_judges/_form.html.erb
  app/views/ai_judges/prompts/_form.html.erb
Due: rubocop

fix scorer create link, no longer in angularjs
  app/assets/javascripts/controllers/scorer.js
Due: eslint

fix scorer create link, no longer in angularjs (#1699)
  app/assets/javascripts/controllers/scorer.js
Due: eslint

Adopt splainer-search 3.x with Angular shim for wired services (#1691)
  CHANGELOG.md
  app/javascript/angular_app.js
  app/javascript/splainer_search_adapter.js
  package.json
  test/services/fetch_service_test.rb
  yarn.lock
Due: rubocop, eslint

add angular-animate
  app/javascript/vendor/angular-animate/LICENSE.md
  app/javascript/vendor/angular-animate/angular-animate.js
  app/javascript/vendor/angular-animate/index.js
  app/javascript/vendor/angular-animate/package.json
Due: eslint, prettier

add angular-cookies
  app/javascript/vendor/angular-cookies/LICENSE.md
  app/javascript/vendor/angular-cookies/angular-cookies.js
  app/javascript/vendor/angular-cookies/index.js
  app/javascript/vendor/angular-cookies/package.json
Due: eslint, prettier

add angular countup
  app/javascript/vendor/angular-countup/LICENSE
  app/javascript/vendor/angular-countup/angular-countup.js
  app/javascript/vendor/angular-countup/package.json
Due: eslint, prettier

add angular-csv-import
  app/javascript/vendor/angular-csv-import/LICENSE
  app/javascript/vendor/angular-csv-import/lib/angular-csv-import.css
  app/javascript/vendor/angular-csv-import/lib/angular-csv-import.js
  app/javascript/vendor/angular-csv-import/package.json
Due: eslint, prettier

add angular-flash
  app/javascript/vendor/angular-flash/LICENSE
  app/javascript/vendor/angular-flash/angular-flash.js
  app/javascript/vendor/angular-flash/package.json
Due: eslint, prettier

add angular-sanitize
  app/javascript/vendor/angular-sanitize/LICENSE.md
  app/javascript/vendor/angular-sanitize/angular-sanitize.js
  app/javascript/vendor/angular-sanitize/index.js
  app/javascript/vendor/angular-sanitize/package.json
Due: eslint, prettier

add angular-resource
  app/javascript/vendor/angular-resource/LICENSE.md
  app/javascript/vendor/angular-resource/angular-resource.js
  app/javascript/vendor/angular-resource/index.js
  app/javascript/vendor/angular-resource/package.json
Due: eslint, prettier

add angular-route
  app/javascript/vendor/angular-route/LICENSE.md
  app/javascript/vendor/angular-route/angular-route.js
  app/javascript/vendor/angular-route/index.js
  app/javascript/vendor/angular-route/package.json
Due: eslint, prettier

add angular-timeago
  app/javascript/vendor/angular-timeago/LICENSE
  app/javascript/vendor/angular-timeago/dist/angular-timeago.js
  app/javascript/vendor/angular-timeago/package.json
Due: eslint, prettier

add angular-ui-ace
  app/javascript/vendor/angular-ui-ace/LICENSE
  app/javascript/vendor/angular-ui-ace/package.json
  app/javascript/vendor/angular-ui-ace/src/ui-ace.js
Due: eslint, prettier

add angular-utils-pagination
  app/javascript/vendor/angular-utils-pagination/dirPagination.js
  app/javascript/vendor/angular-utils-pagination/index.js
  app/javascript/vendor/angular-utils-pagination/package.json
Due: eslint, prettier

add angular-wizard
  app/javascript/vendor/angular-wizard/angular-wizard.css
  app/javascript/vendor/angular-wizard/angular-wizard.js
  app/javascript/vendor/angular-wizard/license.md
  app/javascript/vendor/angular-wizard/package.json
Due: eslint, prettier

add angular-ui-sortable
  app/javascript/vendor/angular-ui-sortable/LICENSE
  app/javascript/vendor/angular-ui-sortable/package.json
  app/javascript/vendor/angular-ui-sortable/src/sortable.js
Due: eslint, prettier

add ng-json-explorer
  app/javascript/vendor/ng-json-explorer/dist/angular-json-explorer.css
  app/javascript/vendor/ng-json-explorer/dist/angular-json-explorer.js
  app/javascript/vendor/ng-json-explorer/package.json
Due: eslint, prettier

add ngclipboard
  app/javascript/vendor/ngclipboard/ngclipboard.js
  app/javascript/vendor/ngclipboard/package.json
Due: eslint, prettier

add ng-tags-input
  app/javascript/vendor/ng-tags-input/build/ng-tags-input.bootstrap.min.css
  app/javascript/vendor/ng-tags-input/build/ng-tags-input.js
  app/javascript/vendor/ng-tags-input/build/ng-tags-input.min.css
  app/javascript/vendor/ng-tags-input/build/ng-tags-input.min.js
  app/javascript/vendor/ng-tags-input/package.json
Due: eslint, prettier

Remove most angular dependencies from package.json, use vndored instead, update splainer-search and wrap.
  DEVELOPER_GUIDE.md
  app/javascript/angular_app.js
  app/javascript/splainer_search_angular_bridge.js
  app/javascript/vendor/README.md
  build_css.js
  package.json
  yarn.lock
Due: eslint, prettier

Create vanilla progress bar
  app/assets/stylesheets/stackedChart.css
  app/assets/templates/views/stackedChart.html
  app/javascript/splainer_search_angular_bridge.js
  app/javascript/vendor/README.md
  app/javascript/vendor/angular-utils-pagination/LICENSE
  app/javascript/vendor/ng-json-explorer/LICENSE
  app/javascript/vendor/ng-tags-input/LICENSE
  app/javascript/vendor/ngclipboard/LICENSE
Due: eslint
