Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

Unify AngularJS bundle rebuilds and improve dev watch workflow.
  DEVELOPER_GUIDE.md
  app/javascript/splainer_search_adapter.js
  bin/setup
  bin/setup_docker
  build_angular_app.js
  docker-compose.override.yml.example
  package.json
Due: eslint, prettier

Wrap all createFetchClient methods for Angular digest instead of get/post/jsonp only.
  app/javascript/splainer_search_adapter.js
Due: eslint

Fix wizard finish save for basic-auth search endpoints. (#1705)
  app/assets/javascripts/controllers/wizardModal.js
  app/controllers/api/v1/tries_controller.rb
  app/models/search_endpoint.rb
  app/services/case_importer.rb
  spec/javascripts/angular/controllers/wizardModal_spec.js
  test/controllers/api/v1/import/cases_controller_test.rb
  test/controllers/api/v1/tries_controller_test.rb
  test/models/search_endpoint_test.rb
  test/test_helper.rb
Due: rubocop, eslint, prettier

Skip puppeteer download, not used in Heroku
  app.json
Due: none

Fix popover listener leaks and make case import transactional.
  app/assets/javascripts/directives/quepidPopover.js
  app/services/case_importer.rb
  spec/javascripts/angular/controllers/wizardModal_spec.js
  test/controllers/api/v1/import/cases_controller_test.rb
Due: rubocop, eslint, prettier

lets try and hotfix this
  app/models/user.rb
Due: rubocop

turns out order of operations loading in staging and prod are different
  config/application.rb
  config/initializers/customize_quepid.rb
Due: rubocop

Treat blank Active Record encryption env vars as unset
  CLAUDE.md
  config/application.rb
  docs/ENCRYPTION_SETUP.md
  docs/operating_documentation.md
Due: rubocop

Help Claude and co to use correct tooling, not break existing envs.
  CLAUDE.md
Due: none

Potential fix for pull request finding
  docs/ENCRYPTION_SETUP.md
Due: none

Minor claude corrections
  CLAUDE.md
Due: none

Improve wizard finish save and search endpoint credential handling
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/templates/views/wizardModal.html
  app/controllers/api/v1/tries_controller.rb
  spec/javascripts/angular/controllers/wizardModal_spec.js
  test/controllers/api/v1/tries_controller_test.rb
Due: rubocop, eslint, prettier

Spelling fix
  app/assets/templates/views/wizardModal.html
Due: none

update endpoints doc, add playwright notes for claude and note not to stop environment
  CLAUDE.md
  docs/endpoints_opensearch.md
Due: none

Not passing credentials via CORs, allows it to work with *.
  app/javascript/splainer_search_adapter.js
Due: eslint

Rails ERD now does mermaid!
  Gemfile.lock
  README.md
  docs/data_mapping.md
  docs/erd.png
  lib/tasks/quepid.rake
Due: none

no longer need this
  Dockerfile.dev
Due: none

Potential fix for pull request finding
  docs/data_mapping.md
Due: none

Potential fix for pull request finding
  README.md
Due: none

try vertical
  docs/data_mapping.md
  lib/tasks/quepid.rake
Due: none

try horizontal
  docs/data_mapping.md
  lib/tasks/quepid.rake
Due: none

simplify view
  docs/data_mapping.md
  lib/tasks/quepid.rake
Due: none

strpped down chart based on advice
  docs/data_mapping.md
Due: none

restore the png, lets see how that looks
  docs/data_mapping.md
  docs/erd.png
Due: none

update back to .png
  DEVELOPER_GUIDE.md
  Dockerfile.dev
  Gemfile
  Gemfile.lock
  README.md
  lib/tasks/quepid.rake
Due: none

refactor
  docs/data_mapping.md
  lib/tasks/quepid.rake
Due: none

Rails erd now NOT with mermaid but nicer anyway! (#1723)
  DEVELOPER_GUIDE.md
  Gemfile
  Gemfile.lock
  README.md
  docs/data_mapping.md
  docs/erd.png
  lib/tasks/quepid.rake
Due: none

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Due: none

Fix Docker local setup configuration and update docs
  .env.example
  DEVELOPER_GUIDE.md
  config/queue.yml
  docker-compose.yml
Due: none

Implement automated Docker healthchecks and update developer setup guide
  DEVELOPER_GUIDE.md
  docker-compose.yml
Due: none

Fix Keycloak healthcheck and add database setup steps to docs
  docker-compose.yml
Due: none

Progress.
  app/agents/.gitkeep
  app/models/chat.rb
  app/models/message.rb
  app/models/model.rb
  app/models/tool_call.rb
  app/prompts/.gitkeep
  app/schemas/.gitkeep
  app/tools/.gitkeep
  config/initializers/ruby_llm.rb
  db/migrate/20260515153403_create_chats.rb
  db/migrate/20260515153404_create_messages.rb
  db/migrate/20260515153405_create_tool_calls.rb
  db/migrate/20260515153406_create_models.rb
  db/migrate/20260515153407_add_references_to_chats_tool_calls_and_messages.rb
  db/schema.rb
  docs/erd.png
Due: rubocop

Potential fix for pull request finding
  docker-compose.yml
Due: none

bump keycloak version
  docker-compose.yml
  keycloak/Dockerfile
Due: none

Harden Docker dev setup with healthchecks and clearer first-run docs
  .env.example
  DEVELOPER_GUIDE.md
  config/queue.yml
  docker-compose.yml
  keycloak/Dockerfile
Due: none

bump gems, and fix some rubocop
  .rubocop.yml
  Gemfile.lock
  app/controllers/admin/announcements_controller.rb
  app/controllers/admin/users/locks_controller.rb
  app/controllers/admin/users/pulses_controller.rb
  app/controllers/admin/users_controller.rb
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/ai_judges_controller.rb
  app/controllers/api/v1/bulk/queries_controller.rb
  app/controllers/api/v1/query_doc_pairs_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/api_keys_controller.rb
  app/controllers/books_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/controllers/judgements_controller.rb
  app/controllers/mapper_wizards_controller.rb
  app/controllers/query_doc_pairs_controller.rb
  app/controllers/scorers_controller.rb
  app/controllers/scores_controller.rb
  app/controllers/teams_controller.rb
Due: rubocop

upgrades
  yarn.lock
Due: none

bump to latest ruby;
  .circleci/config.yml
  .ruby-version
  Dockerfile.dev
  Dockerfile.prod
  Gemfile
Due: none

bump node
  Dockerfile.dev
  Dockerfile.prod
Due: none

bump more stuff
  Dockerfile.dev
  Gemfile.lock
  package.json
Due: none

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
