Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

AI Judges: send the case thumbnail to the LLM, with a per-judge "Judge with images" switch (#1822)
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/models/llm_provider.rb
  app/services/llm_judge_adapters/base.rb
  app/views/ai_judges/_form.html.erb
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  package.json
  test/controllers/ai_judges/wizard_controller_test.rb
  test/controllers/ai_judges_controller_test.rb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
  test/models/llm_provider_test.rb
  test/services/llm_judge_adapters_test.rb
  yarn.lock
Due: rubocop, eslint, prettier

updates for 2.0
  app/services/mapper_wizard_service.rb
  app/tools/download_page.rb
  app/tools/javascript_extractor.rb
  app/tools/mapper_tool.rb
  test/integration/experiment_with_ruby_llm_extractor_test.rb
  test/integration/experiment_with_ruby_llm_test.rb
Due: rubocop

Fix Modified sort and record a full manual-test pass
  app/javascript/stores/query_collection_store.js
  app/javascript/utils/query_model.js
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/stores/query_collection_store.test.js
  test/javascript/utils/query_model.test.js
Due: eslint, prettier

Fit workbench panes to the header, add Explain copy feedback, slim live-query owner
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/panes.css
  app/javascript/controllers/pane_controller.js
  app/javascript/controllers/query_explain_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_commands.js
  app/javascript/utils/live_query_execution.js
  app/javascript/utils/live_query_lifecycle.js
  app/javascript/utils/live_query_model.js
  app/javascript/utils/live_query_runtime.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/live_query_state.js
  app/javascript/utils/live_query_transport.js
  app/javascript/utils/query_runtime.js
  app/views/core/_try_details_modal.html.erb
  app/views/core/index.html.erb
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/pane_controller.test.js
  test/javascript/controllers/query_explain_controller.test.js
  test/javascript/utils/live_query_commands.test.js
  test/javascript/utils/live_query_execution.test.js
  test/javascript/utils/live_query_model.test.js
  test/javascript/utils/live_query_runtime.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/live_query_state.test.js
  test/javascript/utils/live_query_transport.test.js
  test/javascript/utils/query_runtime.test.js
  vitest.config.js
Due: eslint, prettier

Fold thin live-query runtimes into the owner and query runtime
  app/javascript/stores/query_collection_store.js
  app/javascript/utils/live_query_diff.js
  app/javascript/utils/live_query_registry.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/live_query_state.js
  app/javascript/utils/live_query_transport.js
  app/javascript/utils/query_runtime.js
  app/javascript/utils/query_service.js
  docs/manual-testing/tracking.yml
  docs/todo/QUEPID_COREUI_FEATURES.md
  docs/todo/todo.md
  test/javascript/stores/query_collection_store.test.js
  test/javascript/utils/live_query_diff.test.js
  test/javascript/utils/live_query_registry.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/live_query_state.test.js
  test/javascript/utils/live_query_transport.test.js
  test/javascript/utils/query_runtime.test.js
  test/javascript/utils/query_service.test.js
  test/playwright/core_smoke.spec.ts
  vitest.config.js
Due: eslint, prettier

Consolidate remaining modals onto the shared shell
  app/views/books/_unleash_modal.html.erb
  app/views/core/_edit_annotation_modal.html.erb
  app/views/core/_try_details_modal.html.erb
  app/views/core/_tune_relevance.html.erb
  app/views/judgements/_form.html.erb
  app/views/query_doc_pairs/index.html.erb
  app/views/shared/_modal_shell.html.erb
  app/views/shared/_query_options_core_modal.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
Due: none

Simplify analytics tracking while preserving event contracts
  app/controllers/cases_controller.rb
  app/controllers/teams_controller.rb
  app/lib/analytics.rb
  app/lib/analytics/ahoy.rb
  app/lib/analytics/ahoy/base.rb
  app/lib/analytics/ahoy/events.rb
  app/lib/analytics/tracker.rb
  app/lib/analytics/tracker/book.rb
  app/lib/analytics/tracker/case.rb
  app/lib/analytics/tracker/query.rb
  app/lib/analytics/tracker/rating.rb
  app/lib/analytics/tracker/scorer.rb
  app/lib/analytics/tracker/search_endpoint.rb
  app/lib/analytics/tracker/snapshot.rb
  app/lib/analytics/tracker/team.rb
  app/lib/analytics/tracker/try.rb
  app/lib/analytics/tracker/user.rb
  app/services/team_sharing.rb
  docs/todo/todo.md
  test/controllers/api/v1/books/populate_controller_test.rb
  test/controllers/api/v1/cases_controller_test.rb
  test/controllers/users/invitations_controller_test.rb
  test/lib/analytics_tracker_test.rb
  test/services/team_sharing_test.rb
  test/support/analytics.rb
Due: rubocop

Consolidate sharing, snapshot imports, and query lifecycle logic
  DEVELOPER_GUIDE.md
  app/controllers/scorers_controller.rb
  app/controllers/teams_controller.rb
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/utils/csv.js
  app/javascript/utils/live_query_collection.js
  app/javascript/utils/live_query_events.js
  app/javascript/utils/live_query_lifecycle.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/snapshot_import.js
  app/javascript/utils/wizard_contracts.js
  app/services/fetch_service.rb
  app/services/snapshot_manager.rb
  app/services/team_sharing.rb
  docs/manual-testing/03-case-management.md
  docs/manual-testing/tracking.yml
  test/controllers/scorers_controller_test.rb
  test/javascript/controllers/wizard_controller.test.js
  test/javascript/utils/csv.test.js
  test/javascript/utils/live_query_events.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/snapshot_import.test.js
  test/javascript/utils/wizard_contracts.test.js
  test/services/fetch_service_test.rb
  test/services/snapshot_manager_test.rb
  test/services/team_sharing_test.rb
Due: rubocop, eslint, prettier

Scope team and AI judge assignments to the current user
  app/controllers/api/v1/import/books_controller.rb
  app/controllers/books_controller.rb
  app/controllers/mapper_wizards_controller.rb
  app/controllers/search_endpoints_controller.rb
  app/services/team_sharing.rb
  docs/manual-testing/07-search-endpoints-and-mapper-wizard.md
  docs/manual-testing/10-books-management.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/api/v1/import/books_controller_test.rb
  test/controllers/books_controller_test.rb
  test/controllers/mapper_wizards_controller_test.rb
  test/controllers/search_endpoints_controller_test.rb
  test/services/team_sharing_test.rb
Due: rubocop

Extract shared index filter and pagination partials
  app/views/books/index.html.erb
  app/views/cases/index.html.erb
  app/views/judgements/index.html.erb
  app/views/scorers/index.html.erb
  app/views/search_endpoints/index.html.erb
  app/views/shared/_index_filters.html.erb
  app/views/shared/_index_pagination.html.erb
  app/views/teams/_books.html.erb
  app/views/teams/_cases.html.erb
  app/views/teams/_scorers.html.erb
  app/views/teams/_search_endpoints.html.erb
  app/views/teams/index.html.erb
  docs/manual-testing/09-teams-and-sharing.md
  docs/manual-testing/tracking.yml
Due: none

Refactor import form behavior and server error messages
  app/javascript/controllers/clone_case_core_controller.js
  app/javascript/controllers/import_case_controller.js
  app/javascript/controllers/import_form_controller_base.js
  app/javascript/controllers/import_ratings_core_controller.js
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/controllers/pick_scorer_core_controller.js
  app/javascript/utils/error_message.js
  docs/manual-testing/tracking.yml
  test/javascript/controllers/import_case_controller.test.js
  test/javascript/controllers/import_ratings_core_controller.test.js
  test/javascript/controllers/import_snapshot_controller.test.js
  test/javascript/utils/error_message.test.js
Due: eslint, prettier

Deduplicate HTML and API team membership logic
  app/controllers/api/api_controller.rb
  app/controllers/api/v1/team_members_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/controller_configuration.rb
  app/controllers/teams_controller.rb
  app/services/team_membership.rb
  docs/manual-testing/tracking.yml
  test/controllers/api/v1/team_members_controller_test.rb
  test/services/team_membership_test.rb
Due: rubocop

Unify snapshot persistence and remove stale tries controller
  app/services/fetch_service.rb
  app/services/snapshot_manager.rb
  app/views/books/tries_controller.rb
  test/controllers/analytics/tries_visualization_test.rb
  test/controllers/scores_controller_test.rb
  test/services/fetch_service_test.rb
  test/services/snapshot_manager_test.rb
Due: rubocop

Centralize selected-case ownership and guard against stale refreshes
  DEVELOPER_GUIDE.md
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/core_runtime.js
  app/javascript/quepid_search.js
  app/javascript/utils/case_runtime.js
  app/javascript/utils/core_capabilities_runtime.js
  app/javascript/utils/live_query_events.js
  app/javascript/utils/live_query_runtime_owner.js
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/utils/case_runtime.test.js
  test/javascript/utils/core_runtime.test.js
  test/javascript/utils/live_query_events.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/playwright/toolbar_modals_core.spec.ts
Due: eslint, prettier

Refactor store subscriptions across core Stimulus controllers
  app/javascript/controllers/annotations_controller.js
  app/javascript/controllers/diff_case_scores_controller.js
  app/javascript/controllers/diff_score_controller.js
  app/javascript/controllers/frog_report_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/qscore_query_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_unrated_badge_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/utils/store_subscription.js
  docs/manual-testing/tracking.yml
  test/javascript/controllers/store_subscriptions.test.js
  test/javascript/utils/store_subscription.test.js
  vitest.config.js
Due: eslint, prettier

Extract shared trigger value accessor for core modals
  app/javascript/controllers/clone_case_core_controller.js
  app/javascript/controllers/core_modal_controller_base.js
  app/javascript/controllers/delete_case_options_core_controller.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/controllers/pick_scorer_core_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/controllers/take_snapshot_core_controller.js
  test/javascript/controllers/clone_case_core_controller.test.js
  test/javascript/controllers/core_modal_controller_base.test.js
  test/javascript/controllers/delete_case_options_core_controller.test.js
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/controllers/judgements_core_controller.test.js
  test/javascript/controllers/pick_scorer_core_controller.test.js
  test/javascript/controllers/share_case_core_controller.test.js
  test/javascript/controllers/take_snapshot_core_controller.test.js
Due: eslint, prettier

Extract shared JSON pretty-printing utility
  app/javascript/controllers/document_fields_modal_controller.js
  app/javascript/modules/editor.js
  app/javascript/utils/json_format.js
  app/javascript/utils/tune_relevance.js
  test/javascript/modules/editor.test.js
  vitest.config.js
Due: eslint, prettier

Merge judge agreement and calibration docs; reframe escalation's mixing risk
  docs/README.md
  docs/data_mapping.md
  docs/todo/escalating_judges.md
  docs/todo/inter_judge_agreement.md
  docs/todo/judge_agreement_and_calibration.md
  docs/todo/judge_calibration_research.md
  docs/todo/optimizing_llm_as_judge_query_based_on_golden_dataset.md
Due: none

Escalating judges: an AI judge wakes an on-call judge when unsure
  app/controllers/ai_judges_controller.rb
  app/controllers/books_controller.rb
  app/jobs/run_judge_judy_job.rb
  app/models/ai_judge.rb
  app/models/book.rb
  app/models/judgement.rb
  app/models/llm_provider.rb
  app/models/selection_strategy.rb
  app/models/user.rb
  app/services/llm_judge_adapters/jev.rb
  app/views/ai_judges/_form.html.erb
  app/views/ai_judges/index.html.erb
  app/views/books/_form.html.erb
  app/views/books/_judge_activity_row.html.erb
  app/views/books/judgement_stats.html.erb
  app/views/judgements/_escalation_notice.html.erb
  app/views/judgements/_form.html.erb
  db/migrate/20261005120000_add_escalates_to_id_to_users.rb
  db/migrate/20261005130000_add_escalated_from_id_to_judgements.rb
  db/schema.rb
  docs/README.md
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  docs/todo/escalating_judges.md
  test/controllers/ai_judges_controller_test.rb
  test/controllers/books_controller_test.rb
  test/controllers/judgements_controller_test.rb
  test/fixtures/judgements.yml
  test/fixtures/users.yml
  test/jobs/run_judge_judy_job_test.rb
  test/models/ai_judge_test.rb
  test/models/book_test.rb
  test/models/judgement_test.rb
  test/models/selection_strategy_test.rb
  test/models/user_test.rb
  test/services/llm_judge_adapters/jev_test.rb
Due: rubocop

Refuse an unassigned on-call judge instead of a 500
  app/controllers/books_controller.rb
  docs/manual-testing/tracking.yml
  test/controllers/books_controller_test.rb
Due: rubocop

Extract shared endpoint settings and header formatting
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/utils/endpoint_settings.js
  docs/manual-testing/tracking.yml
  test/javascript/controllers/tune_relevance_controller.test.js
  test/javascript/controllers/wizard_controller.test.js
  test/javascript/utils/endpoint_settings.test.js
  vitest.config.js
Due: eslint, prettier

Share the Rails layout with the case page
  app/controllers/core_controller.rb
  app/javascript/core_stimulus.js
  app/views/layouts/_case_head.html.erb
  app/views/layouts/_case_workspace.html.erb
  app/views/layouts/_head_common.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/core.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/cases_controller_test.rb
  test/controllers/core_controller_test.rb
  test/javascript/core_stimulus_registration.test.js
Due: rubocop, eslint

Extract shared header navigation and surface-specific actions
  DEVELOPER_GUIDE.md
  app/views/layouts/_footer.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_header_core_actions.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/layouts/_header_help_links.html.erb
  app/views/layouts/_header_management_actions.html.erb
  app/views/layouts/_header_navigation.html.erb
  docs/manual-testing/15-global-navigation-and-notebooks.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/cases_controller_test.rb
  test/controllers/core_controller_test.rb
  test/playwright/header_footer_navigation.spec.ts
Due: rubocop

strucutre to work better with kamal
  Dockerfile.prod
Due: none

document the release
  CHANGELOG.md
Due: none

Calibration: run an AI judge on a sample another judge rated, and compare
  app/controllers/calibrations_controller.rb
  app/helpers/books_helper.rb
  app/helpers/calibrations_helper.rb
  app/javascript/controllers/calibration_dialog_controller.js
  app/jobs/calibration_run_job.rb
  app/models/book.rb
  app/models/calibration_answer.rb
  app/models/calibration_run.rb
  app/models/calibration_sample.rb
  app/models/calibration_sample_pair.rb
  app/services/judge_agreement.rb
  app/views/books/_judge_status_cell.html.erb
  app/views/books/_tabs.html.erb
  app/views/calibrations/_about.html.erb
  app/views/calibrations/_about_toggle.html.erb
  app/views/calibrations/_answers_table.html.erb
  app/views/calibrations/_new_modal.html.erb
  app/views/calibrations/_progress.html.erb
  app/views/calibrations/_rerun_modal.html.erb
  app/views/calibrations/_results.html.erb
  app/views/calibrations/_run_row.html.erb
  app/views/calibrations/index.html.erb
  app/views/calibrations/show.html.erb
  config/routes.rb
  db/migrate/20261005150000_create_calibrations.rb
  db/schema.rb
  docs/README.md
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  docs/todo/judge_agreement_and_calibration.md
  docs/todo/judge_calibration.md
  docs/todo/optimizing_llm_as_judge_query_based_on_golden_dataset.md
  test/controllers/calibrations_controller_test.rb
  test/javascript/controllers/calibration_dialog_controller.test.js
  test/jobs/calibration_run_job_test.rb
  test/models/book_test.rb
  test/models/calibration_run_test.rb
  test/models/calibration_sample_test.rb
  test/services/judge_agreement_test.rb
  test/support/calibration_helpers.rb
Due: rubocop, eslint, prettier

Calibration: sample by queries and show ranks agreement
  app/controllers/calibrations_controller.rb
  app/helpers/calibrations_helper.rb
  app/javascript/controllers/calibration_dialog_controller.js
  app/javascript/controllers/stale_stream_guard_controller.js
  app/models/book.rb
  app/models/calibration_run.rb
  app/models/calibration_sample.rb
  app/services/calibration_score_impact.rb
  app/views/books/_tabs.html.erb
  app/views/calibrations/_new_modal.html.erb
  app/views/calibrations/_pairs_agreement.html.erb
  app/views/calibrations/_progress.html.erb
  app/views/calibrations/_ranks_agreement.html.erb
  app/views/calibrations/_results.html.erb
  app/views/calibrations/_run_row.html.erb
  app/views/calibrations/index.html.erb
  app/views/calibrations/show.html.erb
  db/migrate/20261005160000_add_unit_to_calibration_samples.rb
  db/schema.rb
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  docs/todo/judge_calibration.md
  test/controllers/calibrations_controller_test.rb
  test/javascript/controllers/calibration_dialog_controller.test.js
  test/javascript/controllers/stale_stream_guard_controller.test.js
  test/models/book_test.rb
  test/models/calibration_sample_test.rb
  test/services/calibration_score_impact_test.rb
  test/support/calibration_helpers.rb
Due: rubocop, eslint, prettier

Calibration: mark the escalation use as coming with escalation
  app/views/calibrations/_about.html.erb
  docs/manual-testing/12-ai-judges.md
Due: none

Calibration JS: address DeepSource findings and document the controllers
  app/javascript/controllers/calibration_dialog_controller.js
  app/javascript/controllers/stale_stream_guard_controller.js
Due: eslint, prettier

stale_stream_guard: the event handler is a plain function
  app/javascript/controllers/stale_stream_guard_controller.js
  test/javascript/controllers/stale_stream_guard_controller.test.js
Due: eslint, prettier

Replace the case service locator with explicit workspace construction
  DEVELOPER_GUIDE.md
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/core_runtime.js
  app/javascript/quepid_search.js
  app/javascript/utils/core_capabilities_runtime.js
  app/javascript/utils/core_capability_access.js
  app/javascript/utils/core_workspace_runtime.js
  app/javascript/utils/live_query_runtime_owner.js
  config/importmap.rb
  docs/app_structure.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/qscore_case_controller.test.js
  test/javascript/controllers/query_lifecycle_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/utils/core_capabilities_runtime.test.js
  test/javascript/utils/core_runtime.test.js
  test/javascript/utils/core_workspace_runtime.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/playwright/core_smoke.spec.ts
  vitest.config.js
Due: rubocop, eslint, prettier

stale_stream_guard: listen on the controller element's document
  app/javascript/controllers/stale_stream_guard_controller.js
  test/javascript/controllers/stale_stream_guard_controller.test.js
Due: eslint, prettier

Consolidate mutable query state in QueryCollectionStore
  app/javascript/controllers/query_command_bridge_controller.js
  app/javascript/stores/case_score_store.js
  app/javascript/stores/query_collection_store.js
  app/javascript/stores/query_documents_store.js
  app/javascript/utils/live_query_collection.js
  app/javascript/utils/live_query_factory.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/query_documents.js
  docs/app_structure.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/frog_report_controller.test.js
  test/javascript/controllers/query_command_bridge_controller.test.js
  test/javascript/controllers/search_results_controller.test.js
  test/javascript/stores/query_collection_store.test.js
  test/javascript/stores/query_documents_store.test.js
  test/javascript/utils/live_query_collection.test.js
  test/javascript/utils/live_query_factory.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/query_documents.test.js
Due: eslint, prettier

Extract shared clipboard feedback timing for Explain and Invite
  app/javascript/controllers/invite_controller.js
  app/javascript/controllers/query_explain_controller.js
  app/javascript/utils/temporary_feedback.js
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/invite_controller.test.js
  test/javascript/utils/temporary_feedback.test.js
  vitest.config.js
Due: eslint, prettier

Fix CodeMirror cleanup in case controllers
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/query_options_core_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/javascript/controllers/case_editor_lifecycle.test.js
Due: eslint, prettier

Move scorer picker row markup into a Rails template
  app/javascript/controllers/pick_scorer_core_controller.js
  app/views/core/_scorer_list_template.html.erb
  app/views/shared/_pick_scorer_core_modal.html.erb
  config/stimulus_conventions_baseline.json
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/core_controller_test.rb
  test/javascript/controllers/pick_scorer_core_controller.test.js
  test/playwright/toolbar_modals_core.spec.ts
Due: rubocop, eslint, prettier

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
