Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

Fix alignment of close buttons.
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/delete_case/_modal.html
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/diff/_modal.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/frog_report/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/move_query/_modal.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/query_options/_modal.html
  app/assets/javascripts/components/share_case/_modal.html
  app/assets/stylesheets/misc.css
  app/assets/templates/views/pick_scorer.html
  app/assets/templates/views/snapshotModal.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/unarchiveCaseModal.html
Due: none

polishing up the UI for the specic search results.
  app/assets/javascripts/components/debug_matches/debug_matches_controller.js
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/style.css
  app/assets/templates/views/targetedSearchModal.html
Due: eslint

working through serach results page
  app/assets/javascripts/components/expand_content/_modal.html
  app/assets/javascripts/controllers/searchResult.js
  app/assets/javascripts/services/quepidModalSvc.js
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/templates/views/searchResults.html
Due: eslint

polish pick scorer ui
  app/assets/stylesheets/misc.css
  app/assets/templates/views/pick_scorer.html
Due: none

polish pick scorer
  app/assets/javascripts/controllers/queriesCtrl.js
Due: eslint

fix up close buttons
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/templates/views/pick_scorer.html
  app/assets/templates/views/snapshotModal.html
  app/assets/templates/views/unarchiveCaseModal.html
Due: none

fix label formatting
  app/assets/templates/views/snapshotModal.html
Due: none

use our own code
  app/assets/stylesheets/admin.css
  app/javascript/admin_users.js
  app/javascript/controllers/user_activity_controller.js
  build_css.js
  package.json
  yarn.lock
Due: eslint, prettier

refine the UI
  app/javascript/controllers/user_activity_controller.js
Due: eslint, prettier

javascript clean ups
  app/javascript/admin_users.js
  app/javascript/controllers/user_activity_controller.js
Due: eslint, prettier

cal-heatmap is no longer supported, migrate to a vega based solution. (#1748)
  app/assets/stylesheets/admin.css
  app/javascript/admin_users.js
  app/javascript/controllers/user_activity_controller.js
  build_css.js
  package.json
  yarn.lock
Due: eslint, prettier

Working my way thorugh the toolbar UI on the Core page.
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/diff/_modal.html
  app/assets/javascripts/components/diff/diff_controller.js
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/stylesheets/bootstrap5-compat.css
Due: eslint

worked our way thorugh the relevance tuning forms
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/snapshotModal.html
  app/views/judgements/_form.html.erb
Due: none

Code review clean up...
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/404.html
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/searchResults.html
Due: none

use more standard bs5 form-select
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/ng-tags-input-theme.css
  app/assets/templates/views/customHeaders.html
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/wizardModal.html
Due: none

Lean into the modal component to clean up formatting of wizard steps.
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/misc.css
  app/assets/templates/views/wizardModal.html
Due: none

ran /code-review and these were suggested.
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/misc.css
  app/views/admin/users/_form.html.erb
  app/views/layouts/_header_core_app.html.erb
  test/playwright/case_header_typography.spec.ts
Due: eslint

Restore the footer, clean ups
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/navbar-brand.css
  app/views/analytics/cases/duplicate_scores/show.html.erb
  app/views/books/index.html.erb
  app/views/bulk_judge/new.html.erb
  app/views/cases/index.html.erb
  app/views/home/show.html.erb
  app/views/judgements/index.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/layouts/application.html.erb
  app/views/query_doc_pairs/index.html.erb
  app/views/ratings/index.html.erb
  app/views/scores/index.html.erb
  app/views/search_endpoints/index.html.erb
  build_css.js
Due: prettier

Only load vega via vega ruby gem, importmap...
  app/javascript/admin_users.js
  app/javascript/analytics.js
  app/javascript/angular_app.js
  app/javascript/application_modern.js
  app/javascript/controllers/user_activity_controller.js
  app/javascript/vega_globals.js
  app/views/admin/users/show.html.erb
  app/views/layouts/analytics.html.erb
  app/views/layouts/core.html.erb
  config/importmap.rb
  package.json
  yarn.lock
Due: rubocop, eslint, prettier

One more dependency in the garbage.
  package.json
  yarn.lock
Due: none

Eliminate D3 by migrating Scoring Chart to Vega
  app/assets/javascripts/components/annotations/annotations.html
  app/assets/javascripts/components/qgraph/qgraph.html
  app/assets/javascripts/components/qgraph/qgraph_controller.js
  app/assets/javascripts/components/qgraph/qgraph_directive.js
  app/assets/stylesheets/qgraph.css
  app/assets/stylesheets/qscore.css
  app/javascript/angular_app.js
  package.json
  yarn.lock
Due: eslint

fix the frog pond
  app/assets/javascripts/components/frog_report/frog_report_modal_instance_controller.js
  app/assets/javascripts/directives/angular-vega.js
  app/assets/stylesheets/froggy.css
Due: eslint

autogrow was used for one slightly odd UI effect that doesn't even get used, the tuning knobs, so eliminate
  app/assets/javascripts/directives/autoGrow.js
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/devQueryParams.html
  app/javascript/angular_app.js
  package.json
  yarn.lock
Due: eslint

refactor loading bootstrap to one path, and eliminate jquery ui
  app/assets/javascripts/app.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/directives/quepidSortable.js
  app/assets/templates/views/queries.html
  app/javascript/angular_app.js
  app/javascript/bootstrap_globals.js
  app/javascript/vendor/README.md
  app/javascript/vendor/angular-ui-sortable/LICENSE
  app/javascript/vendor/angular-ui-sortable/package.json
  app/javascript/vendor/angular-ui-sortable/src/sortable.js
  app/views/layouts/core.html.erb
  config/importmap.rb
  package.json
  spec/karma/config/unit.js
  yarn.lock
Due: rubocop, eslint, prettier

be consistent iwth yarn
  build_angular_app.js
  lib/tasks/karma.rake
  package.json
Due: prettier

dead file from the original days.
  lib/assets/javascripts/jquery-autoGrowInput.js
Due: eslint

improve docs
  DEVELOPER_GUIDE.md
Due: none

update
  CLAUDE.md
Due: none

styling
  .stylelintrc.json
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/signup.css
  app/assets/stylesheets/style.css
  bin/jshint-staged
Due: none

Fix CSS/layout regressions from BS3→BS5 removal, rebaseline Playwright
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/docs.css
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/wizardModal.html
  app/views/ai_judges/prompts/_form.html.erb
  app/views/books/judgement_stats.html.erb
  app/views/core/index.html.erb
  app/views/home/show.html.erb
  app/views/layouts/_header_core_app.html.erb
  test/playwright/baselines/angular_pages.spec.ts/cases-list-01-case-loaded.png
  test/playwright/baselines/angular_pages.spec.ts/cases-list-02-relevancy-cases-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/cases-list-03-query-filter-focused.png
  test/playwright/baselines/angular_pages.spec.ts/cases-list-04-books-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/cases-list-06-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/query-editor-01-query-expanded.png
  test/playwright/baselines/angular_pages.spec.ts/rating-ui-01-results-visible.png
  test/playwright/baselines/angular_pages.spec.ts/rating-ui-02-relevancy-cases-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/rating-ui-03-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/rating-ui-05-query-filter-focused.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-01-before-scorer-modal.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-04-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-05-books-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/scorer-config-06-filter-focused.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-02-name-step.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-05-relevancy-cases-dropdown.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-06-judgement-popover.png
  test/playwright/baselines/angular_pages.spec.ts/wizard-08-query-filter-focused.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-02-case-loaded.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-03-relevancy-dropdown.png
  test/playwright/baselines/core_smoke.spec.ts/explain-modal-parsing-tab.png
  test/playwright/baselines/core_smoke.spec.ts/judgement-popover.png
  test/playwright/baselines/core_smoke.spec.ts/open-case.png
  test/playwright/baselines/core_smoke.spec.ts/query-results.png
  test/playwright/baselines/core_smoke.spec.ts/wizard-open.png
Due: none

prepping for release
  CHANGELOG.md
Due: none

need zip in prod build
  Dockerfile.prod
Due: none

Change release date for version 8.6.0
  CHANGELOG.md
Due: none

This fix during the release process never was committed
  Dockerfile.prod
Due: none

prevent duplicate poipulate book jobs
  app/controllers/api/v1/books/populate_controller.rb
  app/jobs/populate_book_job.rb
  test/controllers/api/v1/books/populate_controller_test.rb
Due: rubocop

Prevent duplicate book syncs (#1749)
  Dockerfile.prod
  app/controllers/api/v1/books/populate_controller.rb
  app/jobs/populate_book_job.rb
  test/controllers/api/v1/books/populate_controller_test.rb
Due: rubocop

Several small changes
  CLAUDE.md
  app/assets/javascripts/components/annotations/annotations.html
  app/assets/javascripts/components/diff/diff_controller.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/controllers/takeSnapshot.js
  app/assets/javascripts/controllers/targetedSearchCtrl.js
  app/assets/javascripts/directives/quepidTypeahead.js
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/pick_scorer.html
  app/assets/templates/views/snapshotModal.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/unarchiveCaseModal.html
  app/views/admin/users/_form.html.erb
  app/views/judgements/_form.html.erb
  app/views/scorers/_form.html.erb
  app/views/scores/index.html.erb
Due: eslint

Fix BS5 layout regressions and add directive/service specs
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/qgraph/qgraph_controller.js
  app/assets/stylesheets/admin.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/style.css
  app/assets/templates/views/_dev_settings.html
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/searchResults.html
  app/views/layouts/core.html.erb
  build_css.js
  spec/javascripts/angular/directives/quepidCollapse_spec.js
  spec/javascripts/angular/directives/quepidPopover_spec.js
  spec/javascripts/angular/directives/quepidSortable_spec.js
  spec/javascripts/angular/directives/quepidTooltip_spec.js
  spec/javascripts/angular/services/quepidModalSvc_spec.js
  spec/javascripts/mock/mockHelpers.js
Due: eslint, prettier

add the nightly icon
  app/views/cases/index.html.erb
Due: none

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
