Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Add TypeSafe Jev support and centralize AI judge providers
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/ai_judge_form_controller.js
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/jobs/run_judge_judy_job.rb
  app/models/ai_judge.rb
  app/models/judge_scale.rb
  app/models/llm_provider.rb
  app/services/judgement_finalizer.rb
  app/services/llm_connection.rb
  app/services/llm_judge_adapters.rb
  app/services/llm_judge_adapters/anthropic.rb
  app/services/llm_judge_adapters/base.rb
  app/services/llm_judge_adapters/jev.rb
  app/services/llm_judge_adapters/open_ai.rb
  app/services/llm_service.rb
  app/views/ai_judges/_form.html.erb
  config/initializers/customize_quepid.rb
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  test/controllers/ai_judges/wizard_controller_test.rb
  test/controllers/ai_judges_controller_test.rb
  test/javascript/controllers/ai_judge_form_controller.test.js
  test/javascript/controllers/ai_judge_wizard_controller.test.js
  test/models/ai_judge_test.rb
  test/models/judge_scale_test.rb
  test/models/llm_provider_test.rb
  test/playwright/llm_providers.spec.ts
  test/services/jev_judging_test.rb
  test/services/judgement_finalizer_test.rb
  test/services/llm_connection_test.rb
  test/services/llm_judge_adapters/jev_test.rb
  test/services/llm_judge_adapters_test.rb
Due: rubocop, eslint, prettier

Upgrade Rails, RubyLLM and JavaScript dependencies
  AGENTS.md
  DEVELOPER_GUIDE.md
  Gemfile.lock
  app/services/mapper_wizard_service.rb
  app/tools/download_page.rb
  app/tools/javascript_extractor.rb
  app/tools/mapper_tool.rb
  bin/pre-commit-rubocop
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  package.json
  test/integration/experiment_with_ruby_llm_extractor_test.rb
  test/mutation/vitest_compat.config.mjs
  test/services/mapper_wizard_service_test.rb
  yarn.lock
Due: rubocop, eslint

strucutre to work better with kamal
  Dockerfile.prod
Due: none

Add rails pulse monitoring (#1828)
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  app/views/admin/home/index.html.erb
  config/initializers/rails_pulse.rb
  config/recurring.yml
  config/routes.rb
  db/migrate/20261005192545_install_rails_pulse_tables.rb
  db/rails_pulse_migrate/.keep
  db/rails_pulse_schema.rb
Due: rubocop

Harden Rails Pulse installation and verify monitoring behavior
  AGENTS.md
  DEVELOPER_GUIDE.md
  app/views/admin/home/index.html.erb
  config/initializers/postgresql_schema_compatibility.rb
  config/initializers/rails_pulse.rb
  db/migrate/20261005192545_install_rails_pulse_tables.rb
  db/schema.rb
  docs/manual-testing/14-admin-area.md
  docs/manual-testing/tracking.yml
  test/controllers/api/v1/serializer_queries_test.rb
  test/controllers/rails_pulse_authorization_test.rb
  test/integration/rails_pulse_migration_test.rb
  test/integration/rails_pulse_test.rb
Due: rubocop

Add team AI judge cloning and improve book and sharing workflows
  app/controllers/ai_judges_controller.rb
  app/controllers/books_controller.rb
  app/javascript/controllers/case_book_synchronization_controller.js
  app/javascript/controllers/share_entity_controller_base.js
  app/views/ai_judges/new.html.erb
  app/views/books/_form.html.erb
  app/views/books/import/edit.html.erb
  app/views/bulk_judge/new.html.erb
  app/views/judgements/edit.html.erb
  app/views/judgements/new.html.erb
  app/views/judgements/show.html.erb
  app/views/search_endpoints/_form.html.erb
  app/views/teams/index.html.erb
  config/routes.rb
  docs/manual-testing/07-search-endpoints-and-mapper-wizard.md
  docs/manual-testing/09-teams-and-sharing.md
  docs/manual-testing/10-books-management.md
  docs/manual-testing/11-judging-workflows.md
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  test/controllers/ai_judges_controller_test.rb
  test/controllers/books_controller_test.rb
  test/javascript/controllers/case_book_synchronization_controller.test.js
  test/javascript/controllers/share_entity_controller_base.test.js
Due: rubocop, eslint, prettier

Address code review findings on escalating judges feature (local only)
  app/controllers/books_controller.rb
  app/jobs/run_judge_judy_job.rb
  app/models/ai_judge.rb
  app/models/book.rb
  app/views/ai_judges/_form.html.erb
  app/views/ai_judges/index.html.erb
  app/views/books/_form.html.erb
Due: rubocop

Rework escalation help text: side-by-side layout, structured copy
  app/views/ai_judges/_form.html.erb
  test/controllers/ai_judges_controller_test.rb
Due: rubocop

Polish shared UI, mapper wizard, and mutation tooling
  AGENTS.md
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/core-additions.css
  app/helpers/application_helper.rb
  app/helpers/avatar_helper.rb
  app/javascript/controllers/auto_dismiss_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/views/admin/announcements/index.html.erb
  app/views/admin/users/index.html.erb
  app/views/home/case_prophet.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_footer_core_app.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/layouts/application.html.erb
  app/views/mapper_wizards/show.html.erb
  docs/manual-testing/02-home-dashboard.md
  docs/manual-testing/07-search-endpoints-and-mapper-wizard.md
  docs/manual-testing/15-global-navigation-and-notebooks.md
  docs/manual-testing/16-cross-cutting-bs5-responsive-and-accessibility.md
  docs/manual-testing/tracking.yml
  package.json
  test/helpers/application_helper_test.rb
  test/javascript/controllers/auto_dismiss_controller.test.js
  test/javascript/controllers/mapper_wizard_controller.test.js
  test/playwright/admin.spec.ts
  test/playwright/book_import_export.spec.ts
  test/playwright/home_and_profile.spec.ts
  test/playwright/scorers_and_search_endpoints.spec.ts
  test/playwright/teams.spec.ts
  yarn.lock
Due: rubocop, eslint, prettier

Rename escalation help's "Fallback Judge" to "On-Call Judge"
  app/views/ai_judges/_form.html.erb
Due: none

Escalation help: say "query/doc pair" instead of bare "the pair"
  app/views/ai_judges/_form.html.erb
Due: none

Move escalation row below the judge model config, above system prompt
  app/views/ai_judges/_form.html.erb
Due: none

Add spacing below the model config row
  app/views/ai_judges/_form.html.erb
Due: none

Move images/confidence field explanations into Model Configuration
  app/models/llm_provider.rb
  app/views/ai_judges/_form.html.erb
  test/controllers/ai_judges_controller_test.rb
  test/models/llm_provider_test.rb
Due: rubocop

Update runtime versions and PostgreSQL upgrade guidance
  .circleci/config.yml
  .ruby-version
  AGENTS.md
  Dockerfile.dev
  Dockerfile.prod
  Gemfile
  Gemfile.lock
  docker-compose.prod.yml
  docker-compose.yml
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  docs/running_with_postgresql.md
  renovate.json
Due: none

Import upstream AI judge architecture and planning docs
  AGENTS.md
  CHANGELOG.md
  docs/README.md
  docs/adr/0001-llm-judge-provider-architecture.md
  docs/adr/README.md
  docs/manual-testing/tracking.yml
  docs/todo/escalating_judges.md
  docs/todo/jev_llm_judge.md
  docs/todo/judgements-escalation.md
  docs/todo/llm_judge_openai_batch.md
  docs/todo/llm_judge_shared_foundation.md
Due: none

Replace "open from a book" notice with a list of scales to test against
  app/controllers/ai_judges_controller.rb
  app/views/ai_judges/_form.html.erb
  test/controllers/ai_judges_controller_test.rb
Due: rubocop

Fix annotation validation and align Rails regression tests
  AGENTS.md
  app/controllers/api/v1/annotations_controller.rb
  app/services/ratings_manager.rb
  test/controllers/api/v1/annotations_controller_test.rb
  test/controllers/api/v1/case_scores_controller_test.rb
  test/controllers/cases_controller_test.rb
  test/controllers/core_controller_test.rb
  test/controllers/sessions_controller_test.rb
  test/integration/public_case_url_test.rb
  test/services/case_score_manager_test.rb
Due: rubocop

Refactor masked credential matching into MaskableCredential
  app/controllers/api/v1/search_endpoints_controller.rb
  app/controllers/api/v1/tries_controller.rb
  app/controllers/mapper_wizards_controller.rb
  app/controllers/search_endpoints_controller.rb
  app/models/concerns/maskable_credential.rb
  test/controllers/api/v1/search_endpoints_controller_test.rb
  test/controllers/api/v1/tries_controller_test.rb
  test/controllers/mapper_wizards_controller_test.rb
  test/controllers/search_endpoints_controller_test.rb
Due: rubocop

Consolidate Playwright API and disposable case helpers
  test/playwright/ai_judge_wizard.spec.ts
  test/playwright/book_import_export.spec.ts
  test/playwright/book_sync_settings.spec.ts
  test/playwright/case_header_rename.spec.ts
  test/playwright/case_helpers.spec.ts
  test/playwright/case_helpers.ts
  test/playwright/case_shell_navigation.spec.ts
  test/playwright/delete_and_clone_case_options.spec.ts
  test/playwright/header_footer_navigation.spec.ts
  test/playwright/judging.spec.ts
  test/playwright/qdrant_wizard.spec.ts
  test/playwright/share_case.spec.ts
  test/playwright/toolbar_modals_core.spec.ts
  test/playwright/wizard_completion.spec.ts
  test/playwright/workspace_bootstrap.spec.ts
  test/playwright/workspace_catalog_templates.spec.ts
  test/playwright/workspace_settings.spec.ts
Due: none

Add isolated legacy Quepid instance for parity comparisons
  .agents/skills/branch-ui-diff/SKILL.md
  AGENTS.md
  DEVELOPER_GUIDE.md
  bin/legacy
  docker/legacy/Procfile
  docker/legacy/compose.yml
  docker/legacy/seed.rb
  docker/legacy/start
  docs/legacy_comparison.md
  docs/todo/todo.md
Due: rubocop

Let "Test & Refine" run against a picked scorer scale, not just a book
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/ai_judges_controller.rb
  app/models/judge_scale.rb
  app/views/ai_judges/_form.html.erb
  test/controllers/ai_judges/wizard_controller_test.rb
  test/controllers/ai_judges_controller_test.rb
  test/models/judge_scale_test.rb
Due: rubocop

Stop saying "book's" rating scale - it can be a scorer's now too
  app/models/llm_provider.rb
  app/services/llm_judge_adapters/base.rb
  docs/manual-testing/12-ai-judges.md
  docs/todo/optimizing_llm_as_judge_query_based_on_golden_dataset.md
  test/controllers/ai_judges/wizard_controller_test.rb
  test/services/llm_service_test.rb
Due: rubocop

Preserve unsaved form state across the scale-picker's page reload
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/views/ai_judges/_form.html.erb
  test/javascript/controllers/ai_judge_wizard_controller.test.js
Due: eslint, prettier

Redirect to the AI Judges listing after save, not the judge itself
  app/controllers/ai_judges_controller.rb
  test/controllers/ai_judges_controller_test.rb
Due: rubocop

Close the Kraken modal when its image finishes fading, not just remove it
  app/views/books/_kraken_unleashed.html.erb
Due: none

Fix sidebar/content overlap on mobile in the main layout
  app/views/layouts/application.html.erb
Due: none

Sidebar flush left with a visible gap before main content
  app/views/layouts/application.html.erb
Due: none

Wrap wide listing tables in .table-responsive to stop page-level overflow
  app/views/books/index.html.erb
  app/views/judgements/index.html.erb
  app/views/query_doc_pairs/index.html.erb
  app/views/ratings/index.html.erb
  app/views/search_endpoints/index.html.erb
  app/views/teams/index.html.erb
Due: none

Remove the "Read-only here" note from the scale criteria display
  app/views/ai_judges/_form.html.erb
Due: none

Fix mobile layout: sidebar overlap and table overflow (#1830)
  app/views/books/index.html.erb
  app/views/judgements/index.html.erb
  app/views/layouts/application.html.erb
  app/views/query_doc_pairs/index.html.erb
  app/views/ratings/index.html.erb
  app/views/search_endpoints/index.html.erb
  app/views/teams/index.html.erb
Due: none

Fix judging persistence and case/book workflow defects
  AGENTS.md
  app/controllers/books_controller.rb
  app/controllers/teams_controller.rb
  app/javascript/controllers/bulk_judgement_controller.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/utils/book_sync.js
  app/javascript/utils/query_runtime.js
  app/javascript/utils/snapshot_import.js
  app/jobs/update_case_job.rb
  app/views/shared/_dynamic_modal_templates.html.erb
  app/views/shared/_import_snapshot_modal.html.erb
  app/views/teams/_cases.html.erb
  docs/legacy_comparison.md
  docs/manual-testing/03-case-management.md
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/10-books-management.md
  docs/manual-testing/11-judging-workflows.md
  docs/manual-testing/12-ai-judges.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/controllers/books_controller_test.rb
  test/controllers/teams_controller_test.rb
  test/javascript/controllers/bulk_judgement_controller.test.js
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/utils/book_sync.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  test/javascript/utils/snapshot_import.test.js
  test/javascript/utils/targeted_search.test.js
  test/jobs/populate_book_job_test.rb
  test/jobs/update_case_job_test.rb
  test/playwright/todo_fixes.spec.ts
Due: rubocop, eslint, prettier

Make the case detail (core) view mobile-friendly
  app/assets/stylesheets/core-additions.css
  app/views/layouts/core.html.erb
Due: none

Make the admin UI mobile-friendly
  app/views/admin/announcements/index.html.erb
  app/views/admin/users/index.html.erb
  app/views/layouts/_admin_sidebar.html.erb
Due: none

Merge admin layout into application layout
  app/controllers/admin/admin_controller.rb
  app/views/layouts/admin.html.erb
  app/views/layouts/application.html.erb
  build_css.js
Due: rubocop, prettier

Select sidebar via controller-level sidebar_partial, not path string
  app/controllers/admin/admin_controller.rb
  app/controllers/application_controller.rb
  app/views/layouts/application.html.erb
  build_css.js
Due: rubocop, prettier

Regenerate db/schema.rb to include RailsPulse tables
  db/schema.rb
Due: rubocop

Fix MySQL-only backtick quoting in RailsPulse schema.rb dumps
  db/schema.rb
Due: rubocop

Disable RailsPulse tracking in test env
  config/initializers/rails_pulse.rb
Due: rubocop
