Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Add Phase 8 wizard modal and unarchive flow to new UI
  app/javascript/controllers/tour_controller.js
  app/javascript/controllers/unarchive_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/modules/settings_validator.js
  app/javascript/modules/wizard_settings.js
  app/views/core/_action_bar_modals.html.erb
  app/views/core/_case_header.html.erb
  config/importmap.rb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/settings_validator.test.js
  test/javascript/wizard_settings.test.js
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/generate_report.mjs
Due: rubocop, eslint, prettier

Add Phase 6 Frog Pond Report modal with Vega bar chart to new UI
  app/javascript/controllers/frog_report_controller.js
  app/views/core/_action_bar.html.erb
  app/views/core/_action_bar_modals.html.erb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/frog_report_controller.test.js
Due: eslint, prettier

Fix annotation score data to include allRated and per-query breakdowns
  app/javascript/controllers/case_score_controller.js
  app/javascript/controllers/settings_panel_controller.js
  docs/migration/angularjs_elimination_plan.md
Due: eslint, prettier

Add per-query snapshot score badges to query row header during comparison
  app/assets/stylesheets/search_results.css
  app/javascript/controllers/query_row_controller.js
  app/views/core/_query_list_shell.html.erb
  docs/migration/angularjs_elimination_plan.md
Due: eslint, prettier

Add nightly evaluation toggle and background run button to new UI
  app/javascript/controllers/settings_panel_controller.js
  app/views/core/_settings_panel.html.erb
  docs/migration/angularjs_elimination_plan.md
Due: eslint, prettier

Fix frog report top-K and stale books in judgements modal
  app/javascript/controllers/frog_report_controller.js
  app/javascript/controllers/judgements_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/modules/scorer_executor.js
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/judgements_controller.test.js
  test/javascript/modules/scorer_executor.test.js
Due: eslint, prettier

Update migration docs, project rules, and contributor guide
  .cursor/rules/quepid-project.mdc
  .github/CONTRIBUTING.md
  CLAUDE.md
  DEVELOPER_GUIDE.md
  docs/migration/README.md
  docs/migration/angularjs_elimination_plan.md
  docs/migration/core_case_evaluation_manual.md
  docs/migration/deangularjs_experimental_review.md
  docs/migration/new_ui_capabilities.md
  docs/migration/old/angularjs_elimination_plan_full.md
  docs/migration/pragmatic_engineering_setup_review.md
  docs/migration/rails_stimulus_migration_alternative.md
  docs/migration/remaining_work.md
  docs/migration/screenshot_automation.md
  docs/migration/workspace_behavior.md
  docs/scripts/capture_screenshots.js
  docs/stimulus_and_modern_js_conventions.md
  docs/visual_parity.md
Due: eslint

Add core_new_ui CSS bundle and rating dropdown styles
  app/assets/stylesheets/animation_new_ui.css
  app/assets/stylesheets/application.css
  app/assets/stylesheets/core_new_ui.css
  app/assets/stylesheets/qscore_snapshot_diff.css
  app/assets/stylesheets/query_workspace_new_ui.css
  app/assets/stylesheets/search_results.css
  build_css.js
Due: prettier

Add new_for_new_ui action, BS5 header, and query list view updates
  app/controllers/core_controller.rb
  app/controllers/dropdown_controller.rb
  app/helpers/application_helper.rb
  app/views/core/_action_bar.html.erb
  app/views/core/_action_bar_modals.html.erb
  app/views/core/_case_header.html.erb
  app/views/core/_query_list_shell.html.erb
  app/views/core/_settings_panel.html.erb
  app/views/dropdown/cases.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/layouts/core_new_ui.html.erb
  config/routes.rb
Due: rubocop

Enhance Stimulus controllers: rating dropdown, doc explain, move/options modals
  app/javascript/controllers/doc_finder_controller.js
  app/javascript/controllers/move_query_modal_controller.js
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_options_modal_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/controllers/settings_panel_controller.js
  app/javascript/controllers/tour_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/modules/scorer.js
Due: eslint, prettier

Add tests for new controllers and update visual parity tooling
  lefthook.yml
  test/controllers/core_controller_test.rb
  test/controllers/dropdown_controller_test.rb
  test/javascript/controllers/case_score_controller.test.js
  test/javascript/controllers/move_query_modal_controller.test.js
  test/javascript/controllers/query_list_controller.test.js
  test/javascript/controllers/query_options_modal_controller.test.js
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/controllers/settings_panel_controller.test.js
  test/javascript/controllers/snapshot_controller.test.js
  test/javascript/modules/scorer.test.js
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/generate_report.mjs
  test/visual_parity/run_comparison.sh
Due: rubocop, eslint

Remove configurationSvc and headerCtrl, read config from DOM data attributes
  app/assets/javascripts/controllers/headerCtrl.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/controllers/scorer.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/javascripts/services/configurationSvc.js
  app/javascript/controllers/import_case_controller.js
  app/views/layouts/application.html.erb
  app/views/layouts/core.html.erb
  docs/migration/remaining_work.md
  spec/javascripts/angular/services/configurationSvc_spec.js
Due: eslint, prettier

Replace deprecated btoa/atob Unicode wrappers with TextEncoder-based helpers
  app/javascript/controllers/query_row_controller.js
Due: eslint, prettier

WIP of snapshots
  app/assets/javascripts/components/diff/diff_modal_instance_controller.js
  app/assets/javascripts/factories/snapshotFactory.js
  app/assets/javascripts/services/querySnapshotSvc.js
  app/assets/javascripts/services/snapshotSearcherSvc.js
  app/controllers/api/v1/snapshots_controller.rb
  app/views/api/v1/snapshots/_snapshot.json.jbuilder
Due: rubocop, eslint

Remove earlier approach to securing credentials using SEARCH_ENDPOINT_VIEWS_ADMIN_ONLY
  .env.example
  app/controllers/mapper_wizards_controller.rb
  app/controllers/search_endpoints_controller.rb
Due: rubocop

Remove test now that env setting is gone.
  test/controllers/search_endpoints_controller_test.rb
Due: rubocop

Basic Auth Credentials are encrypted.
  .env.example
  app/assets/javascripts/controllers/detailedDoc.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/javascripts/services/docCacheSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/controllers/api/v1/search_endpoints_controller.rb
  app/controllers/mapper_wizards_controller.rb
  app/controllers/proxy_controller.rb
  app/controllers/search_endpoints_controller.rb
  app/javascript/controllers/mapper_wizard_controller.js
  app/models/concerns/maskable_credential.rb
  app/models/mapper_wizard_state.rb
  app/models/search_endpoint.rb
  app/views/api/v1/search_endpoints/_search_endpoint.json.jbuilder
  app/views/api/v1/tries/_try.json.jbuilder
  app/views/mapper_wizards/show.html.erb
  app/views/search_endpoints/_form.html.erb
  app/views/search_endpoints/_search_endpoint.html.erb
  config/initializers/customize_quepid.rb
  db/migrate/20260306000001_increase_basic_auth_credential_max_length.rb
  db/migrate/20260306000002_encrypt_existing_basic_auth_credentials.rb
  db/schema.rb
  lib/tasks/sample_data.thor
  test/controllers/proxy_controller_test.rb
  test/controllers/search_endpoints_controller_test.rb
  test/fixtures/search_endpoints.yml
  test/models/mapper_wizard_state_test.rb
  test/models/search_endpoint_test.rb
  test/support/webmock.rb
Due: rubocop, eslint, prettier

Migrate core workspace partials from Bootstrap 3 to Bootstrap 5 classes
  app/assets/stylesheets/query_workspace.css
  app/javascript/controllers/query_row_controller.js
  app/views/core/_action_bar.html.erb
  app/views/core/_case_header.html.erb
  app/views/core/_query_list_shell.html.erb
  app/views/core/_settings_panel.html.erb
  docs/migration/remaining_work.md
  test/javascript/controllers/query_row_controller.test.js
  yarn.lock
Due: eslint, prettier

Polish post-Angular cleanup: wire share modal, fix template tab, remove debug logs
  app/javascript/controllers/bulk_judgement_controller.js
  app/javascript/controllers/import_case_controller.js
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/prompt_form_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/controllers/share_case_controller.js
  app/javascript/controllers/share_search_endpoint_controller.js
  app/javascript/controllers/user_activity_controller.js
  app/views/core/_action_bar.html.erb
  app/views/core/_action_bar_modals.html.erb
  docs/migration/angularjs_elimination_plan.md
  docs/migration/old/angularjs_elimination_plan.md
  docs/migration/remaining_work.md
Due: eslint, prettier

Add URL-synced sort/reverse, drag revert, and renderedTemplate to search results
  app/javascript/controllers/query_explain_modal_controller.js
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/modules/search_executor.js
  test/javascript/controllers/query_list_controller.test.js
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/modules/search_executor.test.js
  test/visual_parity/capture_screenshots.mjs
Due: eslint, prettier

Add client-side query row builder, auto-search on add, and cleanup stale Angular references
  app/assets/stylesheets/froggy.css
  app/assets/stylesheets/qscore_snapshot_diff.css
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/doc_finder_controller.js
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/scorer_scale_controller.js
  app/javascript/controllers/snapshot_comparison_controller.js
  app/javascript/modules/editor.js
  app/javascript/modules/field_renderer.js
  app/javascript/modules/html_escape.js
  app/views/admin/users/show.html.erb
  app/views/core/_query_list_shell.html.erb
  app/views/layouts/_header.html.erb
  config/importmap.rb
  test/integration/user_invite_flow_test.rb
  test/javascript/controllers/add_query_controller.test.js
Due: rubocop, eslint, prettier

Fix 9 bugs, refactor CSS double-hide, add tests and review recommendations
  app/assets/stylesheets/panes.css
  app/javascript/controllers/doc_finder_controller.js
  app/javascript/controllers/frog_report_controller.js
  app/javascript/controllers/resizable_pane_controller.js
  app/javascript/controllers/sparkline_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/modules/search_executor.js
  app/javascript/modules/settings_validator.js
  docs/pragmatic_review_recommendations.md
  test/javascript/controllers/doc_finder_controller.test.js
  test/javascript/controllers/judgements_controller.test.js
  test/javascript/controllers/query_row_parity.test.js
  test/javascript/controllers/settings_panel_controller.test.js
  test/javascript/controllers/snapshot_comparison_controller.test.js
  test/javascript/controllers/wizard_controller.test.js
  test/javascript/modules/settings_validator.test.js
Due: eslint, prettier

Apply Prettier formatting to controllers, modules, and tests
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_options_modal_controller.js
  app/javascript/controllers/settings_panel_controller.js
  app/javascript/controllers/snapshot_comparison_controller.js
  app/javascript/modules/editor.js
  app/javascript/modules/wizard_settings.js
  test/javascript/controllers/add_query_controller.test.js
  test/javascript/controllers/delete_case_options_controller.test.js
  test/javascript/controllers/frog_report_controller.test.js
  test/javascript/controllers/query_list_controller.test.js
  test/javascript/controllers/sparkline_controller.test.js
  test/javascript/modules/search_executor.test.js
  test/javascript/wizard_settings.test.js
Due: eslint, prettier

first pass of fix
  app/models/selection_strategy.rb
  test/models/selection_strategy_test.rb
Due: rubocop

Fix SearchAPI HTML response parsing and stabilize visual parity captures
  app/javascript/modules/search_executor.js
  docs/scripts/capture_fixes.js
  docs/scripts/capture_gap_screenshots.js
  docs/scripts/capture_remaining.js
  docs/scripts/capture_remaining2.js
  docs/scripts/capture_remaining3.js
  docs/scripts/capture_remaining4.js
  docs/scripts/capture_screenshots.js
  docs/scripts/capture_wizard_screenshots.js
  docs/scripts/render_isolated_components.html
  test/visual_parity/capture_screenshots.mjs
Due: eslint, prettier

Vendor splainer-search v3, replace internal fieldSpec, add searcher adapter
  app/javascript/modules/search_executor.js
  app/javascript/modules/searcher_adapter.js
  app/models/try.rb
  config/importmap.rb
  docs/migration/splainer_search_integration_plan.md
  test/application_system_test_case.rb
  vendor/javascript/splainer-search.js
  vendor/javascript/splainer-search.js.map
Due: rubocop, eslint, prettier

Switch query_row_controller to splainer-search searcher factories
  app/javascript/controllers/query_row_controller.js
Due: eslint, prettier

Wire remaining controllers to splainer-search, remove old module dependencies
  app/javascript/controllers/doc_detail_modal_controller.js
  app/javascript/controllers/doc_finder_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/controllers/snapshot_controller.js
  package.json
Due: eslint, prettier

Delete search_executor, explain_parser, query_template modules and update tests
  app/javascript/modules/explain_parser.js
  app/javascript/modules/query_template.js
  app/javascript/modules/search_executor.js
  config/importmap.rb
  test/javascript/controllers/doc_finder_controller.test.js
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/modules/field_spec.test.js
  test/javascript/modules/query_template.test.js
  test/javascript/modules/search_executor.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Add select scorer modal
  app/javascript/controllers/select_scorer_controller.js
  app/views/core/_action_bar.html.erb
  app/views/core/_action_bar_modals.html.erb
  docs/migration/splainer_search_integration_plan.md
  yarn.lock
Due: eslint, prettier

first pass of fix (#1679)
  app/models/selection_strategy.rb
  test/models/selection_strategy_test.rb
Due: rubocop

look up by the qdp id now supported
  app/controllers/query_doc_pairs_controller.rb
Due: rubocop

complete placeholder message for qdp id
  app/views/query_doc_pairs/index.html.erb
Due: none

show in hidden html the details.
  app/views/judgements/_form.html.erb
  app/views/layouts/application.html.erb
Due: none

Make it possible to render query as image
  app/assets/templates/views/searchResults.html
Due: none

Polish qdp (#1681)
  app/controllers/query_doc_pairs_controller.rb
  app/views/judgements/_form.html.erb
  app/views/layouts/application.html.erb
  app/views/query_doc_pairs/index.html.erb
Due: rubocop

properly handle passing these urls around in snapshots, to faciliate testing
  app/controllers/api/v1/snapshots/search_controller.rb
  lib/tasks/sample_data.thor
  test/controllers/api/v1/snapshots/search_controller_test.rb
Due: rubocop
