Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

refactor(core): extract live query state orchestration
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_diff.js
  app/javascript/utils/live_query_state.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  test/javascript/utils/live_query_diff.test.js
  test/javascript/utils/live_query_state.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

refactor(core): move searcher contracts out of queriesSvc
  app/assets/javascripts/services/queriesSvc.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/utils/live_query_search.test.js
Due: eslint, prettier

refactor(core): remove obsolete queriesSvc command exposures
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/quepid_search.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/controllers/core_bootstrap_controller.test.js
Due: eslint, prettier

Deangularize live query execution and rating capabilities
  app/assets/javascripts/factories/ScorerFactory.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
Due: eslint, prettier

refactor(core): move query service bridges behind capabilities
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/quepid_search.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
Due: eslint, prettier

refactor(core): extract live query command orchestration
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_commands.js
  app/javascript/utils/live_query_documents.js
  app/javascript/utils/live_query_factory.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/live_query_commands.test.js
  test/javascript/utils/live_query_documents.test.js
  test/javascript/utils/live_query_factory.test.js
  vitest.config.js
Due: eslint, prettier

refactor(core): extract live query execution and event bridges
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_events.js
  app/javascript/utils/live_query_execution.js
  docs/manual-testing/tracking.yml
  test/javascript/utils/live_query_events.test.js
  test/javascript/utils/live_query_execution.test.js
  vitest.config.js
Due: eslint, prettier

refactor(core): replace lifecycle queriesSvc lookups with capabilities
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/core_angular_adapter.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/controllers/core_bootstrap_controller.test.js
Due: eslint, prettier

Refactor the footer side nave issues...
  app/assets/javascripts/footer.js
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/core-additions.css
  app/views/admin/announcements/index.html.erb
  app/views/admin/users/index.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_footer_core_app.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/core.html.erb
  app/views/shared/_osc_copyright.html.erb
  docs/manual-testing/16-cross-cutting-bs5-responsive-and-accessibility.md
  docs/manual-testing/tracking.yml
Due: eslint

refactor: extract live query collection and compatibility runtimes
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/live_query_collection.js
  app/javascript/utils/live_query_compatibility.js
  app/javascript/utils/live_query_lifecycle.js
  app/javascript/utils/live_query_transport.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/live_query_collection.test.js
  test/javascript/utils/live_query_compatibility.test.js
  test/javascript/utils/live_query_lifecycle.test.js
  test/javascript/utils/live_query_transport.test.js
  vitest.config.js
Due: eslint, prettier

refactor: isolate live query scorer and book sync adapters
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_adapters.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/live_query_adapters.test.js
  vitest.config.js
Due: eslint, prettier

refactor: move queriesSvc contracts behind explicit capabilities
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_adapters.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/utils/live_query_adapters.test.js
Due: eslint, prettier

Refactor the footer side nave issues... (#1804)
  app/assets/javascripts/footer.js
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/core-additions.css
  app/views/admin/announcements/index.html.erb
  app/views/admin/users/index.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_footer_core_app.html.erb
  app/views/layouts/_sidebar.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/core.html.erb
  app/views/shared/_osc_copyright.html.erb
  docs/manual-testing/16-cross-cutting-bs5-responsive-and-accessibility.md
  docs/manual-testing/tracking.yml
Due: eslint

refactor(core): centralize live query collection ownership
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_registry.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/utils/live_query_registry.test.js
  vitest.config.js
Due: eslint, prettier

Deangularize live Query compatibility boundaries
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/live_query_adapters.js
  app/javascript/utils/live_query_registry.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/javascript/utils/core_angular_adapter.test.js
  test/javascript/utils/live_query_adapters.test.js
Due: eslint, prettier

Remove injectable queriesSvc and rename live-query runtime boundary
  app/assets/javascripts/factories/docListFactory.js
  app/assets/javascripts/services/liveQueryRuntimeInitializer.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/live_query_adapters.js
  app/javascript/utils/query_model.js
  app/javascript/utils/query_scoring.js
  app/javascript/utils/query_service.js
  app/javascript/utils/rated_docs.js
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/services/liveQueryRuntimeInitializer_spec.js
  spec/javascripts/angular/services/settingsSvc_spec.js
  test/javascript/utils/core_angular_adapter.test.js
Due: eslint, prettier

Extract live-query capability wiring into framework-free installer
  app/assets/javascripts/services/liveQueryRuntimeInitializer.js
  app/javascript/quepid_search.js
  app/javascript/utils/live_query_adapters.js
  app/javascript/utils/live_query_capabilities.js
  docs/manual-testing/tracking.yml
  test/javascript/utils/live_query_adapters.test.js
  test/javascript/utils/live_query_capabilities.test.js
  vitest.config.js
Due: eslint, prettier

refactor(core): move live-query Splainer services behind explicit capability
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/splainer_search_adapter.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/live_query_runtime_initializer.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/services/liveQueryRuntimeInitializer_spec.js
  test/javascript/utils/live_query_runtime_initializer.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

feat(core): replace Angular user service with framework-free runtime
  app/assets/javascripts/services/scorerSvc.js
  app/assets/javascripts/services/userSvc.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/pick_scorer_core_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/controllers/tune_relevance_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/live_query_runtime_initializer.js
  app/javascript/utils/scorer_catalog.js
  app/javascript/utils/user_runtime.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/scorerFactory_spec.js
  spec/javascripts/angular/services/scorerSvc_spec.js
  spec/javascripts/angular/services/userSvc_spec.js
  test/javascript/controllers/core_bootstrap_controller.test.js
  test/javascript/utils/core_angular_adapter.test.js
  test/javascript/utils/live_query_runtime_initializer.test.js
  test/javascript/utils/scorer_catalog.test.js
  test/javascript/utils/user_runtime.test.js
  test/playwright/wizard_completion.spec.ts
  vitest.config.js
Due: rubocop, eslint, prettier

Extract Angular search endpoint and mapper runtimes
  app/assets/javascripts/services/mapperBasedSearchEngineSvc.js
  app/assets/javascripts/services/searchEndpointSvc.js
  app/assets/javascripts/services/settingsSvc.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/mapper_search_runtime.js
  app/javascript/utils/search_endpoint_runtime.js
  config/importmap.rb
  docs/complete_application_specification.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/searchEndpointSvc_spec.js
  test/javascript/utils/mapper_search_runtime.test.js
  test/javascript/utils/search_endpoint_runtime.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Extract settings catalog and retire Angular display filters
  app/assets/javascripts/filters/queryStateClass.js
  app/assets/javascripts/filters/ratingBgStyle.js
  app/assets/javascripts/filters/scoreDisplay.js
  app/assets/javascripts/filters/searchEngineName.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/search_engine_name.js
  app/javascript/utils/settings_catalog_runtime.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/filters/ratingBgStyle_spec.js
  test/javascript/utils/scoring.test.js
  test/javascript/utils/settings_catalog_runtime.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

refactor(core): migrate settings runtime out of Angular
  app/assets/javascripts/factories/SettingsFactory.js
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/javascripts/services/settingsSvc.js
  app/javascript/controllers/case_toolbar_controller.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/settings_runtime.js
  config/importmap.rb
  docs/todo/QUEPID_FEATURES.md
  docs/todo/angularjs_removal_inventory.md
  docs/todo/deangularization_execution_plan.md
  spec/javascripts/angular/services/settingsSvc_spec.js
  test/javascript/utils/settings_runtime.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Extract settings runtime state and simplify Angular navigation bridge
  app/assets/javascripts/services/caseTryNavSvc.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/settings_runtime.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/utils/settings_runtime.test.js
Due: rubocop, eslint, prettier

Extract configuration and navigation runtimes from Angular services
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/javascripts/services/configurationSvc.js
  app/javascript/utils/configuration_runtime.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/navigation_runtime.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/configurationSvc_spec.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/utils/configuration_runtime.test.js
  test/javascript/utils/core_angular_adapter.test.js
  test/javascript/utils/navigation_runtime.test.js
  test/playwright/case_shell_navigation.spec.ts
  vitest.config.js
Due: rubocop, eslint, prettier

Extract case-domain operations from Angular caseSvc into a framework-free runtime
  app/assets/javascripts/app.js
  app/assets/javascripts/factories/docListFactory.js
  app/assets/javascripts/utilitiesModule.js
  app/assets/javascripts/values/settingsIdValue.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/utils/case_runtime.js
  app/javascript/utils/core_angular_adapter.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/docListFactory_spec.js
  test/javascript/utils/case_runtime.test.js
  test/javascript/utils/core_angular_adapter.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Remove Angular case services from the core workbench
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/controllers/core/case_header_controller.rb
  app/javascript/controllers/case_toolbar_controller.js
  app/javascript/stores/case_score_store.js
  app/javascript/utils/case_runtime.js
  app/javascript/utils/core_angular_adapter.js
  app/views/core/_case_header.html.erb
  app/views/core/_case_toolbar.html.erb
  app/views/dropdown/cases_core.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  spec/javascripts/angular/services/caseSvc_spec.js
  spec/javascripts/angular/services/caseTryNavSvc_spec.js
  spec/karma/mockBackend.js
  test/javascript/controllers/case_toolbar_controller.test.js
  test/javascript/controllers/share_case_core_controller.test.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  test/javascript/utils/core_angular_adapter.test.js
  test/playwright/case_header_rename.spec.ts
  test/playwright/case_shell_navigation.spec.ts
  test/playwright/wizard_completion.spec.ts
Due: rubocop, eslint, prettier

Replace Angular scorer factory with framework-free runtime
  app/assets/javascripts/factories/ScorerFactory.js
  app/assets/javascripts/scorerEvalTest.js
  app/helpers/judgement_helper.rb
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/scorer_runtime.js
  app/javascript/utils/scoring.js
  config/importmap.rb
  docs/todo/angularjs_removal_inventory.md
  lib/scorer_logic.js
  spec/javascripts/angular/services/scorerFactory_spec.js
  test/javascript/utils/core_angular_adapter.test.js
  test/javascript/utils/scorer_runtime.test.js
  test/javascript/utils/scoring.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Remove Angular Splainer and UI-Ace integrations
  app/assets/javascripts/app.js
  app/javascript/angular_app.js
  app/javascript/case_runtime.js
  app/javascript/splainer_search_adapter.js
  app/javascript/utils/core_angular_adapter.js
  app/javascript/utils/scorer_runtime.js
  app/javascript/utils/splainer_search_runtime.js
  app/javascript/vendor/README.md
  app/javascript/vendor/angular-ui-ace/LICENSE
  app/javascript/vendor/angular-ui-ace/package.json
  app/javascript/vendor/angular-ui-ace/src/ui-ace.js
  config/importmap.rb
  config/javascript_lint_scope.mjs
  docs/todo/angularjs_removal_inventory.md
  test/javascript/utils/splainer_search_runtime.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Remove obsolete Angular routing and CSRF seams
  app/assets/javascripts/app.js
  app/assets/javascripts/interceptors/rails-csrf.js
  app/assets/javascripts/routes.js
  app/javascript/core_stimulus.js
  app/javascript/utils/core_angular_adapter.js
  app/views/dropdown/cases_core.html.erb
  build_angular_app.js
  docs/app_structure.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  test/controllers/dropdown_controller_test.rb
  test/javascript/utils/core_angular_adapter.test.js
Due: rubocop, eslint, prettier

Remove remaining Angular build and test infrastructure
  .circleci/config.yml
  AGENTS.md
  DEVELOPER_GUIDE.md
  Procfile.dev
  app/assets/javascripts/app.js
  app/assets/javascripts/directives/quepidTypeahead.js
  app/assets/javascripts/filters/typeaheadHighlight.js
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/templates/views/embed.html
  app/assets/templates/views/searchEndpoint_popup.html
  app/javascript/controllers/qscore_query_controller.js
  app/javascript/controllers/query_unrated_badge_controller.js
  app/javascript/core_vendor.js
  app/javascript/jquery_bundle.js
  app/javascript/quepid_dom.js
  app/javascript/quepid_search.js
  app/javascript/quepid_store.js
  app/javascript/vendor/README.md
  app/javascript/vendor/angular-sanitize/LICENSE.md
  app/javascript/vendor/angular-sanitize/angular-sanitize.js
  app/javascript/vendor/angular-sanitize/index.js
  app/javascript/vendor/angular-sanitize/package.json
  app/views/core/index.html.erb
  app/views/layouts/core.html.erb
  build_core_legacy.js
  build_templates.js
  config/initializers/assets.rb
  config/javascript_lint_scope.mjs
  docker-compose.override.yml.example
  docs/js_tooling.md
  docs/todo/angularjs_removal_inventory.md
  docs/todo/deangularization_execution_plan.md
  lib/tasks/karma.rake
  lib/tasks/quepid.rake
  package.json
  spec/javascripts/angular/directives/quepidTypeahead_spec.js
  spec/karma/config/unit.js
  spec/karma/mockBackend.js
  test/javascript/controllers/snapshot_bridge_controller.test.js
  yarn.lock
Due: rubocop, eslint, prettier

Inject live-query search and store dependencies
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/utils/live_query_runtime_initializer.js
  test/javascript/utils/live_query_runtime_initializer.test.js
Due: eslint, prettier

Centralize core store access and remove obsolete Angular test scaffolding
  app/javascript/controllers/annotations_controller.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/diff_case_scores_controller.js
  app/javascript/controllers/diff_score_controller.js
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/controllers/frog_report_controller.js
  app/javascript/controllers/judgements_core_controller.js
  app/javascript/controllers/qgraph_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/qscore_query_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_command_bridge_controller.js
  app/javascript/controllers/query_unrated_badge_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/stores/case_score_store.js
  app/javascript/utils/core_store_access.js
  app/javascript/vendor/README.md
  config/importmap.rb
  spec/javascripts/angular/controllers/.keep
  spec/javascripts/angular/directives/.keep
  spec/javascripts/angular/filters/.keep
  spec/javascripts/angular/services/.keep
  spec/javascripts/mock/caseSvc.js
  spec/javascripts/mock/docResolverSvc.js
  spec/javascripts/mock/mockHelpers.js
  spec/javascripts/mock/scorerSvc.js
  spec/javascripts/mock/settingsSvc.js
  spec/spec_helper.rb
  test/javascript/utils/core_store_access.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

use sample data
  app/models/mapper_based_search_engine.rb
  test/models/mapper_based_search_engine_test.rb
Due: rubocop

Centralize core store access and remove obsolete Angular test scaffolding
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/controllers/frog_report_controller.js
  app/javascript/controllers/missing_documents_controller.js
  app/javascript/controllers/qscore_case_controller.js
  app/javascript/controllers/queries_list_controller.js
  app/javascript/controllers/query_command_bridge_controller.js
  app/javascript/controllers/query_lifecycle_controller.js
  app/javascript/controllers/search_result_controller.js
  app/javascript/controllers/search_results_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/controllers/wizard_controller.js
  app/javascript/utils/core_capability_access.js
  config/importmap.rb
  test/javascript/utils/core_capability_access.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

one hardening of the test
  test/models/mapper_based_search_engine_test.rb
Due: rubocop

Refactor live-query runtime ownership
  app/javascript/controllers/core_bootstrap_controller.js
  app/javascript/quepid_search.js
  app/javascript/utils/core_capabilities_runtime.js
  app/javascript/utils/live_query_adapters.js
  app/javascript/utils/live_query_runtime_owner.js
  config/importmap.rb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  test/javascript/utils/core_capabilities_runtime.test.js
  test/javascript/utils/live_query_adapters.test.js
  test/javascript/utils/live_query_runtime_owner.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

refactor(core): remove live-query compatibility seams
  app/javascript/controllers/qscore_query_controller.js
  app/javascript/controllers/query_unrated_badge_controller.js
  app/javascript/controllers/snapshot_bridge_controller.js
  app/javascript/stores/diff_state_store.js
  app/javascript/stores/query_collection_store.js
  app/javascript/stores/query_documents_store.js
  app/javascript/utils/diff_results.js
  app/javascript/utils/live_query_collection.js
  app/javascript/utils/live_query_lifecycle.js
  app/javascript/utils/live_query_registry.js
  app/javascript/utils/live_query_runtime_owner.js
  app/javascript/utils/live_query_state.js
  app/javascript/utils/query_documents.js
  app/javascript/utils/query_lifecycle.js
  app/javascript/utils/query_scoring.js
  app/javascript/utils/query_service.js
  app/javascript/utils/query_state.js
  app/javascript/utils/snapshot_searcher.js
  docs/manual-testing/04-core-workbench-queries-and-scoring.md
  docs/manual-testing/05-core-workbench-history-snapshots-and-annotations.md
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  test/javascript/utils/live_query_collection.test.js
  test/javascript/utils/live_query_lifecycle.test.js
  test/javascript/utils/live_query_registry.test.js
  test/javascript/utils/live_query_state.test.js
Due: eslint, prettier

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
