Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

Prepend BS5 dist CSS to core.css before BS3; extend CSS audit inputs
  audit_css.js
  build_css.js
Due: prettier

Removing BS3 classes
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/templates/views/customHeaders.html
  app/assets/templates/views/wizardModal.html
Due: none

more removal of bs3
  app/assets/javascripts/components/annotation/annotation.html
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/share_case/_modal.html
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/templates/views/common/flash.html
  app/assets/templates/views/common/search_flash.html
  app/assets/templates/views/detailedDoc.html
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/pick_scorer.html
  app/assets/templates/views/queries.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/searchResults.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/wizardModal.html
Due: none

Align Angular core markup with Bootstrap 5 utilities
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/new_case/new_case.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/queries.html
  app/assets/templates/views/wizardModal.html
  app/views/layouts/_header_core_app.html.erb
Due: none

Drop BS3 help-block from Angular form hints; shim form-text display
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/templates/views/customHeaders.html
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/wizardModal.html
Due: none

Replace Bootstrap 3 form-group with BS5 spacing and label classes
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/annotations/annotations.html
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/diff/_modal.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/templates/views/customHeaders.html
  app/assets/templates/views/queries.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/searchResults.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/wizardModal.html
  app/views/admin/users/_form.html.erb
  app/views/admin/users/show.html.erb
Due: none

feat(core-ui): outline secondary buttons without btn-default
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/debug_matches/debug_matches.html
  app/assets/javascripts/components/delete_case/_modal.html
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/diff/_modal.html
  app/assets/javascripts/components/expand_content/expand_content.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/frog_report/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/move_query/_modal.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/query_explain/query_explain.html
  app/assets/javascripts/components/query_options/_modal.html
  app/assets/javascripts/components/query_options/query_options.html
  app/assets/javascripts/components/share_case/_modal.html
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/templates/views/detailedDoc.html
  app/assets/templates/views/pick_scorer.html
  app/assets/templates/views/queriesLayout.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/ratings/popover.html
  app/assets/templates/views/searchResults.html
  app/assets/templates/views/snapshotModal.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/unarchiveCaseModal.html
  app/assets/templates/views/wizardModal.html
  app/views/layouts/_header_core_app.html.erb
Due: none

Core UI: BS5 form-check layout, modal close markup, trim bootstrap3-add
  app/assets/javascripts/components/add_query/add_query.html
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/delete_case/_modal.html
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/diff/_modal.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/frog_report/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/move_query/_modal.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/query_options/_modal.html
  app/assets/javascripts/components/share_case/_modal.html
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/misc.css
  app/assets/templates/views/common/search_flash.html
  app/assets/templates/views/pick_scorer.html
  app/assets/templates/views/snapshotModal.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/unarchiveCaseModal.html
  app/assets/templates/views/wizardModal.html
Due: none

feat(core): BS5-aligned ng-tags-input theme and trim Bootstrap 3 bundle
  app/assets/stylesheets/bootstrap3.css
  app/assets/stylesheets/ng-tags-input-theme.css
  app/javascript/vendor/README.md
  app/javascript/vendor/ng-tags-input/build/ng-tags-input.bootstrap.min.css
  app/views/layouts/core.html.erb
  build_css.js
Due: prettier

Replace .hidden with d-none and trim btn focus overrides
  app/assets/javascripts/components/add_query/add_query.html
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/templates/views/searchResults.html
Due: none

Extract non-BS3 code into core-additions.css
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/core.css
  audit_css.js
  build_css.js
  config/initializers/customize_quepid.rb
  test/playwright/angular_pages_narrow_viewport.spec.ts
Due: rubocop, prettier

refactor to work with ruby llm
  Gemfile.lock
  app/controllers/ai_judges_controller.rb
  app/services/llm_service.rb
  app/services/mapper_wizard_service.rb
  app/views/ai_judges/_form.html.erb
  db/migrate/20260513120000_reshape_judge_options_urls_for_ruby_llm.rb
  db/schema.rb
  lib/tasks/sample_data.thor
  openspec/specs/azure-llm-providers/spec.md
  test/services/llm_service_test.rb
  test/support/webmock.rb
Due: rubocop

little more room to breather for the key
  app/views/ai_judges/_form.html.erb
Due: none

show if the model has vision support
  app/controllers/ai_judges/prompts_controller.rb
  app/helpers/application_helper.rb
Due: rubocop

handle thumb and image by just looking if it looks like an image
  app/services/llm_service.rb
Due: rubocop

smoother flow
  app/views/ai_judges/_form.html.erb
Due: none

show the vision value
  app/views/ai_judges/prompts/_form.html.erb
Due: none

add more tests
  test/services/llm_service_test.rb
  test/support/openai_stubs.rb
Due: rubocop

rename
  lib/tasks/sample_data.thor
Due: none

feat(core): fix BS5 dropdown appearance under BS3 CSS cascade
  app/assets/javascripts/components/annotation/annotation.html
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/stackedChart.css
Due: none

feat(core): use nav-link classes and flex layout in core app header
  app/assets/stylesheets/bootstrap3-add.css
  app/views/layouts/_header_core_app.html.erb
Due: none

feat(core): move dev-settings skin to core-additions; tooltip min-width in BS5 compat
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
Due: none

feat(core): use BS5 flash `.show`, flex form layout, and `btn-sm` instead of `btn-xs`
  app/assets/javascripts/components/diff/_modal.html
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/templates/views/common/flash.html
  app/assets/templates/views/common/search_flash.html
  app/assets/templates/views/queriesLayout.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/ratings/popover.html
  app/assets/templates/views/wizardModal.html
  app/views/scorers/index.html.erb
Due: none

bug fix for when new is called!
  app/views/ai_judges/_form.html.erb
Due: none

feat(core): remove redundant clearfix from wizard modal and queries layout
  app/assets/templates/views/queriesLayout.html
  app/assets/templates/views/wizardModal.html
Due: none

validate llm models against rubyllm
  app/models/user.rb
  test/models/user_test.rb
Due: rubocop

refactor shared logic between wizard and llm judge
  app/services/llm_context_builder.rb
  app/services/llm_service.rb
  app/services/mapper_wizard_service.rb
  test/services/mapper_wizard_service_test.rb
Due: rubocop

handle updated and edit, be more specific in what we return
  app/controllers/ai_judges/prompts_controller.rb
  app/services/mapper_wizard_service.rb
Due: rubocop

Removing BS3 clearfixes and some manually added AngularJS classes that should only be added dynamically
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/annotations/annotations.html
  app/assets/templates/views/_dev_settings.html
  app/assets/templates/views/customHeaders.html
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/searchResults.html
Due: none

feat(core): add BS5 list-inline-item to queries and case actions
  app/assets/templates/views/queries.html
  app/assets/templates/views/queriesLayout.html
Due: none

feat(core): rem pin, dev panel tabs in BS5 compat, dropdown-item in core header
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/views/layouts/_header_core_app.html.erb
Due: none

feat(core): drop BS3 from core bundle; BS5 collapse/tooltips and navbar compat
  app/assets/javascripts/directives/quepidCollapse.js
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/javascripts/directives/quepidTooltip.js
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  build_css.js
Due: eslint, prettier

remove bootstrap 3
  DEVELOPER_GUIDE.md
  app/assets/stylesheets/bootstrap3.css
  app/assets/stylesheets/core.css
  audit_css.js
Due: none

feat(core): wizard modal sizing, CSS split (compat vs additions), add-query layout
  app/assets/javascripts/components/add_query/add_query.html
  app/assets/javascripts/components/new_case/new_case_controller.js
  app/assets/javascripts/controllers/wizardCtrl.js
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/queries.html
Due: eslint

feat(core): align judgements hidden submit and form labels with BS5 (d-none, drop control-label)
  app/assets/stylesheets/judgements.css
  app/assets/templates/views/customHeaders.html
  app/assets/templates/views/wizardModal.html
  app/views/judgements/_form.html.erb
Due: none

feat(core): flexbox query params dev UI; remove .row margin override and clearfix
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/devQueryParams.html
Due: none

feat(ui): BS5 flex layouts, bulk judge CSS in judgements.css, form markup tweaks
  app/assets/stylesheets/application.css
  app/assets/stylesheets/judgements.css
  app/assets/templates/views/queries.html
  app/javascript/controllers/bulk_judgement_controller.js
  app/views/admin/users/_form.html.erb
  app/views/bulk_judge/new.html.erb
  app/views/scorers/_form.html.erb
  app/views/scorers/index.html.erb
Due: eslint, prettier

refactor(core): drop CORE_LAYOUT_BS5 env and Angular boot wiring
  .env.example
  app/assets/javascripts/services/configurationSvc.js
  app/views/layouts/core.html.erb
  config/initializers/customize_quepid.rb
  docker-compose.prod.yml
Due: rubocop, eslint

refactor(core): move case UI rules from bootstrap3-add to bootstrap5-compat
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/bootstrap5-compat.css
Due: none

refactor(core): navbar-only bootstrap3-add; full-bleed .container in compat
  CLAUDE.md
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  build_css.js
Due: prettier

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
