Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Combine AI judge creation with prompt testing into one wizard
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/ai_judges/wizard_controller.rb
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/ai_judge_wizard_controller.js
  app/javascript/controllers/ai_judge_wizard_controller.test.js
  app/javascript/controllers/prompt_form_controller.js
  app/views/ai_judges/_form.html.erb
  app/views/ai_judges/prompts/_form.html.erb
  app/views/ai_judges/prompts/edit.html.erb
  app/views/books/judgement_stats.html.erb
  config/routes.rb
  test/controllers/ai_judges/prompt_controller_test.rb
  test/controllers/ai_judges/wizard_controller_test.rb
Due: rubocop, eslint, prettier

Strip boilerplate before truncating HTML sent to the mapper-generation LLM
  app/controllers/mapper_wizards_controller.rb
  app/javascript/controllers/mapper_wizard_controller.js
  app/services/mapper_wizard_service.rb
  test/services/mapper_wizard_service_test.rb
Due: rubocop, eslint, prettier

Fix dead updateModalTitle handler in judge documents modal
  app/javascript/controllers/judge_documents_modal_controller.js
  app/views/books/_unleash_modal.html.erb
  app/views/books/show.html.erb
  docs/manual-testing/tracking.yml
Due: eslint, prettier

Harden case-404 guards, dedupe error-message ids
  app/controllers/analytics/cases/duplicate_scores_controller.rb
  app/controllers/analytics/tries_visualization_controller.rb
  app/controllers/concerns/authentication/current_case_manager.rb
  app/controllers/scores_controller.rb
  app/views/admin/users/_form.html.erb
  app/views/books/import/edit.html.erb
  app/views/profiles/show.html.erb
  app/views/shared/_error_messages.html.erb
  test/controllers/analytics/cases/duplicate_scores_test.rb
  test/controllers/analytics/tries_visualization_test.rb
  test/controllers/scores_controller_test.rb
Due: rubocop

Harden LLM judgement scoring against out-of-scale and non-numeric ratings
  app/controllers/ai_judges/prompts_controller.rb
  app/jobs/run_judge_judy_job.rb
  app/services/llm_service.rb
  test/jobs/run_judge_judy_job_test.rb
  test/services/llm_service_test.rb
Due: rubocop

Add PATCH books/import to append data to an existing book, harden BookImporter against mass-assignment
  app/controllers/books/import_controller.rb
  app/services/book_importer.rb
  app/views/books/import/edit.html.erb
  config/routes.rb
  test/controllers/books/import_controller_test.rb
  test/services/book_importer_test.rb
Due: rubocop

Fix @ai_judges being nil when books#create re-renders new on a validation failure
  app/controllers/books_controller.rb
Due: rubocop

Add test coverage for AI-judge book-scale prompt and ApiKey; fix a typo and a manual-raise-vs-validation smell
  app/controllers/admin/websocket_tester_controller.rb
  app/models/api_key.rb
  test/controllers/ai_judges/prompt_controller_test.rb
  test/controllers/books_controller_test.rb
  test/models/api_key_test.rb
Due: rubocop

Ignore *.test.js in ESLint's full-tree scope; strengthen a websocket-admin-guard test assertion
  config/javascript_lint_scope.mjs
  test/controllers/admin/websocket_tester_controller_test.rb
Due: rubocop, eslint

Document why _kraken_unleashed's inline script re-runs reliably
  app/views/books/_kraken_unleashed.html.erb
Due: none

Fix profile page showing one form's validation errors under all three sections
  app/controllers/accounts_controller.rb
  app/controllers/profiles_controller.rb
  app/views/profiles/show.html.erb
  test/controllers/accounts_controller_test.rb
  test/controllers/profiles_controller_test.rb
Due: rubocop

Fix books index search erroring when matching by team name
  app/controllers/books_controller.rb
Due: rubocop

extra hash snuck in!
  app/controllers/cases_controller.rb
  app/controllers/teams_controller.rb
  app/jobs/populate_book_job.rb
Due: rubocop

make hero "create team" only show up on no teams
  app/javascript/controllers/share_case_core_controller.js
  test/javascript/controllers/share_case_core_controller.test.js
Due: eslint, prettier

back out this port change for now.
  app/views/ai_judges/_form.html.erb
Due: none

Add OAS documentation smoke test
  app/controllers/api/v1/tries_controller.rb
  test/integration/oas_docs_test.rb
Due: rubocop

Clarify missing try navigation error
  app/assets/javascripts/controllers/mainCtrl.js
Due: eslint

update tests for the refactor...
  app/controllers/books/import_controller.rb
  test/controllers/scorers_controller_test.rb
Due: rubocop

Refine User versus AIJudge boundaries.
  app/models/ai_judge.rb
  app/models/user.rb
  db/migrate/20260915163412_backfill_ai_judge_owners.rb
  lib/tasks/sample_data.thor
  test/models/ai_judge_test.rb
  test/models/user_llm_key_encryption_test.rb
  test/models/user_test.rb
Due: rubocop

Keep mapper AI option available for manual flow
  app/javascript/controllers/mapper_wizard_controller.js
  test/javascript/controllers/mapper_wizard_controller.test.js
Due: eslint, prettier

Polish book and judgement workflows
  app/assets/javascripts/components/judgements/_modal.html
  app/controllers/ai_judges_controller.rb
  app/controllers/books_controller.rb
  app/javascript/controllers/case_book_synchronization_controller.js
  app/views/ai_judges/_form.html.erb
  app/views/books/_form.html.erb
  app/views/books/judgement_stats.html.erb
  app/views/books/show.html.erb
  app/views/judgements/new.html.erb
  app/views/mapper_wizards/show.html.erb
  test/controllers/ai_judges_controller_test.rb
  test/controllers/books_controller_test.rb
  test/javascript/controllers/case_book_synchronization_controller.test.js
Due: rubocop, eslint, prettier

Add manual testing tracker; migrate sidebar tooltips to Stimulus; backfill test coverage
  app/javascript/controllers/import_snapshot_controller.test.js
  app/views/admin/users/edit.html.erb
  app/views/ai_judges/_form.html.erb
Due: eslint, prettier

Extract shared page-header/account-dropdown partials and a ShareEntityControllerBase
  app/javascript/controllers/share_book_controller.test.js
  app/javascript/controllers/share_scorer_controller.test.js
  app/javascript/controllers/share_search_endpoint_controller.test.js
Due: eslint, prettier

Add Stryker mutation testing for migration JS utils, harden bs_popover/text_paste
  app/javascript/controllers/share_book_controller.test.js
  app/javascript/controllers/share_scorer_controller.test.js
  app/javascript/controllers/share_search_endpoint_controller.test.js
Due: eslint, prettier

Extract utils/bs_modal.js, migrate confirm-delete/document-fields/share-case-core to it
  app/javascript/utils/bs_modal.test.js
Due: eslint, prettier

Extract shared modal_shell/osc_copyright partials and status_message util
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/utils/status_message.test.js
Due: eslint, prettier

Migrate delete-case-options modal to Stimulus, add generic bs-popover/tooltip controllers
  app/javascript/controllers/bs_popover_controller.test.js
  app/javascript/controllers/confirm_delete_controller.test.js
  app/javascript/controllers/delete_case_options_core_controller.test.js
  app/javascript/utils/destructive_form.test.js
Due: eslint, prettier

Wire delete-case-options-core into the case toolbar, remove Angular component
  app/javascript/controllers/bs_popover_controller.test.js
  app/javascript/controllers/confirm_delete_controller.test.js
  app/javascript/controllers/delete_case_options_core_controller.test.js
  app/javascript/utils/destructive_form.test.js
Due: eslint, prettier

Migrate clone-case modal to Stimulus, remove Angular component
  app/javascript/controllers/clone_case_core_controller.test.js
Due: eslint, prettier

Send snapshot imports sequentially to avoid a find-or-create deadlock
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/import_snapshot_controller.test.js
Due: eslint, prettier

Update Angular-removal inventory and manual-testing guidance
  CLAUDE.md
Due: none

Move Vitest specs to test/javascript/, not colocated with source
  DEVELOPER_GUIDE.md
  app/javascript/controllers/clone_case_core_controller.test.js
  app/javascript/controllers/import_snapshot_controller.test.js
  app/javascript/utils/bs_modal.test.js
  app/javascript/utils/status_message.test.js
Due: eslint, prettier

Simplify share-case-core wiring; add E2E for delete/clone case options
  CLAUDE.md
  DEVELOPER_GUIDE.md
Due: none

Ignore *.test.js in ESLint's full-tree scope; strengthen a websocket-admin-guard test assertion
  config/javascript_lint_scope.mjs
Due: eslint

Migrate export case modal from AngularJS to Stimulus
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/export_case/export_case.html
  app/assets/javascripts/components/export_case/export_case_controller.js
  app/assets/javascripts/components/export_case/export_case_directive.js
  app/assets/javascripts/components/export_case/export_case_modal_instance_controller.js
  app/assets/javascripts/services/caseCSVSvc.js
  app/assets/templates/views/queriesLayout.html
  app/javascript/controllers/export_case_core_controller.js
  app/javascript/core_stimulus.js
  app/javascript/utils/case_csv.js
  app/javascript/utils/download_file.js
  app/views/layouts/core.html.erb
  app/views/shared/_export_case_core_modal.html.erb
  config/importmap.rb
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  spec/javascripts/angular/services/caseCSVSvc_spec.js
  test/javascript/controllers/export_case_core_controller.test.js
  test/javascript/utils/case_csv.test.js
  test/javascript/utils/download_file.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Fix unresolved merge-conflict markers left in CLAUDE.md
  CLAUDE.md
Due: none
