Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

draft changelog
  CHANGELOG.md
Due: none

Update Angular-removal inventory and manual-testing guidance
  CLAUDE.md
  DEVELOPER_GUIDE.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/todo.md
Due: none

Add branch-ui-diff tooling for before/after UI screenshots
  .claude/skills/branch-ui-diff/SKILL.md
  bin/branch_ui_scenarios
  bin/ui_diff_db_restore
  bin/ui_diff_db_snapshot
  bin/ui_diff_down
  bin/ui_diff_up
Due: none

Update Playwright baselines for BS5 navbar/spacing changes
  test/playwright/angular_case_helpers.ts
  test/playwright/angular_pages_narrow_viewport.spec.ts
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-01-wizard-endpoint-accordion.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-02-case-loaded.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-03-relevancy-dropdown.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-04-share-case-modal.png
  test/playwright/dom_migration_screenshots.spec.ts
  test/playwright/snapshots_and_annotations.spec.ts
Due: none

Compare last_run at UTC timestamp precision, not just date
  bin/manual_test_status
Due: none

First user gets Admin perms, and a custom message. Add a left nav
  CHANGELOG.md
  app/controllers/admin/websocket_tester_controller.rb
  app/controllers/home_controller.rb
  app/models/user.rb
  app/views/admin/home/index.html.erb
  app/views/home/show.html.erb
  app/views/layouts/_admin_sidebar.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/layouts/admin.html.erb
  test/controllers/admin/websocket_tester_controller_test.rb
  test/models/user_test.rb
Due: rubocop

standardize headers
  app/views/admin/announcements/index.html.erb
  app/views/admin/home/index.html.erb
  app/views/admin/websocket_tester/index.html.erb
Due: none

nicer name!
  docker-compose.yml
Due: none

i suppose
  app/views/layouts/blazer/application.html.erb
Due: none

Revamp how we support algolia in Quepid.
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/query_explain/query_explain_modal_instance_controller.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/services/searchErrorTranslatorSvc.js
  spec/javascripts/angular/services/searchErrorTranslatorSvc_spec.js
Due: eslint, prettier

fix up the debug/explain/matches popups
  app/assets/javascripts/components/debug_matches/debug_matches.html
  app/assets/javascripts/components/matches/matches.html
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/stackedChart.html
Due: eslint

Make search boxes case-insensitive
  app/controllers/admin/announcements_controller.rb
  app/controllers/books_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/controllers/cases_controller.rb
  app/controllers/judgements_controller.rb
  app/controllers/query_doc_pairs_controller.rb
  app/controllers/ratings_controller.rb
  app/controllers/scorers_controller.rb
  app/controllers/search_endpoints_controller.rb
  app/controllers/teams_controller.rb
  test/controllers/teams_controller_test.rb
Due: rubocop

Fix slow book Overview page for books with many query/doc pairs
  app/models/selection_strategy.rb
  app/views/judgements/_moar_judgements_needed.html.erb
Due: rubocop

Add judgement rating distribution chart to Judgement Stats page
  app/controllers/books_controller.rb
  app/views/books/judgement_stats.html.erb
  test/controllers/books_controller_test.rb
Due: rubocop

Switch judgement distribution chart from bar to line
  app/views/books/judgement_stats.html.erb
Due: none

Ensure every sample-data case has at least one query
  lib/tasks/sample_data.thor
Due: none

Add controller tests for the Book Overview page
  test/controllers/books_controller_test.rb
Due: rubocop

Add Qdrant as a mapper-based search engine
  app/models/mapper_based_search_engine.rb
  db/mapper_based_search_engines/qdrant.js
  public/images/qdrant-icon.png
  public/images/qdrant.png
  test/controllers/api/v1/mapper_based_search_engines_controller_test.rb
  test/lib/qdrant_mapper_test.rb
  test/models/mapper_based_search_engine_test.rb
Due: rubocop, eslint

Document how to set up a Qdrant collection for Quepid
  docs/endpoints_qdrant.md
Due: none

correctly handle complicated commands like bin/docker r bundle exec thor user:create -a admin@example.com "Admin User" supersecret
  bin/docker
Due: none

Address DeepSource findings on the Qdrant mapper
  db/mapper_based_search_engines/qdrant.js
Due: eslint

Ensure every sample-data case has at least one query (#1788)
  lib/tasks/sample_data.thor
Due: none

Fix slow Book Overview page for large books (#1786)
  app/models/selection_strategy.rb
  app/views/judgements/_moar_judgements_needed.html.erb
  test/controllers/books_controller_test.rb
Due: rubocop

Make search boxes case-insensitive (#1784)
  app/controllers/admin/announcements_controller.rb
  app/controllers/books_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/controllers/cases_controller.rb
  app/controllers/judgements_controller.rb
  app/controllers/query_doc_pairs_controller.rb
  app/controllers/ratings_controller.rb
  app/controllers/scorers_controller.rb
  app/controllers/search_endpoints_controller.rb
  app/controllers/teams_controller.rb
  test/controllers/teams_controller_test.rb
Due: rubocop

Better admin layout (#1782)
  CHANGELOG.md
  app/controllers/admin/websocket_tester_controller.rb
  app/controllers/home_controller.rb
  app/models/user.rb
  app/views/admin/announcements/index.html.erb
  app/views/admin/home/index.html.erb
  app/views/admin/websocket_tester/index.html.erb
  app/views/home/show.html.erb
  app/views/layouts/_admin_sidebar.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/layouts/admin.html.erb
  app/views/layouts/blazer/application.html.erb
  docker-compose.yml
  test/controllers/admin/websocket_tester_controller_test.rb
  test/models/user_test.rb
Due: rubocop

now using updated splaier-search
  package.json
  yarn.lock
Due: none

I think this is bgetting there...
  Dockerfile.prod
  config/database.yml.sample
Due: none

Revamp Algolia support in Quepid (#1785)
  app/assets/javascripts/components/debug_matches/debug_matches.html
  app/assets/javascripts/components/matches/matches.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/query_explain/query_explain_modal_instance_controller.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/searchErrorTranslatorSvc.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/stackedChart.html
  package.json
  spec/javascripts/angular/services/searchErrorTranslatorSvc_spec.js
  yarn.lock
Due: eslint, prettier

lint
  test/controllers/books_controller_test.rb
Due: rubocop

no legagcy to support
  Dockerfile.prod
Due: none

fix bugs in createing a book
  app/controllers/books_controller.rb
  app/views/books/_form.html.erb
Due: rubocop

better show how many judgements are needed...
  app/views/books/judgement_stats.html.erb
Due: none

Add judgement rating distribution chart to Judgement Stats (#1787)
  app/controllers/books_controller.rb
  app/views/books/_form.html.erb
  app/views/books/judgement_stats.html.erb
  test/controllers/books_controller_test.rb
Due: rubocop

Add persona-based Book Overview with live judge activity, cancellation, and per-judge stats
  app/assets/stylesheets/judgements.css
  app/controllers/books_controller.rb
  app/controllers/judgements_controller.rb
  app/helpers/application_helper.rb
  app/jobs/broadcast_judge_activity_job.rb
  app/jobs/run_judge_judy_job.rb
  app/models/book.rb
  app/models/selection_strategy.rb
  app/views/books/_judge_activity_row.html.erb
  app/views/books/_judging_activity_complete.html.erb
  app/views/books/_judging_activity_detail.html.erb
  app/views/books/_judging_modal.html.erb
  app/views/books/_tabs.html.erb
  app/views/books/_update_kraken_mode.turbo_stream.erb
  app/views/books/judge_overview.html.erb
  app/views/books/show.html.erb
  config/routes.rb
  test/controllers/books_controller_test.rb
  test/helpers/application_helper_test.rb
  test/jobs/broadcast_judge_activity_job_test.rb
  test/jobs/run_judge_judy_job_test.rb
Due: rubocop

Auto-dismiss transient flash notices after a few seconds
  app/helpers/application_helper.rb
  app/javascript/controllers/auto_dismiss_controller.js
  app/javascript/controllers/auto_dismiss_controller.test.js
Due: rubocop, eslint, prettier

Add AI judge auto-run and book-level rank depth setting
  app/controllers/books_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/jobs/broadcast_judge_activity_job.rb
  app/jobs/run_judge_judy_job.rb
  app/models/book.rb
  app/models/books_ai_judge.rb
  app/models/query_doc_pair.rb
  app/models/selection_strategy.rb
  app/views/books/_form.html.erb
  app/views/books/_judge_activity_row.html.erb
  app/views/books/show.html.erb
  db/migrate/20260914010000_add_rank_depth_to_books.rb
  db/migrate/20260914010100_add_auto_run_to_books_ai_judges.rb
  db/schema.rb
  test/controllers/books_controller_test.rb
  test/controllers/bulk_judge_controller_test.rb
  test/fixtures/books.yml
  test/models/book_test.rb
  test/models/query_doc_pair_test.rb
  test/models/selection_strategy_test.rb
Due: rubocop

Sync case ratings per judgement in RunJudgeJudyJob instead of one bulk pass
  app/jobs/run_judge_judy_job.rb
  test/jobs/run_judge_judy_job_test.rb
Due: rubocop

Simplify AI-judge auto-run code: dedup, remove dead state, reuse rank-depth filter
  app/controllers/books_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/jobs/broadcast_judge_activity_job.rb
  app/jobs/run_judge_judy_job.rb
  app/models/book.rb
  app/models/books_ai_judge.rb
  app/models/query_doc_pair.rb
  app/views/books/_form.html.erb
  test/controllers/books_controller_test.rb
Due: rubocop

Scope the live judging modal's progress bar by rank_depth
  app/views/books/_judging_activity_detail.html.erb
Due: none
