Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

wow, this sql lite stuff gets werid.
  test/lib/adapter_functions_test.rb
Due: rubocop

Copilot digs into it!
  app/controllers/api/v1/cases_controller.rb
  app/controllers/concerns/authentication/current_book_manager.rb
Due: rubocop

Order explicitly where the database was deciding for us (#1771)
  app/controllers/api/v1/cases_controller.rb
  app/controllers/concerns/authentication/current_book_manager.rb
  app/controllers/concerns/authentication/current_case_manager.rb
  app/controllers/home_controller.rb
  app/models/case.rb
  test/models/case_test.rb
Due: rubocop

Only regenerate model annotations when running against MySQL (#1769)
  lib/tasks/annotate_rb.rake
Due: none

fix dropping old database
  bin/setup_docker
Due: none

apply copilot suggested fixes
  app/controllers/cases_controller.rb
  app/models/book.rb
  app/views/books/edit.html.erb
Due: rubocop

Deduplicate by id instead of SELECT DISTINCT in three more queries (#1770)
  app/controllers/cases_controller.rb
  app/models/book.rb
  app/views/books/edit.html.erb
  test/models/book_test.rb
Due: rubocop

Dispatch SQL function names per adapter instead of MySQL-or-not (#1773)
  app/controllers/ai_judges/prompts_controller.rb
  app/models/score.rb
  app/models/selection_strategy.rb
  lib/adapter_functions.rb
  test/lib/adapter_functions_test.rb
Due: rubocop

Optimize our queries.
  app/controllers/cases_controller.rb
  app/models/book.rb
  app/models/concerns/for_user_scope.rb
Due: rubocop

Optimize our queries. (#1776)
  app/controllers/cases_controller.rb
  app/models/book.rb
  app/models/concerns/for_user_scope.rb
Due: rubocop

nicer error message
  test/models/search_endpoint_test.rb
Due: rubocop

Pick the oldest match when a search endpoint lookup is ambiguous (#1772)
  app/models/search_endpoint.rb
  test/models/search_endpoint_test.rb
Due: rubocop

Refactor where we embed the links to be in settingsSvc.
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/wizardModal.html
  spec/javascripts/angular/controllers/queryParams_spec.js
Due: eslint, prettier

Add PostgreSQL as a supported database adapter
  .env.example
  .github/workflows/test.yml
  DEVELOPER_GUIDE.md
  Gemfile
  Gemfile.lock
  bin/setup_docker
  config/application.rb
  config/database.yml.sample
  config/initializers/postgresql_schema_compatibility.rb
  docker-compose.yml
Due: rubocop

swap intelleigently between GET and POST.
  app/assets/javascripts/services/queriesSvc.js
  app/models/mapper_based_search_engine.rb
  app/models/search_endpoint.rb
  app/models/try.rb
  app/services/fetch_service.rb
  app/views/api/v1/tries/_try.json.jbuilder
  app/views/search_endpoints/_form.html.erb
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/controllers/api/v1/mapper_based_search_engines_controller_test.rb
  test/models/mapper_based_search_engine_test.rb
  test/models/try_test.rb
  test/services/fetch_service_test.rb
Due: rubocop, eslint, prettier

Address database adapter review comments
  DEVELOPER_GUIDE.md
  bin/setup_docker
  docker-compose.yml
Due: none

so many fixes, and now we support Solr Query DSL as well.
  app/assets/javascripts/controllers/docFinder.js
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/devQueryParams.html
  app/models/mapper_based_search_engine.rb
  app/models/try.rb
  app/views/api/v1/tries/_try.json.jbuilder
  lib/json_arg_parser.rb
  lib/tasks/sample_data.thor
  spec/javascripts/angular/services/queriesSvc_spec.js
  test/controllers/api/v1/tries_controller_test.rb
  test/lib/json_arg_parser_test.rb
  test/models/try_test.rb
  test/services/fetch_service_test.rb
Due: rubocop, eslint, prettier

prune some commets
  app/assets/javascripts/services/queriesSvc.js
  lib/tasks/sample_data.thor
Due: eslint

align postgres with other services that get started.
  docker-compose.yml
Due: none

Some cleanups and refactoring.
  config/application.rb
  config/initializers/postgresql_schema_compatibility.rb
  lib/db_adapter_env.rb
Due: rubocop

fix zeitwerk loading
  config/application.rb
  config/initializers/postgresql_schema_compatibility.rb
  lib/db_adapter_env.rb
Due: rubocop

Add PostgreSQL as a supported database adapter (#1777)
  .env.example
  .github/workflows/test.yml
  DEVELOPER_GUIDE.md
  Gemfile
  Gemfile.lock
  bin/setup_docker
  config/application.rb
  config/database.yml.sample
  config/initializers/postgresql_schema_compatibility.rb
  docker-compose.yml
  lib/db_adapter_env.rb
Due: rubocop

Persist PostgreSQL data in ./volumes/postgres/data
  DEVELOPER_GUIDE.md
  docker-compose.yml
  docs/running_with_postgresql.md
Due: none

Make the sample data seeder re-runnable
  lib/tasks/sample_data.thor
Due: none

Persist PostgreSQL data in ./volumes/postgres/data (#1778)
  DEVELOPER_GUIDE.md
  docker-compose.yml
  docs/running_with_postgresql.md
Due: none

Make the sample data seeder re-runnable (#1779)
  lib/tasks/sample_data.thor
Due: none

chore: Update search-only Algolia API key in settings
  app/assets/javascripts/services/settingsSvc.js
Due: eslint

Remove redundant/dead comments and reword historical-framing ones
  app/assets/javascripts/controllers/queryDiffResults.js
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/javascripts/factories/SettingsFactory.js
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/caseTryNavSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/querySnapshotSvc.js
  app/assets/javascripts/services/queryViewSvc.js
  app/assets/javascripts/services/snapshotSearcherSvc.js
  app/controllers/books_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/controllers/mapper_wizards_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/javascript/controllers/bulk_judgement_controller.js
  app/javascript/controllers/confirm_delete_controller.js
  app/javascript/modules/editor.js
  app/models/selection_strategy.rb
  app/models/user.rb
Due: rubocop, eslint, prettier

Hide Escape Queries checkbox for unsupported engines; fix its tooltip and layout
  app/assets/javascripts/controllers/queryParams.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/templates/views/devQueryParams.html
  spec/javascripts/angular/controllers/queryParams_spec.js
  spec/javascripts/angular/services/settingsSvc_spec.js
  test/controllers/api/v1/clone/cases_controller_test.rb
  test/controllers/api/v1/tries_controller_test.rb
Due: rubocop, eslint, prettier

fix ping it.
  app/assets/javascripts/controllers/wizardModal.js
Due: eslint

Use the specific mapper based search engine name
  app/assets/templates/views/wizardModal.html
Due: none

Wrap bare query text under bare_query_param in wizard validation
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/mapperBasedSearchEngineSvc.js
  app/models/try.rb
  app/views/api/v1/mapper_based_search_engines/index.json.jbuilder
Due: rubocop, eslint

Add PATCH books/import to append data to an existing book
  app/controllers/books/import_controller.rb
  app/services/book_importer.rb
  app/views/books/import/edit.html.erb
  config/routes.rb
  test/controllers/books/import_controller_test.rb
  test/services/book_importer_test.rb
Due: rubocop

Fix query_doc_pairs create/update to redirect to the pair, not the index
  app/controllers/query_doc_pairs_controller.rb
  test/controllers/query_doc_pairs_controller_test.rb
Due: rubocop

Redirect /users/sign_in to /login instead of 404ing
  config/routes.rb
  test/integration/legacy_route_redirects_test.rb
Due: rubocop

Send snapshot imports sequentially to avoid a find-or-create deadlock
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/import_snapshot_controller.test.js
Due: eslint, prettier

Fix frog report crash when a query has no currentScore yet
  app/assets/javascripts/components/frog_report/frog_report_modal_instance_controller.js
Due: eslint

Refactored out some levels of indirection in splainer-search, this catches us up.
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/services/queriesSvc.js
  app/javascript/splainer_search_adapter.js
  package.json
  spec/javascripts/angular/controllers/wizardModal_spec.js
  yarn.lock
Due: eslint, prettier

Add responsive navbar toggler and finish BS5 spacing utility cleanup
  app/assets/javascripts/components/add_query/add_query.html
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/expand_content/_modal.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/stylesheets/animation.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/judgements.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/signup.css
  app/assets/stylesheets/style.css
  app/assets/templates/views/embed.html
  app/assets/templates/views/queries.html
  app/views/layouts/_footer_core_app.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/layouts/admin.html.erb
  app/views/layouts/analytics.html.erb
  app/views/layouts/application.html.erb
  app/views/pages/cookies.html.erb
  app/views/profiles/show.html.erb
  app/views/sessions/new.html.erb
  app/views/users/invitations/edit.html.erb
  app/views/users/passwords/edit.html.erb
  app/views/users/passwords/new.html.erb
Due: none

Pass explicit locals to book/judgement view partials instead of ivars
  app/controllers/books_controller.rb
  app/views/admin/users/_form.html.erb
  app/views/admin/users/edit.html.erb
  app/views/admin/users/new.html.erb
  app/views/ai_judges/_form.html.erb
  app/views/ai_judges/edit.html.erb
  app/views/ai_judges/new.html.erb
  app/views/ai_judges/prompts/_form.html.erb
  app/views/ai_judges/prompts/edit.html.erb
  app/views/books/_form.html.erb
  app/views/books/_unleash_modal.html.erb
  app/views/books/edit.html.erb
  app/views/books/judgement_stats.html.erb
  app/views/books/new.html.erb
  app/views/books/show.html.erb
  app/views/judgements/_form.html.erb
  app/views/judgements/_moar_judgements_needed.html.erb
  app/views/judgements/edit.html.erb
  app/views/judgements/new.html.erb
  app/views/judgements/show.html.erb
  app/views/query_doc_pairs/_form.html.erb
  app/views/query_doc_pairs/edit.html.erb
  app/views/query_doc_pairs/new.html.erb
  app/views/search_endpoints/_form.html.erb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
