Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Add separate /new_ui route for Rails+Stimulus development
  app/controllers/core_controller.rb
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_row_controller.js
  app/views/core/_query_list_shell.html.erb
  app/views/core/index.html.erb
  app/views/core/new_ui.html.erb
  config/routes.rb
  test/javascript/controllers/query_row_controller.test.js
Due: rubocop, eslint, prettier

Add core_new_ui layout with matching CSS, capture new-ui screenshot
  app/controllers/core_controller.rb
  app/views/core/_query_list_shell.html.erb
  app/views/core/new_ui.html.erb
  app/views/layouts/core_new_ui.html.erb
  test/visual_parity/capture_screenshots.mjs
Due: rubocop, eslint

Fix Copilot review feedback: correct help text headers and add test assertion
  app/views/ai_judges/_form.html.erb
  test/services/llm_service_test.rb
Due: rubocop

Add action bar, score badge placeholders, fix code review issues
  app/controllers/core_controller.rb
  app/views/core/_action_bar.html.erb
  app/views/core/_case_header.html.erb
  app/views/core/_query_list_shell.html.erb
  app/views/core/new_ui.html.erb
Due: rubocop

Housekeeping: db migration artifacts and lefthook config
  app/models/case.rb
  db/schema.rb
  docs/migration/README.md
  lefthook.yml
  test/fixtures/cases.yml
  test/models/case_test.rb
Due: rubocop

Add search execution to new UI with Stimulus conventions
  CLAUDE.md
  app/assets/stylesheets/search_results.css
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/modules/api_url.js
  app/javascript/modules/query_template.js
  app/javascript/modules/search_executor.js
  app/views/core/_case_header.html.erb
  app/views/core/_query_list_shell.html.erb
  app/views/layouts/core_new_ui.html.erb
  build_css.js
  config/importmap.rb
  lefthook.yml
  package.json
  test/controllers/core_controller_test.rb
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/modules/api_url.test.js
  test/javascript/modules/query_template.test.js
  test/javascript/modules/search_executor.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Add document rating widget to new UI (P0-5)
  app/assets/stylesheets/search_results.css
  app/javascript/controllers/query_row_controller.js
  app/javascript/modules/ratings_store.js
  app/javascript/modules/scorer.js
  app/views/core/_query_list_shell.html.erb
  app/views/layouts/core_new_ui.html.erb
  config/importmap.rb
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/modules/ratings_store.test.js
  test/javascript/modules/scorer.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Add case score recalculation to new UI (P0-6)
  app/javascript/controllers/case_score_controller.js
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/modules/scorer_executor.js
  app/views/core/_case_header.html.erb
  app/views/core/_query_list_shell.html.erb
  app/views/layouts/core_new_ui.html.erb
  config/importmap.rb
  test/javascript/controllers/case_score_controller.test.js
  test/javascript/modules/scorer_executor.test.js
Due: rubocop, eslint, prettier

Add test infrastructure, ESLint/Prettier, and CI improvements
  .github/workflows/test.yml
  .prettierignore
  .prettierrc.json
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/modules/scorer_executor.js
  config/ci.rb
  eslint.config.mjs
  lib/tasks/quepid.rake
  package.json
  test/javascript/controllers/add_query_controller.test.js
  test/javascript/controllers/inline_edit_controller.test.js
  test/javascript/controllers/query_list_controller.test.js
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/controllers/resizable_pane_controller.test.js
  test/javascript/modules/scorer_executor.test.js
  test/javascript/support/stimulus_helpers.js
  test/javascript/support/stimulus_helpers.test.js
  vitest.config.js
  yarn.lock
Due: rubocop, eslint, prettier

Apply Prettier formatting to modern JS and test files
  .cursor/rules/quepid-project.mdc
  .github/workflows/test.yml
  app/javascript/admin_users.js
  app/javascript/analytics.js
  app/javascript/application_modern.js
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/application.js
  app/javascript/controllers/bulk_judgement_controller.js
  app/javascript/controllers/case_score_controller.js
  app/javascript/controllers/confetti_controller.js
  app/javascript/controllers/confirm_delete_controller.js
  app/javascript/controllers/document_fields_modal_controller.js
  app/javascript/controllers/import_case_controller.js
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/invite_controller.js
  app/javascript/controllers/prompt_form_controller.js
  app/javascript/controllers/resizable_pane_controller.js
  app/javascript/controllers/scoring_guidelines_controller.js
  app/javascript/controllers/share_book_controller.js
  app/javascript/controllers/share_case_controller.js
  app/javascript/controllers/share_scorer_controller.js
  app/javascript/controllers/share_search_endpoint_controller.js
  app/javascript/controllers/team_member_autocomplete_controller.js
  app/javascript/controllers/user_activity_controller.js
  app/javascript/jquery_bundle.js
  app/javascript/modules/editor.js
  app/javascript/modules/query_template.js
  app/javascript/modules/ratings_store.js
  app/javascript/modules/search_executor.js
  lib/tasks/quepid.rake
  test/javascript/controllers/case_score_controller.test.js
  test/javascript/modules/api_url.test.js
  test/javascript/modules/query_template.test.js
  test/javascript/modules/ratings_store.test.js
  test/javascript/modules/search_executor.test.js
Due: eslint, prettier

doc updates
  .cursor/rules/quepid-project.mdc
  CLAUDE.md
  DEVELOPER_GUIDE.md
  docs/app_structure.md
  docs/migration/README.md
  docs/migration/angular_services_responsibilities_mapping.md
  docs/migration/angularjs_elimination_plan.md
  docs/migration/angularjs_inventory.md
  docs/migration/angularjs_ui_inventory.md
  docs/migration/api_client.md
  docs/migration/code_review_findings.md
  docs/migration/core_case_evaluation_manual.md
  docs/migration/core_case_evaluation_manual_screenshots.md
  docs/migration/deangularjs_experimental_review.md
  docs/migration/intentional_design_changes.md
  docs/migration/markdown_files_inventory.md
  docs/migration/pragmatic_engineering_setup_review.md
  docs/migration/rails_stimulus_migration_alternative.md
  docs/migration/screenshot_automation.md
  docs/migration/turbo_frame_boundaries.md
  docs/migration/turbo_streams_guide.md
  docs/migration/ui_consistency_patterns.md
  docs/migration/workspace_api_usage.md
  docs/migration/workspace_behavior.md
  docs/migration/workspace_state_design.md
  docs/stimulus_and_modern_js_conventions.md
Due: none

Fix bugs, standards violations, and test gaps in new UI code
  app/assets/stylesheets/search_results.css
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/case_score_controller.js
  app/javascript/controllers/inline_edit_controller.js
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/controllers/resizable_pane_controller.js
  app/javascript/modules/query_template.js
  app/javascript/modules/ratings_store.js
  app/javascript/modules/scorer.js
  app/javascript/modules/search_executor.js
  app/views/core/_case_header.html.erb
  app/views/core/_query_list_shell.html.erb
  test/javascript/controllers/add_query_controller.test.js
  test/javascript/controllers/case_score_controller.test.js
  test/javascript/controllers/inline_edit_controller.test.js
  test/javascript/controllers/query_list_controller.test.js
  test/javascript/controllers/query_row_controller.test.js
  test/javascript/controllers/resizable_pane_controller.test.js
  test/javascript/modules/api_url.test.js
  test/javascript/modules/ratings_store.test.js
Due: eslint, prettier

Align modern JS with ESLint recommended rules and expand tests
  app/assets/stylesheets/stimulus_controllers.css
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/controllers/scorer_scale_controller.js
  build_css.js
  docs/stimulus_and_modern_js_conventions.md
  eslint.config.mjs
  test/controllers/core_controller_test.rb
  test/javascript/modules/search_executor.test.js
Due: rubocop, eslint, prettier

Fix bugs and bad practices in new UI controllers
  app/javascript/controllers/add_query_controller.js
  app/javascript/controllers/case_score_controller.js
  app/javascript/controllers/inline_edit_controller.js
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/modules/scorer_executor.js
  app/views/core/_query_list_shell.html.erb
  test/javascript/controllers/query_list_controller.test.js
Due: eslint, prettier

Add tune relevance east pane to new UI (P0-7)
  app/assets/stylesheets/stimulus_controllers.css
  app/javascript/controllers/resizable_pane_controller.js
  app/javascript/controllers/settings_panel_controller.js
  app/views/core/_action_bar.html.erb
  app/views/core/_settings_panel.html.erb
  app/views/core/new_ui.html.erb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/settings_panel_controller.test.js
Due: eslint, prettier

Fix east pane never becoming visible on new_ui route
  app/javascript/controllers/resizable_pane_controller.js
  docs/migration/angularjs_elimination_plan.md
Due: eslint, prettier

Add route comparison mode to visual parity tool
  docs/visual_parity.md
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/generate_report.mjs
  test/visual_parity/run_comparison.sh
Due: eslint

Sync migration plan and evaluation manual docs with codebase state
  docs/images/core_case_evaluation_manual/README.md
  docs/migration/angularjs_elimination_plan.md
  docs/migration/core_case_evaluation_manual.md
  docs/migration/core_case_evaluation_manual_screenshots.md
Due: none

Add snapshot creation to new UI (P0-8)
  app/javascript/controllers/snapshot_controller.js
  app/views/core/_action_bar.html.erb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/snapshot_controller.test.js
Due: eslint, prettier

Add clone case and export CSV to new UI (P0-S2, P0-S3)
  app/javascript/controllers/clone_case_controller.js
  app/javascript/controllers/export_case_controller.js
  app/views/core/_action_bar.html.erb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/clone_case_controller.test.js
  test/javascript/controllers/export_case_controller.test.js
Due: eslint, prettier

Fix review issues in clone and export controllers
  app/javascript/controllers/clone_case_controller.js
  app/javascript/controllers/export_case_controller.js
  test/javascript/controllers/clone_case_controller.test.js
  test/javascript/controllers/export_case_controller.test.js
Due: eslint, prettier

Add Phase 3 query list features: pagination, drag-and-drop, notes
  app/assets/stylesheets/search_results.css
  app/assets/templates/views/queriesLayout.html
  app/javascript/controllers/query_list_controller.js
  app/javascript/controllers/query_row_controller.js
  app/views/core/_query_list_shell.html.erb
  app/views/core/new_ui.html.erb
  app/views/layouts/core_new_ui.html.erb
  config/importmap.rb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/query_list_controller.test.js
  test/javascript/controllers/query_row_controller.test.js
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/run_comparison.sh
  vendor/javascript/sortablejs.js
  vitest.config.js
Due: rubocop, eslint, prettier

Fix case header layout and add BS5 utility classes to BS3 bundle
  app/assets/stylesheets/bootstrap3-add.css
  app/views/core/_case_header.html.erb
  app/views/core/_query_list_shell.html.erb
Due: none

Add Phase 4 search result parity features to new UI
  app/assets/stylesheets/search_results.css
  app/controllers/proxy_controller.rb
  app/javascript/controllers/doc_detail_modal_controller.js
  app/javascript/controllers/doc_finder_controller.js
  app/javascript/controllers/query_explain_modal_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/modules/explain_parser.js
  app/javascript/modules/field_renderer.js
  app/javascript/modules/ratings_store.js
  app/javascript/modules/search_executor.js
  app/views/core/_query_list_shell.html.erb
  config/importmap.rb
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/generate_report.mjs
Due: rubocop, eslint, prettier

Add Phase 5 tune relevance features to new UI
  app/assets/stylesheets/stimulus_controllers.css
  app/controllers/api/v1/annotations_controller.rb
  app/javascript/controllers/settings_panel_controller.js
  app/javascript/modules/editor.js
  app/views/api/v1/annotations/_annotation.json.jbuilder
  app/views/core/_settings_panel.html.erb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/settings_panel_controller.test.js
  test/visual_parity/capture_screenshots.mjs
Due: rubocop, eslint, prettier

Fix visual parity route comparison missing screenshots on both sides
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/run_comparison.sh
Due: eslint

Add Phase 7 snapshot comparison and diff display to new UI
  app/assets/stylesheets/bootstrap5-add.css
  app/javascript/controllers/case_score_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/controllers/snapshot_comparison_controller.js
  app/views/core/_action_bar.html.erb
  app/views/core/_case_header.html.erb
  build_css.js
  docs/migration/angularjs_elimination_plan.md
  test/support/webmock.rb
  test/visual_parity/capture_screenshots.mjs
Due: rubocop, eslint, prettier

Add bulk actions: delete case options modal, Run All button, modal z-index fix
  app/assets/stylesheets/bootstrap5-add.css
  app/javascript/controllers/delete_case_options_controller.js
  app/views/core/_action_bar.html.erb
  app/views/core/_action_bar_modals.html.erb
  app/views/core/_query_list_shell.html.erb
  app/views/core/new_ui.html.erb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/delete_case_options_controller.test.js
  test/visual_parity/capture_screenshots.mjs
Due: eslint, prettier

Add Phase 8 import ratings modal and judgements modal to new UI
  app/assets/stylesheets/base.css
  app/javascript/controllers/import_ratings_controller.js
  app/javascript/controllers/judgements_controller.js
  app/views/core/_action_bar.html.erb
  app/views/core/_action_bar_modals.html.erb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/import_ratings_controller.test.js
  test/javascript/controllers/judgements_controller.test.js
  test/visual_parity/capture_screenshots.mjs
  test/visual_parity/generate_report.mjs
Due: eslint, prettier

Add Phase 4 result row parity features to new UI
  app/assets/stylesheets/search_results.css
  app/javascript/controllers/query_row_controller.js
  app/javascript/modules/field_renderer.js
  app/javascript/modules/search_executor.js
  app/views/core/_query_list_shell.html.erb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/modules/search_executor.test.js
Due: eslint, prettier

Add Phase 9 ancillary features: flash messages, loading states, 404, tour
  app/assets/stylesheets/stimulus_controllers.css
  app/assets/stylesheets/tour_modern.css
  app/controllers/core_controller.rb
  app/javascript/controllers/flash_controller.js
  app/javascript/controllers/query_row_controller.js
  app/javascript/controllers/snapshot_controller.js
  app/javascript/controllers/tour_controller.js
  app/javascript/modules/flash_helper.js
  app/views/core/_action_bar.html.erb
  app/views/core/new_ui.html.erb
  app/views/core/not_found.html.erb
  app/views/layouts/core_new_ui.html.erb
  build_css.js
  config/importmap.rb
  docs/migration/angularjs_elimination_plan.md
  test/javascript/controllers/snapshot_controller.test.js
Due: rubocop, eslint, prettier
