Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

Redirect /users/sign_in to /login instead of 404ing
  config/routes.rb
  test/integration/legacy_route_redirects_test.rb
Due: rubocop

Send snapshot imports sequentially to avoid a find-or-create deadlock
  app/javascript/controllers/import_snapshot_controller.js
  app/javascript/controllers/import_snapshot_controller.test.js
Due: eslint, prettier

Fix frog report crash when a query has no currentScore yet
  app/assets/javascripts/components/frog_report/frog_report_modal_instance_controller.js
Due: eslint

Add responsive navbar toggler and finish BS5 spacing utility cleanup
  app/assets/javascripts/components/add_query/add_query.html
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/expand_content/_modal.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/stylesheets/animation.css
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/stylesheets/core-additions.css
  app/assets/stylesheets/judgements.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/signup.css
  app/assets/stylesheets/style.css
  app/assets/templates/views/embed.html
  app/assets/templates/views/queries.html
  app/views/layouts/_footer_core_app.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/_header_core_app.html.erb
  app/views/layouts/admin.html.erb
  app/views/layouts/analytics.html.erb
  app/views/layouts/application.html.erb
  app/views/pages/cookies.html.erb
  app/views/profiles/show.html.erb
  app/views/sessions/new.html.erb
  app/views/users/invitations/edit.html.erb
  app/views/users/passwords/edit.html.erb
  app/views/users/passwords/new.html.erb
Due: none

Update Angular-removal inventory and manual-testing guidance
  CLAUDE.md
  DEVELOPER_GUIDE.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/todo.md
Due: none

Add branch-ui-diff tooling for before/after UI screenshots
  .claude/skills/branch-ui-diff/SKILL.md
  bin/branch_ui_scenarios
  bin/ui_diff_db_restore
  bin/ui_diff_db_snapshot
  bin/ui_diff_down
  bin/ui_diff_up
Due: none

Update Playwright baselines for BS5 navbar/spacing changes
  test/playwright/angular_case_helpers.ts
  test/playwright/angular_pages_narrow_viewport.spec.ts
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-01-wizard-endpoint-accordion.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-02-case-loaded.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-03-relevancy-dropdown.png
  test/playwright/baselines/angular_pages_narrow_viewport.spec.ts/narrow-04-share-case-modal.png
  test/playwright/dom_migration_screenshots.spec.ts
  test/playwright/snapshots_and_annotations.spec.ts
Due: none

Compare last_run at UTC timestamp precision, not just date
  bin/manual_test_status
Due: none

Fix subpath-deployment redirect for /users/sign_in; detect changed manual-test paths via dirty-file mtimes
  .claude/commands/review-chat.md
  bin/manual_test_status
  config/routes.rb
  docs/manual-testing/10-books-management.md
  docs/manual-testing/tracking.yml
  docs/todo/todo.md
  test/integration/legacy_route_redirects_test.rb
Due: rubocop

Guard share-case-core teams load against a stale-case response
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/controllers/share_case_core_controller.test.js
Due: eslint, prettier

Fix a confirm-delete modal leak; expand dirty-directory detection in manual_test_status
  app/javascript/controllers/confirm_delete_controller.js
  app/javascript/controllers/confirm_delete_controller.test.js
  bin/manual_test_status
Due: eslint, prettier

Move Vitest specs to test/javascript/, not colocated with source
  .claude/skills/angular-case-migration/SKILL.md
  CLAUDE.md
  DEVELOPER_GUIDE.md
  app/helpers/application_helper.rb
  app/models/user.rb
  config/javascript_lint_scope.mjs
  docs/js_tooling.md
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  stryker.config.mjs
  test/javascript/api/fetch.test.js
  test/javascript/controllers/bs_popover_controller.test.js
  test/javascript/controllers/bs_tooltip_controller.test.js
  test/javascript/controllers/clone_case_core_controller.test.js
  test/javascript/controllers/confirm_delete_controller.test.js
  test/javascript/controllers/count_up_controller.test.js
  test/javascript/controllers/delete_case_options_core_controller.test.js
  test/javascript/controllers/import_case_controller.test.js
  test/javascript/controllers/import_snapshot_controller.test.js
  test/javascript/controllers/mapper_wizard_controller.test.js
  test/javascript/controllers/share_book_controller.test.js
  test/javascript/controllers/share_case_controller.test.js
  test/javascript/controllers/share_case_core_controller.test.js
  test/javascript/controllers/share_scorer_controller.test.js
  test/javascript/controllers/share_search_endpoint_controller.test.js
  test/javascript/controllers/text_paste_controller.test.js
  test/javascript/utils/bs_modal.test.js
  test/javascript/utils/bs_popover.test.js
  test/javascript/utils/bs_tooltip.test.js
  test/javascript/utils/count_up.test.js
  test/javascript/utils/destructive_form.test.js
  test/javascript/utils/quepid_root.test.js
  test/javascript/utils/share_case_teams.test.js
  test/javascript/utils/status_message.test.js
  test/javascript/utils/text_paste.test.js
  vitest.config.js
Due: rubocop, eslint, prettier

Simplification run
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/ai_judges_controller.rb
  app/javascript/controllers/share_book_controller.js
  app/javascript/controllers/share_case_controller.js
  app/javascript/controllers/share_scorer_controller.js
  app/javascript/utils/share_case_teams.js
  app/views/books/show.html.erb
Due: rubocop, eslint, prettier

oh one more simplification
  app/javascript/controllers/share_search_endpoint_controller.js
Due: eslint, prettier

Move share-modal dropdown tests to the shared populateTeamSelect util
  app/javascript/controllers/share_case_controller.test.js
  app/javascript/utils/share_case_teams.test.js
  test/controllers/ai_judges_controller_test.rb
Due: rubocop, eslint, prettier

Simplify share-case-core wiring; add E2E for delete/clone case options
  CLAUDE.md
  DEVELOPER_GUIDE.md
  app/javascript/controllers/share_case_core_controller.js
  app/views/shared/_share_case_core_modal.html.erb
  docs/manual-testing/tracking.yml
  test/playwright/delete_and_clone_case_options.spec.ts
Due: eslint, prettier

Fix ForUserScope's self-join at the source; guarantee books have an owner
  app/controllers/api/v1/books_controller.rb
  app/controllers/api/v1/import/books_controller.rb
  app/models/concerns/for_user_scope.rb
  app/models/user.rb
  db/migrate/20260915163412_backfill_ai_judge_owners.rb
  db/schema.rb
  test/controllers/api/v1/books_controller_test.rb
  test/controllers/api/v1/import/books_controller_test.rb
Due: rubocop

Refresh manual-testing tracker; tighten migration skill and fix Unarchive doc; swap BS5 class
  .claude/skills/angular-case-migration/SKILL.md
  app/views/judgements/_form.html.erb
  docs/manual-testing/06-core-workbench-import-export-and-explain-tools.md
  docs/manual-testing/tracking.yml
Due: none

Ensure we delete users created during tests; document best practices; include latest tracking.yml
  CLAUDE.md
  DEVELOPER_GUIDE.md
  docs/manual-testing/tracking.yml
  test/playwright/signup.spec.ts
Due: none

Simplest possible docker command to start Quepid with embedded database (#1790)
  Dockerfile.prod
  config/database.yml.sample
Due: none

Fix status-message race guard and cases table overflow; refresh manual-testing tracker
  .claude/skills/branch-ui-diff/SKILL.md
  CLAUDE.md
  app/javascript/utils/status_message.js
  app/views/cases/index.html.erb
  docs/manual-testing/tracking.yml
  docs/todo/angularjs_removal_inventory.md
  docs/todo/todo.md
  test/javascript/utils/status_message.test.js
Due: eslint, prettier

Revert accidental name change to Admin Settings
  app/views/shared/_account_dropdown.html.erb
Due: none

Make AiJudge a real STI subclass of User
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/ai_judges_controller.rb
  app/controllers/books_controller.rb
  app/helpers/books_helper.rb
  app/models/ai_judge.rb
  app/models/book.rb
  app/models/user.rb
  app/views/ai_judges/edit.html.erb
  app/views/ai_judges/new.html.erb
  app/views/ai_judges/prompts/_form.html.erb
  db/migrate/20260915214546_add_type_to_users.rb
  db/schema.rb
  lib/tasks/sample_data.thor
  test/controllers/ai_judges/prompt_controller_test.rb
  test/controllers/ai_judges_controller_test.rb
  test/fixtures/users.yml
  test/models/ai_judge_test.rb
  test/models/user_llm_key_encryption_test.rb
  test/models/user_test.rb
Due: rubocop

Exclude AI judges from the admin users listing
  app/controllers/admin/users_controller.rb
  test/controllers/admin/users_controller_test.rb
Due: rubocop

Fix IDOR on AI judge prompt editing and a migration ordering bug
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/ai_judges_controller.rb
  db/migrate/20260915163412_backfill_ai_judge_owners.rb
  test/controllers/ai_judges/prompt_controller_test.rb
Due: rubocop

Unify team_ids handling and use owned_ai_judges in AiJudgesController
  app/controllers/ai_judges_controller.rb
Due: rubocop

Code review fixes: annotations dependent:destroy, stale-response guard, shared modal-trigger base
  app/controllers/cases_controller.rb
  app/javascript/controllers/clone_case_core_controller.js
  app/javascript/controllers/core_modal_trigger_controller_base.js
  app/javascript/controllers/delete_case_options_core_controller.js
  app/javascript/controllers/share_case_core_controller.js
  app/models/user.rb
  test/models/user_test.rb
Due: rubocop, eslint, prettier

Fix automated review findings: private-doc leak and AI judge assignment IDOR
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/books_controller.rb
  test/controllers/ai_judges/prompt_controller_test.rb
  test/controllers/books_controller_test.rb
Due: rubocop

Strengthen books_helper_test.rb fixture coverage gaps flagged by review
  test/helpers/books_helper_test.rb
Due: rubocop

Update stale llm_key help text on the AI judge form
  app/views/ai_judges/_form.html.erb
Due: none

Make llm_key optional, fix Ollama port, restyle the provider suggestions box
  app/models/ai_judge.rb
  app/views/ai_judges/_form.html.erb
  test/models/ai_judge_test.rb
Due: rubocop

Rename the AI judge form's provider help box to "Model Configuration"
  app/views/ai_judges/_form.html.erb
Due: none

Fix stale book-form copy claiming AI judges must be added to a team
  app/views/books/_form.html.erb
Due: none

Fix book-form team-sharing copy implying a team is required
  app/views/books/_form.html.erb
Due: none

Fix search endpoint form's stale team-sharing copy
  app/views/search_endpoints/_form.html.erb
Due: none

Add a privacy explanation to the share/unshare modals
  app/views/shared/_share_book_modal.html.erb
  app/views/shared/_share_case_core_modal.html.erb
  app/views/shared/_share_case_modal.html.erb
  app/views/shared/_share_scorer_modal.html.erb
  app/views/shared/_share_search_endpoint_modal.html.erb
Due: none

Allow assigning owned/team-shared AI judges when creating a book
  app/controllers/books_controller.rb
  app/views/books/_form.html.erb
  test/controllers/books_controller_test.rb
Due: rubocop

Show owned books in the Judgements picker when a case has no team
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/judgements/judgements_modal_instance_controller.js
  app/assets/javascripts/services/bookSvc.js
  app/controllers/api/v1/books_controller.rb
  test/controllers/api/v1/books_controller_test.rb
Due: rubocop, eslint

Keep Mapper Wizard step numbers visible before each step unlocks
  app/views/mapper_wizards/show.html.erb
Due: none
