Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

now you can remap your data
  app/controllers/books_controller.rb
  app/views/books/edit.html.erb
  config/routes.rb
  test/controllers/books_controller_test.rb
Due: rubocop

Remove dead AngularJS case UI code and document core modules
  app/assets/javascripts/app.js
  app/assets/javascripts/components/action_icon/action_icon.html
  app/assets/javascripts/components/action_icon/action_icon_controller.js
  app/assets/javascripts/components/action_icon/action_icon_directive.js
  app/assets/javascripts/components/add_query/add_query_controller.js
  app/assets/javascripts/components/delete_case/_modal.html
  app/assets/javascripts/components/delete_case/delete_case.html
  app/assets/javascripts/components/delete_case/delete_case_controller.js
  app/assets/javascripts/components/delete_case/delete_case_directive.js
  app/assets/javascripts/components/delete_case/delete_case_modal_instance_controller.js
  app/assets/javascripts/components/move_query/move_query_modal_instance_controller.js
  app/assets/javascripts/components/new_case/new_case_controller.js
  app/assets/javascripts/controllers/mainCtrl.js
  app/assets/javascripts/controllers/queriesCtrl.js
  app/assets/javascripts/controllers/unarchiveCase.js
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/filters/caseType.js
  app/assets/javascripts/routes.js
  app/assets/javascripts/services/caseSvc.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/scorerSvc.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/templates/views/unarchiveCaseModal.html
  spec/javascripts/angular/services/caseSvc_spec.js
  spec/javascripts/angular/services/scorerSvc_spec.js
Due: eslint, prettier

Create doc chronicling work to do for AngularJS removal.
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
  docs/todo/todo.md
Due: none

Potential fix for pull request finding
  test/controllers/books_controller_test.rb
Due: rubocop

Potential fix for pull request finding
  app/controllers/books_controller.rb
Due: rubocop

now you can remap your ratings (#1751)
  app/controllers/books_controller.rb
  app/views/books/edit.html.erb
  config/routes.rb
  test/controllers/books_controller_test.rb
Due: rubocop

add the nightly icon (#1750)
  app/views/cases/index.html.erb
Due: none

Remove dead updatedScorersList event bus from scorerSvc.
  app/assets/javascripts/services/scorerSvc.js
  docs/todo/angularjs_removal_inventory.md
  docs/todo/event_bus_inventory.md
Due: eslint

Add Vitest, ESLint, and Prettier for app/javascript Stimulus stack
  .circleci/config.yml
  .devcontainer/devcontainer.json
  .githooks/pre-commit
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  CLAUDE.md
  DEVELOPER_GUIDE.md
  app/helpers/application_helper.rb
  app/javascript/api/fetch.js
  app/javascript/api/fetch.test.js
  app/javascript/controllers/bulk_judgement_controller.js
  app/javascript/controllers/import_case_controller.js
  app/javascript/controllers/mapper_wizard_controller.js
  app/javascript/utils/quepid_root.js
  app/javascript/utils/quepid_root.test.js
  app/views/layouts/admin.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/core.html.erb
  bin/eslint-staged
  bin/install-git-hooks
  bin/prettier-staged
  config/importmap.rb
  config/javascript_lint_scope.mjs
  docs/js_tooling.md
  docs/todo/angularjs_removal_inventory.md
  eslint.config.mjs
  lib/tasks/quepid.rake
  package.json
  scripts/filter_javascript_lint_paths.mjs
  scripts/filter_javascript_prettier_paths.mjs
  scripts/javascript_lint.mjs
  test/helpers/application_helper_test.rb
  vitest.config.js
  yarn.lock
Due: rubocop, eslint, prettier

Harden apiFetch CSRF handling and add Stimulus migration test coverage.
  CLAUDE.md
  DEVELOPER_GUIDE.md
  app/assets/javascripts/services/caseSvc.js
  app/helpers/application_helper.rb
  app/javascript/api/fetch.js
  app/javascript/api/fetch.test.js
  app/javascript/controllers/import_case_controller.test.js
  app/javascript/test/stimulus_stub.js
  docs/js_tooling.md
  docs/todo/todo.md
  spec/javascripts/angular/services/caseSvc_spec.js
  test/controllers/cases_controller_test.rb
  test/helpers/application_helper_test.rb
  test/playwright/stimulus_pages.spec.ts
  vitest.config.js
Due: rubocop, eslint, prettier

Fix rake for vitest
  lib/tasks/quepid.rake
Due: none

handle case along with book...
  app/controllers/books_controller.rb
  app/views/books/edit.html.erb
  test/controllers/books_controller_test.rb
  test/fixtures/cases.yml
  test/fixtures/queries.yml
  test/fixtures/ratings.yml
Due: rubocop

This is a bug fix that brings dot notation back.
  app/assets/javascripts/controllers/searchResult.js
  app/assets/templates/views/searchResult.html
Due: eslint

Code that handles custom errors from Search APIs.
  app/assets/javascripts/factories/snapshotFactory.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/javascripts/services/searchErrorTranslatorSvc.js
  app/assets/javascripts/services/snapshotSearcherSvc.js
  app/assets/templates/views/queryDiffResults.html
  app/jobs/run_case_evaluation_job.rb
  app/models/snapshot_query.rb
  app/services/fetch_service.rb
  app/views/api/v1/snapshots/_snapshot_query.json.jbuilder
  db/migrate/20260901191400_add_error_to_snapshot_queries.rb
  db/schema.rb
  lib/v8_mapper_executor.rb
  spec/javascripts/angular/factories/snapshotFactory_spec.js
  spec/javascripts/angular/services/searchErrorTranslatorSvc_spec.js
  spec/javascripts/angular/services/snapshotSearcherSvc_spec.js
  test/fixtures/snapshot_queries.yml
  test/jobs/run_case_evaluation_job_test.rb
  test/services/mapper_wizard_service_test.rb
  test/services/v8_mapper_executor_test.rb
Due: rubocop, eslint, prettier

Fix precommit! we stumbled on code generated files.
  bin/pre-commit-rubocop
Due: none

the vespa working data...
  docs/vespa_searchapi_sample/README.md
  docs/vespa_searchapi_sample/feed.jsonl
  docs/vespa_searchapi_sample/mapper_code.js
  docs/vespa_searchapi_sample/vespa/schemas/news.sd
  docs/vespa_searchapi_sample/vespa/services.xml
Due: eslint

use yarn instead of node to not get extra spurious noise form git settings
  package.json
Due: none

don't burp on code generated files!
  bin/pre-commit-rubocop
Due: none

Revamp annoucements to have a publish date (can be in the future) plus an expiration date.
  app/controllers/admin/announcements_controller.rb
  app/controllers/home_controller.rb
  app/models/announcement.rb
  app/views/admin/announcements/edit.html.erb
  app/views/admin/announcements/index.html.erb
  app/views/admin/announcements/new.html.erb
  config/routes.rb
  db/migrate/20260901203020_add_expiration_date_to_announcements.rb
  db/migrate/20260901211506_add_publish_date_to_announcements_remove_live.rb
  db/schema.rb
  test/controllers/home_controller_test.rb
  test/fixtures/announcements.yml
  test/models/announcement_test.rb
Due: rubocop

fix scripts being run. I don't know that I love all these new scripts!
  bin/eslint-staged
  bin/prettier-staged
Due: none

fix lint
  app/javascript/modules/editor.js
Due: eslint, prettier

small fixes from code review.
  app/javascript/utils/bs_popover.js
  app/javascript/utils/text_paste.js
  app/javascript/utils/text_paste.test.js
  test/playwright/screenshot-viewer-server.mjs
Due: eslint, prettier

script fixes
  bin/eslint-staged
  bin/prettier-staged
Due: none

Restore the count up feature. This was a lot of code!
  app/assets/javascripts/directives/countUp.js
  app/assets/templates/views/searchResults.html
  app/javascript/controllers/count_up_controller.js
  app/javascript/controllers/count_up_controller.test.js
  app/javascript/quepid_dom.js
  app/javascript/utils/count_up.js
  app/javascript/utils/count_up.test.js
  config/importmap.rb
  spec/javascripts/angular/directives/countUp_spec.js
  vitest.config.js
Due: rubocop, eslint, prettier

Respond to copilot feedback
  app/controllers/home_controller.rb
  app/models/announcement.rb
  db/migrate/20260901203020_add_expiration_date_to_announcements.rb
Due: rubocop

Polished this up!
  app/controllers/admin/announcements_controller.rb
  app/models/announcement.rb
  app/views/admin/announcements/edit.html.erb
  app/views/admin/announcements/new.html.erb
  db/migrate/20260901203020_add_expiration_date_to_announcements.rb
  test/controllers/admin/announcements_controller_test.rb
  test/models/announcement_test.rb
Due: rubocop

Fix adapter-independent bugs surfaced while testing against SQLite
  app/controllers/api/v1/bulk/queries_controller.rb
  app/controllers/books_controller.rb
  app/controllers/concerns/authentication/current_case_manager.rb
  app/controllers/home_controller.rb
  bin/pre-commit-rubocop
  db/migrate/20250116142557_add_owners_as_members.rb
  test/fixtures/books.yml
  test/fixtures/query_doc_pairs.yml
Due: rubocop

Add SQLite as default local dev database, keep MySQL for production
  .annotaterb.yml
  .env.example
  .github/workflows/test.yml
  DEVELOPER_GUIDE.md
  Gemfile
  Gemfile.lock
  app/controllers/admin/users/pulses_controller.rb
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/api/v1/cases_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/models/announcement.rb
  app/models/case.rb
  app/models/score.rb
  app/models/search_endpoint.rb
  app/models/selection_strategy.rb
  app/models/user.rb
  bin/setup_docker
  config/database.yml
  config/database.yml.sample
  config/initializers/sqlite3_schema_compatibility.rb
  db/migrate/20210321113736_remove_soft_deleted_queries.rb
  db/migrate/20220513180755_better_text_encoding_in_database.rb
  db/migrate/20240512144038_fix_query_doc_pairs_document_fields_type.rb
  db/migrate/20250212153702_update_query_text_collation.rb
  db/migrate/20251024193144_change_query_doc_pairs_query_text_collation_to_case_sensitive.rb
  db/migrate/20260902120000_rename_globally_colliding_index_names.rb
  db/schema.rb
  docker-compose.yml
  lib/adapter_functions.rb
  test/integration/tries_ancestry_lifecycle_test.rb
  test/services/user_case_finder_test.rb
  test/services/user_scorer_finder_test.rb
  test/services/user_team_finder_test.rb
Due: rubocop

Flip to using mysql in dev, sqllite just for prod as an opiont. Keep docker-compose on mysql.
  .env.example
  .gitignore
  DEVELOPER_GUIDE.md
  Dockerfile.prod
  bin/docker-entrypoint
  bin/setup_docker
  config/database.yml
  config/database.yml.sample
  config/initializers/sqlite3_schema_compatibility.rb
  docker-compose.yml
Due: rubocop

small tidy on the playwright images
  .gitignore
  CLAUDE.md
Due: none

lets be careful! all or nothing.
  app/controllers/books_controller.rb
Due: rubocop

handle case along with book... (#1754)
  app/controllers/books_controller.rb
  app/views/books/edit.html.erb
  test/controllers/books_controller_test.rb
  test/fixtures/cases.yml
  test/fixtures/queries.yml
  test/fixtures/ratings.yml
Due: rubocop

tell bullet not to worry
  config/environments/test.rb
Due: rubocop

fix circle
  .circleci/config.yml
Due: none

Harden LLM judgement scoring against out-of-scale and non-numeric ratings
  .rubocop.yml
  app/controllers/ai_judges/prompts_controller.rb
  app/controllers/analytics/tries_visualization_controller.rb
  app/controllers/books_controller.rb
  app/helpers/application_helper.rb
  app/helpers/home_helper.rb
  app/javascript/utils/bs_popover.test.js
  app/jobs/run_judge_judy_job.rb
  app/models/judgement.rb
  app/services/llm_service.rb
  app/views/books/_kraken_unleashed.html.erb
  bin/eslint-staged
  bin/prettier-staged
  docs/todo/todo.md
  test/controllers/ai_judges/prompt_controller_test.rb
  test/controllers/analytics/tries_visualization_test.rb
  test/controllers/books_controller_test.rb
  test/jobs/run_judge_judy_job_test.rb
  test/services/javascript_scorer_test.rb
  test/services/llm_service_test.rb
Due: rubocop, eslint, prettier

Require end date for annoucements (#1762)
  app/controllers/admin/announcements_controller.rb
  app/controllers/home_controller.rb
  app/models/announcement.rb
  app/views/admin/announcements/edit.html.erb
  app/views/admin/announcements/index.html.erb
  app/views/admin/announcements/new.html.erb
  bin/pre-commit-rubocop
  config/routes.rb
  db/migrate/20260901203020_add_expiration_date_to_announcements.rb
  db/migrate/20260901211506_add_publish_date_to_announcements_remove_live.rb
  db/schema.rb
  package.json
  test/controllers/admin/announcements_controller_test.rb
  test/controllers/home_controller_test.rb
  test/fixtures/announcements.yml
  test/models/announcement_test.rb
Due: rubocop
