Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

copilot based suggestions.
  db/migrate/20260902120000_rename_globally_colliding_index_names.rb
  test/models/score_test.rb
Due: rubocop

work on making sqlite easier and faster when we have a docke rimage
  Dockerfile.prod
  config/database.yml.sample
  config/environments/production.rb
Due: rubocop

simplify the start up.
  Dockerfile.prod
  bin/docker-entrypoint
Due: none

lint fix
  app/controllers/books_controller.rb
Due: rubocop

now that we stick to mysql for dev, we can have annotations back.
  .annotaterb.yml
  app/models/case.rb
  app/models/query.rb
  app/models/rating.rb
  app/models/score.rb
  app/models/snapshot.rb
  app/models/snapshot_query.rb
  app/models/try.rb
  test/fixtures/cases.yml
  test/fixtures/queries.yml
  test/fixtures/ratings.yml
  test/fixtures/scores.yml
  test/fixtures/snapshot_queries.yml
  test/fixtures/snapshots.yml
  test/fixtures/tries.yml
  test/models/case_test.rb
  test/models/query_test.rb
  test/models/score_test.rb
  test/models/snapshot_test.rb
  test/models/try_test.rb
Due: rubocop

Revamp the comments.
  Dockerfile.prod
  app/controllers/api/v1/bulk/queries_controller.rb
  bin/docker-entrypoint
  config/environments/production.rb
  lib/adapter_functions.rb
Due: rubocop

Bit more detail on using sqlite and solid queue
  DEVELOPER_GUIDE.md
Due: none

Sqlite is finicky!
  app/controllers/books_controller.rb
Due: rubocop

Update database adapter information in developer guide
  DEVELOPER_GUIDE.md
Due: none

Refine comments on random_query_doc_pair_for_multiple_judges
  app/models/selection_strategy.rb
Due: rubocop

lint
  app/javascript/utils/bs_tooltip.js
  app/javascript/utils/bs_tooltip.test.js
Due: eslint, prettier

rubocop
  config/application.rb
Due: rubocop

Fun with hotel wifi, their firewall kicks in sometimes! retry!
  lib/doc_generator.rb
Due: rubocop

we added a test for the rety!
  test/lib/doc_generator_test.rb
Due: rubocop

Finally chased down why we sometimes get a stall on the loading the case when going from wizard to case!
  app/views/api/v1/case_scorers/index.json.jbuilder
  test/controllers/api/v1/case_scorers_controller_test.rb
Due: rubocop

Create doc chronicling work to do for AngularJS removal.
  docs/todo/todo.md
Due: none

Extract shared DOM utils and drop count-up/timeago from Angular core.
  DEVELOPER_GUIDE.md
Due: none

Vespa support as our first Mapper Based Search Engine
  app/assets/javascripts/controllers/wizardModal.js
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/mapperBasedSearchEngineSvc.js
  app/assets/javascripts/services/searchEndpointSvc.js
  app/assets/javascripts/services/settingsSvc.js
  app/assets/stylesheets/core-additions.css
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/searchEndpoint_popup.html
  app/assets/templates/views/wizardModal.html
  app/controllers/api/v1/mapper_based_search_engines_controller.rb
  app/controllers/api/v1/tries_controller.rb
  app/models/mapper_based_search_engine.rb
  app/models/search_endpoint.rb
  app/views/api/v1/mapper_based_search_engines/index.json.jbuilder
  app/views/api/v1/search_endpoints/_search_endpoint.json.jbuilder
  app/views/api/v1/tries/_try.json.jbuilder
  config/routes.rb
  db/mapper_based_search_engines/vespa.js
  db/migrate/20260903152500_add_mapper_based_search_engine_id_to_search_endpoints.rb
  db/schema.rb
  docs/vespa_searchapi_sample/README.md
  spec/javascripts/angular/controllers/wizardModal_spec.js
  test/controllers/api/v1/mapper_based_search_engines_controller_test.rb
  test/controllers/api/v1/tries_controller_test.rb
  test/fixtures/search_endpoints.yml
  test/models/mapper_based_search_engine_test.rb
  test/models/search_endpoint_test.rb
Due: rubocop, eslint, prettier

start moving to a tmdb demo
  app/models/mapper_based_search_engine.rb
  db/mapper_based_search_engines/vespa.js
Due: rubocop, eslint

add back in the logos
  public/images/vespa-icon.png
  public/images/vespa.png
Due: none

Address PR #1764 review findings: fix share-case error state, scope core Stimulus controllers, de-flake Playwright specs
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/core_stimulus.js
  docs/todo/angularjs_removal_inventory.md
  test/playwright/dom_migration_screenshots.spec.ts
  test/playwright/share_case_smoke.spec.ts
Due: eslint, prettier

Fix dead .cursor/ reference and de-duplicate DEVELOPER_GUIDE.md screenshot section
  CLAUDE.md
  DEVELOPER_GUIDE.md
Due: none

not needed
  docs/vespa_searchapi_sample/README.md
  docs/vespa_searchapi_sample/feed.jsonl
  docs/vespa_searchapi_sample/mapper_code.js
  docs/vespa_searchapi_sample/vespa/schemas/news.sd
  docs/vespa_searchapi_sample/vespa/services.xml
Due: eslint

Port phase2's PR #1764 review fixes into phase3's share-case rewrite
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/core_stimulus.js
Due: eslint, prettier

Migrate angular-case-migration playbook from Cursor to a Claude Code skill
  .claude/skills/angular-case-migration/SKILL.md
  .gitignore
  CLAUDE.md
  docs/todo/angularjs_removal_inventory.md
Due: none

Collapse resetTeamListsForError into applyTeamLists, add regression test
  app/javascript/controllers/share_case_core_controller.js
  app/javascript/controllers/share_case_core_controller.test.js
Due: eslint, prettier

Match email case-insensitively in SQL instead of relying on the collation
  app/controllers/admin/users_controller.rb
  app/controllers/api/v1/signups_controller.rb
  app/controllers/api/v1/team_members_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/teams_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/signups_controller.rb
  app/models/user.rb
  app/services/book_importer.rb
  app/services/case_importer.rb
  lib/tasks/case.thor
  lib/tasks/sample_data.thor
  lib/tasks/user.thor
  test/controllers/users/omniauth_callbacks_controller_test.rb
  test/fixtures/users.yml
  test/models/user_test.rb
Due: rubocop

Compare numeric columns with = instead of LIKE in search filters
  app/controllers/judgements_controller.rb
  app/controllers/query_doc_pairs_controller.rb
  app/controllers/ratings_controller.rb
  app/controllers/teams_controller.rb
  test/controllers/teams_controller_test.rb
Due: rubocop

Match for_user by id instead of SELECT DISTINCT over every column
  app/models/concerns/for_user_scope.rb
Due: rubocop

allow the user to get a curl end point
  app/assets/javascripts/components/browse_query/_modal.html
  app/assets/javascripts/components/browse_query/browse_query.html
  app/assets/javascripts/components/browse_query/browse_query_controller.js
  app/assets/javascripts/components/browse_query/browse_query_directive.js
  app/assets/javascripts/components/browse_query/browse_query_modal_instance_controller.js
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/searchResults.html
  app/javascript/angular_app.js
  app/models/mapper_based_search_engine.rb
  app/models/search_endpoint.rb
  app/views/api/v1/tries/_try.json.jbuilder
  package.json
  yarn.lock
Due: rubocop, eslint

allow pagination for Vespa
  app/assets/javascripts/factories/TryFactory.js
  app/assets/javascripts/services/queriesSvc.js
  app/assets/templates/views/searchResults.html
  app/models/mapper_based_search_engine.rb
  app/views/api/v1/mapper_based_search_engines/index.json.jbuilder
  app/views/api/v1/tries/_try.json.jbuilder
Due: rubocop, eslint

api should be snake_case
  app/assets/javascripts/services/mapperBasedSearchEngineSvc.js
  app/views/api/v1/mapper_based_search_engines/index.json.jbuilder
  test/controllers/api/v1/mapper_based_search_engines_controller_test.rb
Due: rubocop, eslint

tune comment
  app/assets/javascripts/services/queriesSvc.js
Due: eslint

Compare numeric columns with = instead of LIKE in search filters (#1767)
  app/controllers/judgements_controller.rb
  app/controllers/query_doc_pairs_controller.rb
  app/controllers/ratings_controller.rb
  app/controllers/teams_controller.rb
  test/controllers/teams_controller_test.rb
Due: rubocop

Match email case-insensitively in SQL instead of relying on the collation (#1766)
  app/controllers/admin/users_controller.rb
  app/controllers/api/v1/signups_controller.rb
  app/controllers/api/v1/team_members_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/teams_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/controllers/users/signups_controller.rb
  app/models/user.rb
  app/services/book_importer.rb
  app/services/case_importer.rb
  lib/tasks/case.thor
  lib/tasks/sample_data.thor
  lib/tasks/user.thor
  test/controllers/users/omniauth_callbacks_controller_test.rb
  test/fixtures/users.yml
  test/models/user_test.rb
Due: rubocop

Match for_user by id instead of SELECT DISTINCT over every column (#1768)
  app/models/concerns/for_user_scope.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  eslint: any of: **/*.{js,mjs}
  prettier: any of: app/javascript/**/*.js, spec/javascripts/**/*.js, build_*.js, vitest.config.js, eslint.config.mjs
