Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

angular-resource unused, removing
  app/javascript/angular_app.js
  app/javascript/vendor/README.md
  app/javascript/vendor/angular-resource/LICENSE.md
  app/javascript/vendor/angular-resource/angular-resource.js
  app/javascript/vendor/angular-resource/index.js
  app/javascript/vendor/angular-resource/package.json
Due: eslint, prettier

Prior addition of vendored versions of angular dependencies incomplete, fixed
  DEVELOPER_GUIDE.md
  app/javascript/vendor/README.md
  app/javascript/vendor/angular-ui-bootstrap/index.js
  app/views/layouts/core.html.erb
  docker-compose.override.yml.example
  package.json
  spec/karma/config/unit.js
Due: eslint, prettier

Vanilla BS5 collapse to replace Angular UI collapse.
  app/assets/javascripts/directives/quepidCollapse.js
  app/assets/templates/views/stackedChart.html
  app/assets/templates/views/wizardModal.html
Due: eslint

Vanilla version of tooltip
  app/assets/javascripts/directives/quepidTooltip.js
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/queriesLayout.html
  app/assets/templates/views/searchResults.html
  app/javascript/angular_app.js
Due: eslint

Replace Angular dropdown button with vanilla
  app/assets/javascripts/components/annotation/annotation.html
  app/assets/stylesheets/bootstrap3-add.css
  app/views/layouts/_header_core_app.html.erb
Due: none

Migrate from AngularJS tabs to BS5
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/stylesheets/bootstrap5-compat.css
Due: none

Replace AngularJS typeahead with modern typeahead
  app/assets/javascripts/directives/quepidTypeahead.js
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/wizardModal.html
  app/javascript/angular_app.js
  package.json
  yarn.lock
Due: eslint

Replace Angular accordion with BS5
  CLAUDE.md
  app/assets/stylesheets/bootstrap5-compat.css
  app/assets/templates/views/wizardModal.html
  build_css.js
Due: prettier

Replace popover with BS5 equivalent
  CLAUDE.md
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/directives/quepidPopover.js
  app/assets/javascripts/directives/quepidTooltip.js
  app/assets/stylesheets/bootstrap5-popover-tooltip.css
  app/assets/templates/views/queries.html
  app/assets/templates/views/searchResult.html
  app/assets/templates/views/searchResults.html
  app/assets/templates/views/stackedChart.html
  app/assets/templates/views/targetedSearchModal.html
  build_css.js
Due: eslint, prettier

Convert modals to use BS5
  app/assets/javascripts/services/quepidModalSvc.js
  app/assets/stylesheets/bootstrap5-compat.css
  app/javascript/vendor/angular-ui-bootstrap/index.js
  app/javascript/vendor/angular-ui-bootstrap/src/modal/index-nocss.js
  app/javascript/vendor/angular-ui-bootstrap/src/modal/index.js
  app/javascript/vendor/angular-ui-bootstrap/src/modal/modal.js
  app/javascript/vendor/angular-ui-bootstrap/template/modal/backdrop.html.js
  app/javascript/vendor/angular-ui-bootstrap/template/modal/window.html
  app/javascript/vendor/angular-ui-bootstrap/template/modal/window.html.js
Due: eslint, prettier

Remove unused ngCookies and ngAnimate
  app/assets/javascripts/app.js
  app/assets/stylesheets/animation.css
  app/javascript/angular_app.js
  app/javascript/vendor/README.md
  app/javascript/vendor/angular-animate/LICENSE.md
  app/javascript/vendor/angular-animate/angular-animate.js
  app/javascript/vendor/angular-animate/index.js
  app/javascript/vendor/angular-animate/package.json
  app/javascript/vendor/angular-cookies/LICENSE.md
  app/javascript/vendor/angular-cookies/angular-cookies.js
  app/javascript/vendor/angular-cookies/index.js
  app/javascript/vendor/angular-cookies/package.json
Due: eslint, prettier

Remove BS3 code found on BS5 pages, add feature flag to allow migrating templates one at a time
  .env.example
  app/assets/javascripts/services/configurationSvc.js
  app/assets/stylesheets/bootstrap5-add.css
  app/views/admin/users/_form.html.erb
  app/views/admin/users/edit.html.erb
  app/views/admin/users/show.html.erb
  app/views/ai_judges/prompts/_form.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/core.html.erb
  app/views/profiles/show.html.erb
  config/initializers/customize_quepid.rb
  docker-compose.prod.yml
Due: rubocop, eslint

add playwright, initial tests, screenshots.
  .gitignore
  package.json
  test/playwright/auth.setup.ts
  test/playwright/baselines/core_smoke.spec.ts/explain-modal-parsing-tab.png
  test/playwright/baselines/core_smoke.spec.ts/judgement-popover.png
  test/playwright/baselines/core_smoke.spec.ts/open-case.png
  test/playwright/baselines/core_smoke.spec.ts/query-results.png
  test/playwright/baselines/core_smoke.spec.ts/snapshot-modal.png
  test/playwright/baselines/core_smoke.spec.ts/wizard-open.png
  test/playwright/core_smoke.spec.ts
  test/playwright/playwright.config.ts
  yarn.lock
Due: none

replace glyphicons with bs5 icons
  app/assets/javascripts/components/annotation/annotation.html
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/delete_case/delete_case.html
  app/assets/javascripts/components/frog_report/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/javascripts/components/move_query/_modal.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/share_case/_modal.html
  app/assets/javascripts/components/share_case/share_case.html
  app/assets/javascripts/directives/searchResults.js
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/pick_scorer.html
  app/assets/templates/views/queries.html
  app/assets/templates/views/queriesLayout.html
  app/assets/templates/views/searchResult.html
  app/assets/templates/views/searchResults.html
  app/assets/templates/views/stackedChart.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/unarchiveCaseModal.html
  app/assets/templates/views/wizardModal.html
Due: eslint

Consolidate splainer-search Angular shim, preserve credentials: 'include'
  DEVELOPER_GUIDE.md
  app/javascript/splainer_search_adapter.js
  app/javascript/splainer_search_angular_bridge.js
  app/javascript/vendor/README.md
Due: eslint

Revamp webmock from one giant file to move logic closer to specfic tests (#1695)
  test/controllers/books_controller_test.rb
  test/controllers/proxy_controller_test.rb
  test/fixtures/files/solr_statedecoded_response.json
  test/integration/judge_judy_flow_test.rb
  test/jobs/run_judge_judy_job_test.rb
  test/lib/doc_generator_test.rb
  test/services/fetch_service_test.rb
  test/services/llm_service_test.rb
  test/support/openai_stubs.rb
  test/support/webmock.rb
  test/test_helper.rb
Due: rubocop

Improve permissions checking (#1696)
  app/controllers/ai_judges_controller.rb
  app/controllers/api/v1/team_cases_controller.rb
  app/controllers/api/v1/team_scorers_controller.rb
  app/controllers/api_keys_controller.rb
  app/controllers/books/import_controller.rb
  app/controllers/bulk_judge_controller.rb
  app/controllers/home_controller.rb
  app/controllers/judgements_controller.rb
  app/controllers/query_doc_pairs_controller.rb
  app/controllers/teams_controller.rb
  docs/database.md
  test/controllers/api/v1/team_cases_controller_test.rb
  test/controllers/api/v1/team_scorers_controller_test.rb
  test/controllers/api_keys_controller_test.rb
  test/controllers/judgements_controller_test.rb
  test/controllers/teams_controller_test.rb
  test/services/llm_service_test.rb
Due: rubocop

Targeted button message
  app/views/sessions/new.html.erb
Due: none

clean up methods
  app/controllers/users/omniauth_callbacks_controller.rb
Due: rubocop

OpenID Connect Support (#1701)
  .env.example
  Gemfile
  Gemfile.lock
  app/controllers/users/omniauth_callbacks_controller.rb
  app/models/user.rb
  app/views/sessions/new.html.erb
  config/initializers/customize_quepid.rb
  config/initializers/devise.rb
  docs/operating_documentation.md
  test/controllers/users/omniauth_callbacks_controller_test.rb
Due: rubocop

fixing lint error, however I think we actually WANT this class to fix the modal link to the /scorers html view.
  app/assets/javascripts/controllers/scorer.js
Due: eslint

fix jshint warning
  app/assets/javascripts/filters/typeaheadHighlight.js
Due: eslint

fix order
  app/assets/javascripts/services/quepidModalSvc.js
Due: eslint

Update glyphicons- to bi- for BS5
  app/assets/stylesheets/animation.css
  app/assets/stylesheets/bootstrap3-add.css
Due: none

add bs5 classes for numerous modals
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/annotation/annotation.html
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/debug_matches/debug_matches.html
  app/assets/javascripts/components/delete_case/_modal.html
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/diff/_modal.html
  app/assets/javascripts/components/expand_content/expand_content.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/frog_report/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/move_query/_modal.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/query_explain/query_explain.html
  app/assets/javascripts/components/query_options/_modal.html
  app/assets/javascripts/components/query_options/query_options.html
  app/assets/javascripts/components/share_case/_modal.html
  app/assets/templates/views/pick_scorer.html
  app/assets/templates/views/snapshotModal.html
  app/assets/templates/views/targetedSearchModal.html
  app/assets/templates/views/unarchiveCaseModal.html
Due: none

Fix playwright to use correct port, turn on screenshots; consolidate CSS rules for .dropdown-toggle; fix stale updates from splainer; fix failing tests
  app/assets/stylesheets/bootstrap3-add.css
  app/javascript/splainer_search_adapter.js
  test/playwright/core_smoke.spec.ts
  test/playwright/env.ts
  test/playwright/global-setup.ts
  test/playwright/playwright.config.ts
Due: eslint

additional modals bs3 -> bs5
  app/assets/javascripts/components/annotation/_update.html
  app/assets/javascripts/components/clone_case/_modal.html
  app/assets/javascripts/components/delete_case_options/_modal.html
  app/assets/javascripts/components/diff/_modal.html
  app/assets/javascripts/components/export_case/_modal.html
  app/assets/javascripts/components/import_ratings/_modal.html
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/templates/views/targetedSearchModal.html
Due: none

additional bs3 -> bs5 updates
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/queries.html
  app/assets/templates/views/queriesLayout.html
  app/assets/templates/views/searchResults.html
Due: none

additional pages BS3 -> BS5
  app/assets/templates/views/common/flash.html
  app/assets/templates/views/common/search_flash.html
  app/assets/templates/views/customHeaders.html
  app/assets/templates/views/detailedDoc.html
  app/assets/templates/views/queryParamsDetails.html
  app/assets/templates/views/ratings/popover.html
  app/assets/templates/views/searchResult.html
Due: none

BS3 -> BS5 migration continued
  app/assets/javascripts/components/judgements/_modal.html
  app/assets/templates/views/devQueryParams.html
  app/assets/templates/views/wizardModal.html
Due: none

Align core app header actions with Bootstrap 5 styling
  app/views/layouts/_header_core_app.html.erb
Due: none

remove dead BS3
  app/assets/stylesheets/bootstrap3-add.css
Due: none

Add PurgeCSS audit tooling for BS3 core.css sources
  app/assets/stylesheets/froggy.css
  audit_css.js
  package.json
  yarn.lock
Due: none

Remove orphaned cases.css rules from deleted Angular case-listing UI
  app/assets/stylesheets/cases.css
Due: none

removing dead BS3 CSS
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/misc.css
  app/assets/stylesheets/qscore.css
Due: none

test(playwright): share Angular helpers; add page tours and popover paint check
  test/playwright/angular_case_helpers.ts
  test/playwright/angular_pages.spec.ts
  test/playwright/core_smoke.spec.ts
  test/playwright/popover_visibility.spec.ts
Due: none

chore(css): prune unused styles and drop base.css from core bundle
  CLAUDE.md
  app/assets/javascripts/services/quepidModalSvc.js
  app/assets/stylesheets/animation.css
  app/assets/stylesheets/base.css
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/stylesheets/bootstrap3.css
  app/assets/stylesheets/bootstrap5-add.css
  app/assets/stylesheets/qgraph.css
  app/assets/stylesheets/settings.css
  app/assets/stylesheets/stackedChart.css
  app/assets/stylesheets/style.css
  audit_css.js
  build_css.js
Due: eslint, prettier

Improve modal a11y, scorer navigation, and Playwright E2E coverage
  app/assets/javascripts/components/query_explain/_modal.html
  app/assets/javascripts/components/query_explain/query_explain_controller.js
  app/assets/javascripts/controllers/scorer.js
  app/assets/javascripts/services/quepidModalSvc.js
  app/assets/stylesheets/bootstrap3-add.css
  package.json
  test/playwright/angular_case_helpers.ts
  test/playwright/angular_pages.spec.ts
  test/playwright/angular_pages_narrow_viewport.spec.ts
  test/playwright/modal_a11y.spec.ts
  test/playwright/playwright.config.ts
  yarn.lock
Due: eslint

Trim unused Bootstrap 3 CSS; improve CSS audit output and docs
  CLAUDE.md
  app/assets/stylesheets/bootstrap3.css
  audit_css.js
  package.json
Due: none
