Repository o19s/quepid: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --force-exclusion {staged_files}
    eslint:
      glob: "**/*.{js,mjs}"
      run: yarn eslint {staged_files}
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "spec/javascripts/**/*.js"
        - "build_*.js"
        - "vitest.config.js"
        - "eslint.config.mjs"
      run: yarn prettier --check {staged_files}
    related-tests:
      run: bash .githooks/run-related-tests.sh

cleaner data
  lib/tasks/sample_data.thor
Due: none

Use suffix to decide rendering..
  app/assets/javascripts/filters/isImageUrl.js
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/templates/views/searchResults.html
Due: eslint

Define solid queue polling interval in env
  .env.example
  config/queue.yml
  docs/operating_documentation.md
Due: none

OpenID Connect Support
  .env.example
  Gemfile
  Gemfile.lock
  app/controllers/users/omniauth_callbacks_controller.rb
  app/models/user.rb
  app/views/sessions/new.html.erb
  config/initializers/customize_quepid.rb
  config/initializers/devise.rb
  docs/operating_documentation.md
  test/controllers/users/omniauth_callbacks_controller_test.rb
Due: rubocop

Define solid queue polling interval in env (#1689)
  .env.example
  config/queue.yml
  docs/operating_documentation.md
Due: none

Say goodbye to Dependabot, keep Renovate
  .github/dependabot.yml
Due: none

Create cleanup_renovate_branches.sh
  bin/cleanup_renovate_branches.sh
Due: none

Tweak renovate to be a bit quicker off the mark.
  renovate.json
Due: none

some updates
  Gemfile.lock
Due: none

Render as image any query text that looks like an image. (#1683)
  app/assets/javascripts/filters/isImageUrl.js
  app/assets/stylesheets/bootstrap3-add.css
  app/assets/templates/views/searchResults.html
  app/controllers/api/v1/snapshots/search_controller.rb
  lib/tasks/sample_data.thor
  test/controllers/api/v1/snapshots/search_controller_test.rb
Due: rubocop, eslint

MOre updates
  Gemfile.lock
  config/initializers/pagy.rb
Due: rubocop

Update minitest and styles
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/admin/users/pulses_controller.rb
  app/validators/json_format_validator.rb
Due: rubocop

Adopt splainer-search 3.x with Angular shim for wired services
  app/javascript/angular_app.js
  app/javascript/splainer_search_adapter.js
  package.json
  yarn.lock
Due: eslint

solr was regularly getting overwhelmed when doing thor large data; updated for better handling of solr bad responses
  lib/doc_generator.rb
  lib/tasks/sample_data.thor
Due: rubocop

Document large_data Thor flags; guard Solr JSON parse; symbolize mode options; add tests
  DEVELOPER_GUIDE.md
  lib/doc_generator.rb
  lib/tasks/sample_data.thor
  test/lib/doc_generator_test.rb
  test/tasks/sample_data_large_data_mode_test.rb
Due: rubocop

linting
  lib/tasks/sample_data.thor
  test/lib/doc_generator_test.rb
Due: rubocop

Remove depends_on from application service (#1678)
  docker-compose.prod.yml
Due: none

make badge indicate ai robot alisght more visible
  app/helpers/avatar_helper.rb
Due: rubocop

comment out code that I don't think we need anymore
  app/assets/javascripts/services/settingsSvc.js
Due: eslint

tweak the model to reference the one we download in dev.
  app/views/ai_judges/_form.html.erb
Due: none

claude-3-5 wasnt working for me.
  app/views/ai_judges/_form.html.erb
Due: none

Have actual data loaded in for the books query_doc_pairs
  app/services/ratings_generator.rb
  lib/doc_generator.rb
  lib/tasks/sample_data.thor
Due: rubocop

Let's go ahead and have our ports! Prepend with 3 and then original port number.
  docker-compose.yml
  lib/tasks/sample_data.thor
Due: none

small cleanup, trigger ci
  app/controllers/core_controller.rb
Due: rubocop

we need to mvoe webmock closer to origin, sigh
  test/support/webmock.rb
Due: rubocop

Add Azure OpenAI and Azure AI Foundry Anthropic provider support for AI Judges (#1676)
  .rubocop.yml
  CLAUDE.md
  Gemfile
  Gemfile.lock
  Procfile.dev
  app/assets/javascripts/services/settingsSvc.js
  app/controllers/admin/users/pulses_controller.rb
  app/controllers/ai_judges_controller.rb
  app/controllers/core_controller.rb
  app/helpers/avatar_helper.rb
  app/services/llm_service.rb
  app/services/ratings_generator.rb
  app/validators/json_format_validator.rb
  app/views/ai_judges/_form.html.erb
  config/initializers/pagy.rb
  docker-compose.yml
  lib/doc_generator.rb
  lib/tasks/sample_data.thor
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/.openspec.yaml
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/design.md
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/proposal.md
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/specs/azure-llm-providers/spec.md
  openspec/changes/archive/2026-03-14-support-azure-ai-endpoints/tasks.md
  openspec/config.yaml
  openspec/specs/azure-llm-providers/spec.md
  test/services/llm_service_test.rb
  test/support/webmock.rb
Due: rubocop, eslint

bump ruby gems, including mini_racer
  Gemfile.lock
Due: none

javascript done
  package.json
  yarn.lock
Due: none

Periodic bump of dependencies (#1693)
  Gemfile.lock
  package.json
  yarn.lock
Due: none

use released version of splainer
  package.json
  yarn.lock
Due: none

Fix bug in fetch test
  test/services/fetch_service_test.rb
Due: rubocop

Update docs to reflect change to vanilla splainer-search
  CHANGELOG.md
  app/javascript/splainer_search_adapter.js
Due: eslint

Remove modes, retain only timeout handling
  DEVELOPER_GUIDE.md
  lib/tasks/sample_data.thor
  test/tasks/sample_data_large_data_mode_test.rb
Due: rubocop

oops, reverting extracting functions instead of inline, not necessary to backoff
  lib/tasks/sample_data.thor
Due: none

Move SOLR_RETRYABLE_EXCEPTIONS into DocGenerator and log Solr retries
  lib/doc_generator.rb
Due: rubocop

Cache large data to avoid recalling API every time one recreates Docker image in dev.
  DEVELOPER_GUIDE.md
  lib/tasks/sample_data.thor
Due: none

fix rubocop lint
  lib/tasks/sample_data.thor
Due: none

quiet down the test
  test/lib/doc_generator_test.rb
Due: rubocop

Harden proxy_controller rules
  app/controllers/proxy_controller.rb
  test/controllers/proxy_controller_test.rb
  test/fixtures/search_endpoints.yml
  test/support/webmock.rb
Due: rubocop

Harden proxy controller (#1694)
  app/controllers/proxy_controller.rb
  test/controllers/proxy_controller_test.rb
  test/fixtures/search_endpoints.yml
  test/lib/doc_generator_test.rb
  test/support/webmock.rb
Due: rubocop
